Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janicduplessis, @shergin, @mhorowitz, @hramos, @cpojer

iOS: Resolve a build warning for 32bit devices (#19416)
  Libraries/NativeAnimation/Drivers/RCTAnimationDriver.h
Owners: none

Allow ReactActivityDelegate subclass to overrride mainComponentName (#19814)
  ReactAndroid/src/main/java/com/facebook/react/ReactActivityDelegate.java
Owners: none

ModalHostView's child view can not fill screen (#18615)
  ReactAndroid/src/main/java/com/facebook/react/views/modal/ReactModalHostView.java
Owners: none

This change fixes currently broken ReactContext listeners mechanism. (#22318)
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReactContext.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/SynchronizedWeakHashSet.java
Owners: none

Fix image scaling (#23641)
  Libraries/Image/RCTImageView.m
Owners: @shergin

Fix deadstore in RCTSpringAnimation (#23643)
  Libraries/NativeAnimation/Drivers/RCTSpringAnimation.m
Owners: none

Update openUrl (#23640)
  Libraries/LinkingIOS/RCTLinkingManager.m
Owners: none

Prop to disable the default pan responder on ScrollView that blocks touches when snapToInterval is enabled (#19110)
  Libraries/Components/ScrollResponder.js
  Libraries/Components/ScrollView/ScrollView.js
Owners: none

Fabric: Clone function for RootShadowNode
  ReactCommon/fabric/uimanager/ShadowTree.cpp
Owners: none

Fabric: More flexible definition of ConcreteViewShadowNode
  ReactCommon/fabric/components/view/ConcreteViewShadowNode.h
  ReactCommon/fabric/core/shadownode/ConcreteShadowNode.h
Owners: none

Fabric: RootShadowNode::clone() fix
  ReactCommon/fabric/components/root/RootShadowNode.cpp
Owners: none

Fabric: `event/primitive.h` was splitted into several files
  ReactCommon/fabric/events/EventDispatcher.h
  ReactCommon/fabric/events/EventEmitter.h
  ReactCommon/fabric/events/EventHandler.h
  ReactCommon/fabric/events/EventPipe.h
  ReactCommon/fabric/events/EventPriority.h
  ReactCommon/fabric/events/EventQueue.h
  ReactCommon/fabric/events/ValueFactory.h
  ReactCommon/fabric/uimanager/primitives.h
Owners: none

basic useNativeDriver functionality
  Libraries/NativeAnimation/Nodes/RCTPropsAnimatedNode.h
  Libraries/NativeAnimation/Nodes/RCTPropsAnimatedNode.m
  Libraries/NativeAnimation/RCTNativeAnimatedModule.m
  Libraries/NativeAnimation/RCTNativeAnimatedNodesManager.h
  Libraries/NativeAnimation/RCTNativeAnimatedNodesManager.m
  RNTester/RNTesterUnitTests/RCTNativeAnimatedNodesManagerTests.m
  React/Fabric/Mounting/RCTMountingManager.h
  React/Fabric/Mounting/RCTMountingManager.mm
  React/Fabric/RCTScheduler.h
  React/Fabric/RCTScheduler.mm
  React/Fabric/RCTSurfacePresenter.h
  React/Fabric/RCTSurfacePresenter.mm
  ReactCommon/fabric/uimanager/Scheduler.cpp
  ReactCommon/fabric/uimanager/Scheduler.h
Owners: @janicduplessis

Fix unused param warnings (#23642)
  RNTester/RNTesterUnitTests/RCTEventDispatcherTests.m
Owners: none

Location (iOS): Call back on requests only if they pass age and accuracy filters
  Libraries/Geolocation/RCTLocationObserver.m
Owners: none

Fix xcode warnings (#23648)
  React/CxxModule/DispatchMessageQueueThread.h
  React/React.xcodeproj/project.pbxproj
Owners: none

Call super if shouldDisableScrollInteraction false (#23647)
  React/Views/ScrollView/RCTScrollView.m
Owners: none

update props during pre allocation of views
  React/Fabric/RCTScheduler.mm
  ReactAndroid/src/main/java/com/facebook/react/fabric/FabricUIManager.java
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/Binding.cpp
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/Binding.h
  ReactAndroid/src/main/java/com/facebook/react/fabric/mounting/MountingManager.java
  ReactAndroid/src/main/java/com/facebook/react/fabric/mounting/mountitems/PreAllocateViewMountItem.java
  ReactCommon/fabric/uimanager/Scheduler.cpp
  ReactCommon/fabric/uimanager/SchedulerDelegate.h
Owners: none

Remove unused variables
  ReactAndroid/src/main/java/com/facebook/react/fabric/FabricUIManager.java
Owners: none

Use cached react tag versus id on view
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
Owners: none

fix getter of result from Image query cache (#23602)
  Libraries/Image/Image.android.js
  Libraries/Image/Image.ios.js
  RNTester/js/ImageExample.js
Owners: @shergin

extract jest config from package.json (#23638)
  jest.config.js
  package.json
Owners: @hramos, @cpojer

Remove ListView and SwipeableListView from React Native
  Libraries/Experimental/SwipeableRow/SwipeableFlatList.js
  Libraries/Experimental/SwipeableRow/SwipeableListView.js
  Libraries/Experimental/SwipeableRow/SwipeableListViewDataSource.js
  Libraries/Lists/ListView/InternalListViewType.js
  Libraries/Lists/ListView/ListView.js
  Libraries/Lists/ListView/ListViewDataSource.js
  Libraries/Lists/ListView/__mocks__/ListViewMock.js
  Libraries/react-native/react-native-implementation.js
  RNTester/js/ListViewExample.js
  RNTester/js/ListViewGridLayoutExample.js
  RNTester/js/ListViewPagingExample.js
  RNTester/js/RNTesterApp.ios.js
  RNTester/js/RNTesterList.android.js
  RNTester/js/RNTesterList.ios.js
  RNTester/js/SwipeableFlatListExample.js
  RNTester/js/SwipeableListViewExample.js
  jest/setup.js
  package.json
Owners: @hramos, @cpojer

Update _scrollAnimatedValue offset of ScrollViews. (#19481)
  Libraries/Components/ScrollView/ScrollView.js
Owners: none

Remove compatible system code for iOS8 and before (#23656)
  Libraries/Text/TextInput/Multiline/RCTUITextView.m
  React/Base/RCTKeyCommands.m
  React/Base/RCTMultipartDataTask.m
  React/Views/RCTFont.mm
Owners: @shergin

Fixed placeholder font not consistent with text's font when in multiline mode (#23654)
  Libraries/Text/TextInput/Multiline/RCTUITextView.m
Owners: none

Adds missing dependencies to rn
  package.json
  yarn.lock
Owners: @hramos, @cpojer

RCTCameraRollManager: fix "all" photos filter
  Libraries/CameraRoll/RCTCameraRollManager.m
Owners: none

Enable Slider component
  ReactAndroid/src/main/java/com/facebook/react/fabric/FabricUIManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/slider/ReactSliderManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextViewManager.java
  ReactCommon/fabric/components/image/ImageComponentDescriptor.h
  ReactCommon/fabric/components/slider/BUCK
  ReactCommon/fabric/components/slider/SliderComponentDescriptor.h
  ReactCommon/fabric/components/slider/SliderShadowNode.cpp
  ReactCommon/fabric/components/slider/SliderShadowNode.h
  ReactCommon/fabric/components/slider/platform/android/SliderMeasurementsManager.cpp
  ReactCommon/fabric/components/slider/platform/android/SliderMeasurementsManager.h
  ReactCommon/fabric/components/slider/platform/ios/SliderMeasurementsManager.cpp
  ReactCommon/fabric/components/slider/platform/ios/SliderMeasurementsManager.h
Owners: none

Fabric: Introducting State, an escape path from unidirectional data flow
  ReactCommon/fabric/components/image/ImageComponentDescriptor.h
  ReactCommon/fabric/components/slider/SliderComponentDescriptor.h
  ReactCommon/fabric/components/text/paragraph/ParagraphComponentDescriptor.h
  ReactCommon/fabric/core/BUCK
  ReactCommon/fabric/core/componentdescriptor/ComponentDescriptor.h
  ReactCommon/fabric/core/componentdescriptor/ConcreteComponentDescriptor.h
  ReactCommon/fabric/core/events/EventBeatBasedExecutor.cpp
  ReactCommon/fabric/core/events/EventDispatcher.cpp
  ReactCommon/fabric/core/events/EventDispatcher.h
  ReactCommon/fabric/core/events/EventEmitter.cpp
  ReactCommon/fabric/core/events/EventEmitter.h
  ReactCommon/fabric/core/events/EventQueue.cpp
  ReactCommon/fabric/core/events/EventQueue.h
  ReactCommon/fabric/core/shadownode/ConcreteShadowNode.h
  ReactCommon/fabric/core/shadownode/ShadowNode.cpp
  ReactCommon/fabric/core/shadownode/ShadowNode.h
  ReactCommon/fabric/core/shadownode/ShadowNodeFragment.cpp
  ReactCommon/fabric/core/shadownode/ShadowNodeFragment.h
  ReactCommon/fabric/core/state/ConcreteState.h
  ReactCommon/fabric/core/state/State.cpp
  ReactCommon/fabric/core/state/State.h
  ReactCommon/fabric/core/state/StateCoordinator.cpp
  ReactCommon/fabric/core/state/StateCoordinator.h
  ReactCommon/fabric/core/state/StateData.h
  ReactCommon/fabric/core/state/StatePipe.h
  ReactCommon/fabric/core/state/StateTarget.cpp
  ReactCommon/fabric/core/state/StateTarget.h
  ReactCommon/fabric/core/state/StateUpdate.cpp
  ReactCommon/fabric/core/state/StateUpdate.h
  ReactCommon/fabric/mounting/ShadowView.cpp
  ReactCommon/fabric/mounting/ShadowView.h
  ReactCommon/fabric/sample/SampleComponentDescriptorFactor.cpp
  ReactCommon/fabric/uimanager/ComponentDescriptorFactory.h
  ReactCommon/fabric/uimanager/Scheduler.cpp
  ReactCommon/fabric/uimanager/UIManager.cpp
  ReactCommon/fabric/uimanager/UIManager.h
  ReactCommon/fabric/uimanager/tests/UITemplateProcessorTest.cpp
Owners: none

Fabric: State-related mounting logic for iOS
  React/Fabric/Mounting/MountItems/RCTUpdateStateMountItem.h
  React/Fabric/Mounting/MountItems/RCTUpdateStateMountItem.mm
  React/Fabric/Mounting/RCTComponentViewProtocol.h
  React/Fabric/Mounting/RCTMountingManager.mm
  React/Fabric/Mounting/UIView+ComponentViewProtocol.h
  React/Fabric/Mounting/UIView+ComponentViewProtocol.mm
Owners: none

Fabric: Small refactoring in EventQueue
  ReactCommon/fabric/core/events/BatchedEventQueue.cpp
  ReactCommon/fabric/core/events/BatchedEventQueue.h
  ReactCommon/fabric/core/events/EventQueue.cpp
  ReactCommon/fabric/core/events/EventQueue.h
  ReactCommon/fabric/core/events/UnbatchedEventQueue.cpp
  ReactCommon/fabric/core/events/UnbatchedEventQueue.h
Owners: none

Fabric: LayoutConstraints::clamp()
  ReactCommon/fabric/core/layout/LayoutConstraints.cpp
  ReactCommon/fabric/core/layout/LayoutConstraints.h
Owners: none

Breaking remove `YogaNode#clone`
  ReactAndroid/src/main/java/com/facebook/yoga/YogaConfig.java
  ReactAndroid/src/main/java/com/facebook/yoga/YogaNodeJNI.java
  ReactAndroid/src/main/jni/first-party/yogajni/jni/YGJNI.cpp
Owners: none

React sync for revisions f24a0da...8e25ed2
  Libraries/Renderer/REVISION
  Libraries/Renderer/oss/ReactFabric-dev.js
  Libraries/Renderer/oss/ReactFabric-prod.js
  Libraries/Renderer/oss/ReactFabric-profiling.js
  Libraries/Renderer/oss/ReactNativeRenderer-dev.js
  Libraries/Renderer/oss/ReactNativeRenderer-prod.js
  Libraries/Renderer/oss/ReactNativeRenderer-profiling.js
  Libraries/Renderer/shims/ReactNativeTypes.js
  package.json
  yarn.lock
Owners: @hramos, @cpojer

Slider component - cache measurements, don't create measure manager on iOS
  ReactCommon/fabric/components/slider/SliderComponentDescriptor.h
  ReactCommon/fabric/components/slider/SliderShadowNode.cpp
  ReactCommon/fabric/components/slider/platform/android/SliderMeasurementsManager.cpp
  ReactCommon/fabric/components/slider/platform/android/SliderMeasurementsManager.h
  ReactCommon/fabric/components/slider/platform/ios/SliderMeasurementsManager.cpp
  ReactCommon/fabric/components/slider/platform/ios/SliderMeasurementsManager.h
Owners: none

Cleanup UITemplates / Fly logging
  ReactCommon/fabric/uimanager/UITemplateProcessor.cpp
Owners: none

- Allow overriding ENTRY_FILE on react-native-xcode.sh script (#23667)
  scripts/react-native-xcode.sh
Owners: none

.github/CODEOWNERS:

Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
**/*.md @hramos @cpojer
package.json @hramos @cpojer
