Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Add gating to the JS delta client on the remote debugger
  local-cli/server/middleware/getDevToolsMiddleware.js
  local-cli/server/util/debugger-ui/index.html
Owners: none

Don't set defaultProps for default view manager values
  Libraries/Text/Text.js
Owners: @shergin

Added Android support for loading multiple RAM bundles
  ReactAndroid/src/main/jni/react/jni/Android.mk
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.cpp
  ReactAndroid/src/main/jni/react/jni/JniJSModulesUnbundle.cpp
  ReactAndroid/src/main/jni/react/jni/JniJSModulesUnbundle.h
  ReactAndroid/src/main/jni/react/jni/JniRAMBundleRegistry.cpp
  ReactAndroid/src/main/jni/react/jni/JniRAMBundleRegistry.h
Owners: none

Wrong name
  Libraries/Components/MaskedView/MaskedViewIOS.ios.js
Owners: none

Add include_defs("//ReactAndroid/DEFS") to all BUCK files in ReactAndroid
  ReactAndroid/libs/BUCK
  ReactAndroid/src/androidTest/assets/BUCK
  ReactAndroid/src/main/java/com/facebook/perftest/BUCK
  ReactAndroid/src/main/java/com/facebook/proguard/annotations/BUCK
  ReactAndroid/src/main/java/com/facebook/quicklog/identifiers/BUCK
  ReactAndroid/src/main/java/com/facebook/systrace/BUCK
  ReactAndroid/src/main/jni/first-party/fb/jni/java/BUCK
  ReactAndroid/src/main/jni/first-party/fbgloginit/BUCK
  ReactAndroid/src/main/jni/first-party/jni-hack/BUCK
  ReactAndroid/src/main/jni/third-party/android-ndk/BUCK
  ReactAndroid/src/main/jni/third-party/glibc/BUCK
  ReactAndroid/src/main/libraries/fbcore/src/test/java/com/facebook/powermock/BUCK
  ReactAndroid/src/main/libraries/fresco/fresco-react-native/BUCK
  ReactAndroid/src/main/libraries/soloader/java/com/facebook/soloader/BUCK
  ReactAndroid/src/main/libraries/textlayoutbuilder/BUCK
  ReactAndroid/src/main/third-party/android/support-annotations/BUCK
  ReactAndroid/src/main/third-party/android/support/v4/BUCK
  ReactAndroid/src/main/third-party/java/asm/BUCK
  ReactAndroid/src/main/third-party/java/fest/BUCK
  ReactAndroid/src/main/third-party/java/infer-annotations/BUCK
  ReactAndroid/src/main/third-party/java/javapoet/BUCK
  ReactAndroid/src/main/third-party/java/jsr-305/BUCK
  ReactAndroid/src/main/third-party/java/jsr-330/BUCK
  ReactAndroid/src/main/third-party/java/mockito/BUCK
  ReactAndroid/src/main/third-party/java/okhttp/BUCK
  ReactAndroid/src/main/third-party/java/okio/BUCK
  ReactAndroid/src/main/third-party/java/sqlite/BUCK
  ReactAndroid/src/main/third-party/java/testing-support-lib/BUCK
Owners: none

Change all calls to no-console from no-console-disallow
  Libraries/Components/ScrollView/ScrollView.js
  Libraries/Core/InitializeCore.js
  Libraries/Lists/FillRateHelper.js
  Libraries/Utilities/infoLog.js
Owners: none

Fix error appearing when disconnecting HMR client
  local-cli/server/util/attachWebsocketServer.js
Owners: none

fix overflow hidden
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewManager.java
Owners: none

make view hierarchy optimizer smarter
  ReactAndroid/src/main/java/com/facebook/react/uimanager/BaseViewManager.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/NativeViewHierarchyOptimizer.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewProps.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewManager.java
Owners: none

Changed React to React Native in README.md
  README.md
Owners: none

Fixed RNTester project file for Apple TV
  React/React.xcodeproj/project.pbxproj
Owners: none

iOS: Support allowFontScaling on TextInput
  Libraries/Components/TextInput/TextInput.js
  Libraries/Text/RCTFontAttributes.h
  Libraries/Text/RCTFontAttributes.m
  Libraries/Text/RCTFontAttributesDelegate.h
  Libraries/Text/RCTText.xcodeproj/project.pbxproj
  Libraries/Text/RCTTextField.m
  Libraries/Text/RCTTextFieldManager.m
  Libraries/Text/RCTTextInput.h
  Libraries/Text/RCTTextInput.m
  Libraries/Text/RCTTextView.m
  Libraries/Text/RCTTextViewManager.m
Owners: @shergin

BREAKING: Add interface for ReactShadowNode
  ReactAndroid/src/main/java/com/facebook/react/flat/FlatReactModalShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/flat/FlatShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/flat/MoveProxy.java
  ReactAndroid/src/main/java/com/facebook/react/flat/NativeViewWrapper.java
  ReactAndroid/src/main/java/com/facebook/react/flat/RCTVirtualText.java
  ReactAndroid/src/main/java/com/facebook/react/processing/ReactPropertyProcessor.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/LayoutShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNodeImpl.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewManagersPropertyCache.java
  ReactAndroid/src/main/java/com/facebook/react/views/art/ARTVirtualNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/modal/ModalHostShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactRawTextShadowNode.java
  ReactAndroid/src/test/java/com/facebook/react/uimanager/ReactPropForShadowNodeSetterTest.java
  ReactAndroid/src/test/java/com/facebook/react/uimanager/ReactPropForShadowNodeSpecTest.java
Owners: none

RN buck: bundleCommand: add test for multiple bundles
  local-cli/util/__mocks__/fs.js
Owners: none

Re-render views when direction changes
  Libraries/Text/RCTShadowText.m
  RNTester/js/TextExample.ios.js
  React/Modules/RCTUIManager.m
  React/Views/RCTScrollContentShadowView.m
  React/Views/RCTShadowView.h
  React/Views/RCTShadowView.m
Owners: @shergin

Revert D5944488: [RN][iOS]: Re-render views when direction changes
  Libraries/Text/RCTShadowText.m
  RNTester/js/TextExample.ios.js
  React/Modules/RCTUIManager.m
  React/Views/RCTScrollContentShadowView.m
  React/Views/RCTShadowView.h
  React/Views/RCTShadowView.m
Owners: @shergin

Introducting `UIManager.setLocalData()`, the way to provide environmental data to ShadowNode
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNodeImpl.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
Owners: none

Intrinsic content size for ReactTextInput (aka autoexpandable <TextInput> on Android)
  RNTester/js/TextInputExample.android.js
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactEditText.java
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputLocalData.java
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputShadowNode.java
Owners: none

Extend unit test for buildStyleInterpolator
  Libraries/Utilities/__tests__/buildStyleInterpolator-test.js
Owners: none

Avoid eval in buildStyleInterpolator
  Libraries/Utilities/buildStyleInterpolator.js
Owners: none

Removed a wrong assert.
  React/Modules/RCTUIManager.m
Owners: @shergin

Using RCTExecuteOnMainQueue in RCTUIManager
  React/Modules/RCTUIManager.m
Owners: @shergin

Using RCTExecuteOnUIManagerQueue convinient func in all conseptually identical cases
  React/Modules/RCTUIManager.m
Owners: @shergin

reverting D5917111
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewManager.java
Owners: none

Upgrade Flow to v0.56.0
  .flowconfig
  Libraries/Components/ScrollView/ScrollView.js
  Libraries/Core/InitializeCore.js
  Libraries/Image/ImageBackground.js
  Libraries/Lists/VirtualizedList.js
  Libraries/StyleSheet/StyleSheetValidation.js
  local-cli/bundle/buildBundle.js
  local-cli/server/util/attachHMRServer.js
  local-cli/templates/HelloWorld/_flowconfig
  local-cli/util/__tests__/fs-mock-test.js
  package.json
Owners: @shergin, @hramos

DeviceInfo.isIPhoneX_deprecated: ugly and temporary way to fix your UI on iPhone X
  RNTester/js/SafeAreaViewExample.js
  React/Modules/RCTDeviceInfo.m
Owners: @shergin

Add headers prop in source array type prop
  Libraries/Image/Image.android.js
Owners: @shergin

redo D5917111
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewManager.java
Owners: none

Fix regression in Java->C++->JS ViewManagers interaction.
  Libraries/ReactNative/requireNativeComponent.js
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModuleConstantsHelper.java
Owners: none

Add a check in InitializeCore.js that PlatformConstants native module is present
  Libraries/Core/InitializeCore.js
Owners: none

Add isNetworkInspected to check if a JS VM needs to be paused on launch
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/cxxreact/JSCExecutor.h
Owners: none

Add AppIdentity and DeviceIdentity to Inspector
  React/CxxBridge/RCTCxxBridge.mm
  ReactAndroid/src/androidTest/java/com/facebook/react/testing/ReactTestHelper.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManagerBuilder.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/JSCJavaScriptExecutorFactory.java
  ReactAndroid/src/main/java/com/facebook/react/modules/systeminfo/AndroidInfoHelpers.java
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/jschelpers/InspectorInterfaces.h
Owners: @mhorowitz

Fix DeviceIdentity on RN for Android
  ReactAndroid/src/main/java/com/facebook/react/bridge/JSCJavaScriptExecutorFactory.java
Owners: none

fix spelling in ReactInstanceManager
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
Owners: none

SafeAreaView was added to OSS RNTester project file
  React/React.xcodeproj/project.pbxproj
Owners: none

bring back box-none as layout only prop
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewProps.java
Owners: none

Re-render views when direction changes
  Libraries/Text/RCTShadowText.m
  RNTester/js/TextExample.ios.js
  React/Modules/RCTUIManager.m
  React/Views/RCTScrollContentShadowView.m
  React/Views/RCTShadowView.h
  React/Views/RCTShadowView.m
Owners: @shergin

Modernize docs: remove 'use strict' from docs -- es6 has 'use strict' by default
  CONTRIBUTING.md
  docs/CommunicationAndroid.md
  docs/CommunicationIOS.md
  docs/Contributing.md
  docs/CustomWebViewIOS.md
  docs/IntegrationWithExistingApps.md
  docs/NativeModulesAndroid.md
Owners: @hramos

Fixed crash in ReactTextInputLocalData
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputLocalData.java
Owners: none

Set fishhook's header_dir to "fishhook"
  React.podspec
Owners: none
