Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Remove self capturing RCTCxxBridge->_pendingCalls
  React/CxxBridge/RCTCxxBridge.mm
Owners: @mhorowitz

Refactor and move YGNodeToString implementation to different file
  React/React.xcodeproj/project.pbxproj
  React/ReactLegacy.xcodeproj/project.pbxproj
  ReactCommon/yoga/Android.mk
  ReactCommon/yoga/yoga/YGNodePrint.cpp
  ReactCommon/yoga/yoga/YGNodePrint.h
  ReactCommon/yoga/yoga/Yoga-internal.h
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Enable end to end deltas by default on Android
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevInternalSettings.java
Owners: none

Add Systrace-based telemetry to Hermes GC.
  Libraries/Performance/Systrace.js
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/systrace/Systrace.java
Owners: none

Fix justify content with min/max constraint parent
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Fix boolean conversion in sync RN method calls.
  ReactAndroid/src/main/jni/react/jni/MethodInvoker.cpp
Owners: none

Simplify transform options + pass minify to the transformer
  jest/preprocessor.js
Owners: none

Fix assertion preventing YGNodeLayoutGet* with YGEdgeEnd
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Do not mark node as dirty if, new and old values are undefined
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Fix shrinking in non strech alignments while retaining legacy behaviour
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Add justify-content: space-evenly
  ReactAndroid/src/main/java/com/facebook/yoga/YogaJustify.java
  ReactCommon/yoga/yoga/YGEnums.cpp
  ReactCommon/yoga/yoga/YGEnums.h
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Measure nodes which have margin: auto and align-item: stretch
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

remove hard dependency on JSGlobalContextRef in inspector interfaces
  ReactCommon/jschelpers/InspectorInterfaces.h
Owners: none

move inspector out of jschelpers
  React.podspec
  React/Inspector/RCTInspector.mm
  React/React.xcodeproj/project.pbxproj
  ReactAndroid/src/main/jni/packagerconnection/BUCK
  ReactAndroid/src/main/jni/react/jni/JInspector.h
  ReactCommon/cxxreact/Android.mk
  ReactCommon/cxxreact/BUCK
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/jschelpers/BUCK
  ReactCommon/jsinspector/Android.mk
  ReactCommon/jsinspector/BUCK
  ReactCommon/jsinspector/InspectorInterfaces.cpp
  ReactCommon/jsinspector/InspectorInterfaces.h
Owners: none

Updates CircleCI config
  .circleci/config.yml
Owners: none

Bump metro-bundler@0.22.1
  package.json
Owners: @hramos

Fix logging unpacking time when it happens concurrently with eager unpacking
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReactMarkerConstants.java
Owners: none

Use different symbols for SystraceSection depending on WITH_FBYSTRACE
  ReactCommon/cxxreact/SystraceSection.h
Owners: none

【iOS】fix tvOS file 'React/Base/RCTTVRemoteHandler*' included in iOS
  React.podspec
Owners: none

Integrate React DevTools with Sonar
  package.json
Owners: @hramos

TextInput: Fixed autoscroll to cursor on Android
  RNTester/js/TextInputExample.android.js
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactEditText.java
Owners: none

Fix border-rendering in APIs < 18 cont.
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java
Owners: none

Add a bundle type to logger output and type
  local-cli/bundle/buildBundle.js
Owners: none

Suppress unused warnings on YGDefaultLog
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

closes #13034 Fixes the ScrollViewMock methods
  Libraries/Components/ScrollView/__mocks__/ScrollViewMock.js
Owners: none

Fix embeddedBundleURL update situation
  Libraries/Image/resolveAssetSource.js
Owners: @shergin

Update Performance.md
  docs/Performance.md
Owners: @hramos

Rename metro-bundler to metro
  Libraries/Image/RelativeImageStub.js
  blog/2017-06-21-react-native-monthly-1.md
  blog/2017-07-28-react-native-monthly-2.md
  docs/Images.md
  jest/preprocessor.js
  local-cli/bundle/buildBundle.js
  local-cli/bundle/bundle.js
  local-cli/bundle/types.flow.js
  local-cli/bundle/unbundle.js
  local-cli/core/index.js
  local-cli/dependencies/dependencies.js
  local-cli/server/checkNodeVersion.js
  local-cli/server/runServer.js
  local-cli/server/server.js
  local-cli/server/util/debugger-ui/DeltaPatcher.js
  local-cli/util/Config.js
  package.json
  setupBabel.js
Owners: @shergin, @hramos, @grabbou, @kureev

Export Config/defaults on Metro's main module
  local-cli/bundle/buildBundle.js
  local-cli/server/runServer.js
Owners: none

Rename ReactPackager -> Metro
  local-cli/dependencies/dependencies.js
Owners: none

Update iOS RNTester header to utilize SafeAreaView
  RNTester/js/RNTesterApp.ios.js
Owners: none

Fix $FlowFixMe in Flatlist
  Libraries/Lists/FlatList.js
Owners: none

React sync for revisions 2d23a45...9491dee
  Libraries/Renderer/REVISION
  Libraries/Renderer/ReactNativeRenderer-dev.js
  Libraries/Renderer/ReactNativeRenderer-prod.js
  Libraries/Renderer/shims/ReactFeatureFlags.js
  package.json
Owners: @hramos

Removing RCTUIManager.unsafeFlushUIChangesBeforeBatchEnds experiment
  React/Modules/RCTUIManager.h
  React/Modules/RCTUIManager.m
  React/Modules/RCTUIManagerObserverCoordinator.h
Owners: @shergin

export SeparatorsObj type for re-use in ListItems etc.
  Libraries/Lists/FlatList.js
Owners: none

Generalize ActionSheetManager items URL
  Libraries/ActionSheetIOS/RCTActionSheetManager.m
Owners: none

Implement deletion of asset-library files
  Libraries/CameraRoll/CameraRoll.js
  Libraries/CameraRoll/RCTCameraRollManager.m
Owners: none

Remove $FixMe flow suppression
  .flowconfig
  local-cli/templates/HelloWorld/_flowconfig
Owners: none

Run buildifier over all BUCK files
  ReactAndroid/src/main/jni/first-party/fbgloginit/BUCK
  ReactAndroid/src/main/jni/first-party/jni-hack/BUCK
  ReactAndroid/src/main/third-party/java/infer-annotations/BUCK
  ReactAndroid/src/test/java/com/facebook/react/uimanager/BUCK
  ReactCommon/microprofiler/BUCK
Owners: none

Tell template app .flowconfig to look for .native.js files
  local-cli/templates/HelloWorld/_flowconfig
Owners: none
