Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Fix Android 4.1-4.3 WebView source baseUrl bug
  ReactAndroid/src/main/java/com/facebook/react/views/webview/ReactWebViewManager.java
Owners: none

Return instancetype for shared RCTI18nUtil instance
  React/Modules/RCTI18nUtil.h
  React/Modules/RCTI18nUtil.m
Owners: @shergin

Improve YellowBox output format
  Libraries/ReactNative/YellowBox.js
Owners: none

Move URL escaping to Inspector layer
  React/CxxBridge/RCTCxxBridge.mm
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManagerBuilder.java
  ReactAndroid/src/main/java/com/facebook/react/modules/systeminfo/AndroidInfoHelpers.java
  ReactCommon/cxxreact/JSCExecutor.cpp
Owners: @mhorowitz

Remove usage of "this" in a callback in RCTNativeModule
  React/CxxModule/RCTNativeModule.h
  React/CxxModule/RCTNativeModule.mm
Owners: none

Litho UIImplementation
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ShadowNodeRegistry.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewManagersPropertyCache.java
Owners: none

React sync for revisions b5ac963...5f93ee6f6
  Libraries/Renderer/REVISION
  Libraries/Renderer/ReactNativeFiber-dev.js
  Libraries/Renderer/ReactNativeFiber-prod.js
  Libraries/Renderer/shims/NativeMethodsMixin.js
  Libraries/Renderer/shims/PooledClass.js
  Libraries/Renderer/shims/ReactDebugTool.js
  Libraries/Renderer/shims/ReactGlobalSharedState.js
  Libraries/Renderer/shims/ReactNative.js
  Libraries/Renderer/shims/ReactNativeBridgeEventPlugin.js
  Libraries/Renderer/shims/ReactNativeComponentTree.js
  Libraries/Renderer/shims/ReactNativePropRegistry.js
  Libraries/Renderer/shims/ReactNativeTypes.js
  Libraries/Renderer/shims/ReactPerf.js
  Libraries/Renderer/shims/ReactTypes.js
  Libraries/Renderer/shims/TouchHistoryMath.js
  Libraries/Renderer/shims/createReactNativeComponentClass.js
  Libraries/Renderer/shims/takeSnapshot.js
  package.json
Owners: @hramos

Add error customizer for React Native Android
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DisabledDevSupportManager.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/interfaces/DevSupportManager.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/interfaces/ErrorCustomizer.java
Owners: none

Documentation about ABI split in Android Release
  docs/SignedAPKAndroid.md
Owners: @hramos

Correct logo URL
  Libraries/Image/Image.android.js
  Libraries/Image/Image.ios.js
  Libraries/Image/ImageBackground.js
  RNTester/RNTesterUnitTests/RCTImageLoaderTests.m
  RNTester/js/ImageExample.js
  docs/Images.md
Owners: @shergin, @hramos

Standard Flow type for style prop
  Libraries/StyleSheet/StyleSheet.js
Owners: none

Improve Flow Types
  Libraries/Lists/SectionList.js
Owners: none

Fix the debug logging regression
  ReactAndroid/src/main/java/com/facebook/react/bridge/JavaMethodWrapper.java
Owners: none

Unify supplimentary bundle path creation logic between Android and iOS
  React/CxxBridge/RCTCxxBridge.mm
  ReactAndroid/src/main/jni/react/jni/JniRAMBundleRegistry.cpp
  ReactCommon/cxxreact/JSIndexedRAMBundleRegistry.cpp
  ReactCommon/cxxreact/JSIndexedRAMBundleRegistry.h
  ReactCommon/cxxreact/RAMBundleRegistry.cpp
  ReactCommon/cxxreact/RAMBundleRegistry.h
Owners: @mhorowitz

Unify sampling profiler and reload logic by leveraging RCTPackagerConnection
  React/Base/RCTDefines.h
  React/DevSupport/RCTPackagerClient.h
  React/DevSupport/RCTPackagerConnection.h
  React/DevSupport/RCTPackagerConnection.m
  React/DevSupport/RCTPackagerConnectionBridgeConfig.h
  React/DevSupport/RCTPackagerConnectionBridgeConfig.m
  React/DevSupport/RCTPackagerConnectionConfig.h
  React/DevSupport/RCTReloadPackagerMethod.h
  React/DevSupport/RCTReloadPackagerMethod.m
  React/Modules/RCTDevSettings.mm
Owners: @shergin

remove RCTWebSocketObserver
  Libraries/WebSocket/RCTWebSocket.xcodeproj/project.pbxproj
  Libraries/WebSocket/RCTWebSocketObserver.h
  Libraries/WebSocket/RCTWebSocketObserver.m
Owners: none

Fixed crash in [UIManager setLocalData:]
  React/Modules/RCTUIManager.m
Owners: @shergin

Replace getInt with asInt in native collections
  ReactAndroid/src/main/jni/react/jni/ReadableNativeArray.cpp
  ReactAndroid/src/main/jni/react/jni/ReadableNativeMap.cpp
  ReactAndroid/src/main/jni/react/jni/ReadableNativeMap.h
Owners: none

Remove AdSupport from React.podspec
  React.podspec
Owners: none

Redo error handling on iOS
  React/Base/RCTJSStackFrame.m
  React/Base/RCTReloadCommand.h
  React/Base/RCTReloadCommand.m
  React/Modules/RCTRedBox.h
  React/Modules/RCTRedBox.m
Owners: @shergin

Updating blog post about RTL from setAllowRTL to allowRTL (Android).
  blog/2016-08-19-right-to-left-support-for-react-native-apps.md
Owners: @hramos

Fix navigation links in documentation.
  docs/ComponentsAndAPIs.md
  docs/MoreResources.md
  docs/PlatformSpecificInformation.md
Owners: @hramos

16111 Webview contentInset docs change
  Libraries/Components/WebView/WebView.ios.js
Owners: none

Fix minor typo in ScrollView doc
  Libraries/Components/ScrollView/ScrollView.js
Owners: none

Fixing test by updating snapshot for TouchableHighlight
  Libraries/Components/Touchable/__tests__/__snapshots__/TouchableHighlight-test.js.snap
Owners: none

Fix warning on SectionList's tutorial
  docs/UsingAListView.md
Owners: @hramos

Use UnimplementedView for CheckBox on iOS
  Libraries/Components/CheckBox/CheckBox.android.js
  Libraries/Components/CheckBox/CheckBox.ios.js
  website/server/docsList.js
Owners: none

Add TimePicker modes
  Libraries/Components/TimePickerAndroid/TimePickerAndroid.android.js
  RNTester/js/TimePickerAndroidExample.js
  ReactAndroid/src/main/java/com/facebook/react/modules/timepicker/TimePickerDialogFragment.java
  ReactAndroid/src/main/java/com/facebook/react/modules/timepicker/TimePickerDialogModule.java
  ReactAndroid/src/main/java/com/facebook/react/modules/timepicker/TimePickerMode.java
  ReactAndroid/src/main/res/shell/values/styles.xml
Owners: none

Introducing PseudoUIManagerQueue
  React/Modules/RCTUIManagerUtils.h
  React/Modules/RCTUIManagerUtils.m
Owners: @shergin

RCTTextInput: Fixed problem with accessory view & 3rd party libs
  Libraries/Text/RCTTextInput.m
Owners: @shergin

Using `StyleSheet.hairlineWidth` in TextInputExample
  RNTester/js/TextInputExample.ios.js
Owners: none

`[RCTShadowView localData]` is now only setter.
  React/Views/RCTShadowView.h
  React/Views/RCTShadowView.m
Owners: @shergin

Updated project file to fix Apple TV build
  Libraries/Text/RCTText.xcodeproj/project.pbxproj
Owners: none

Deprecated stuff was removed from RCTUIManager
  React/Modules/RCTUIManager.h
  React/Modules/RCTUIManager.m
Owners: @shergin

Opensourcing RCTWrapper
  Libraries/Wrapper/Example/RCTWrapperExampleView.h
  Libraries/Wrapper/Example/RCTWrapperExampleView.m
  Libraries/Wrapper/Example/RCTWrapperExampleViewController.h
  Libraries/Wrapper/Example/RCTWrapperExampleViewController.m
  Libraries/Wrapper/Example/RCTWrapperReactRootViewController.h
  Libraries/Wrapper/Example/RCTWrapperReactRootViewController.m
  Libraries/Wrapper/Example/RCTWrapperReactRootViewManager.h
  Libraries/Wrapper/Example/RCTWrapperReactRootViewManager.m
  Libraries/Wrapper/RCTWrapper.h
  Libraries/Wrapper/RCTWrapperShadowView.h
  Libraries/Wrapper/RCTWrapperShadowView.m
  Libraries/Wrapper/RCTWrapperView.h
  Libraries/Wrapper/RCTWrapperView.m
  Libraries/Wrapper/RCTWrapperViewControllerHostingView.h
  Libraries/Wrapper/RCTWrapperViewControllerHostingView.m
  Libraries/Wrapper/RCTWrapperViewManager.h
  Libraries/Wrapper/RCTWrapperViewManager.m
Owners: none

Deprecated stuff was removed from RCTShadowView
  React/Views/RCTShadowView.h
  React/Views/RCTShadowView.m
Owners: @shergin

Updated swift section to match current code base
  docs/NativeModulesIOS.md
Owners: @hramos

Direct assignment of the ref to avoid warning when mocking.
  jest/setup.js
Owners: none

Document adb shell input keyevent 82
  docs/Debugging.md
Owners: @hramos

Add finally method to Promise flow definition
  flow/Promise.js
Owners: none
