Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @facebook/react-native, @janicduplessis, @shergin, @javache, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @facebook/react-native
blog/* @facebook/react-native
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin @javache
React/Views/* @shergin @javache
React/Modules/* @shergin @javache
React/CxxBridge/* @javache
React/Executors/* @javache
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
ReactCommon/* @javache
website/* @facebook/react-native
website/showcase.json @facebook/react-native
package.json @facebook/react-native
website/package.json @facebook/react-native
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Use proper script way to clone Emoji files from www
  Libraries/polyfills/String.prototype.es6.js
Owners: none

Reduce possible race condition on gc of catalyst instance
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstanceImpl.java
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.cpp
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.h
Owners: none

react-native: release new babel-preset version
  babel-preset/package.json
Owners: @facebook/react-native

Report perf counters always when we call flushPendingBatches()
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIViewOperationQueue.java
Owners: none

RN local-cli: format and @flow filterPlatformAssetScales
  local-cli/bundle/filterPlatformAssetScales.js
Owners: none

Make gYGNodeDefaults const
  ReactCommon/yoga/yoga/Yoga.c
Owners: none

ScrollView: `contentOffset` validatation now respects `contentInset`
  React/Views/RCTScrollView.m
Owners: @shergin, @javache

Split up AnimatedImplementation.js
  Libraries/Animated/src/AnimatedEvent.js
  Libraries/Animated/src/AnimatedImplementation.js
  Libraries/Animated/src/NativeAnimatedHelper.js
  Libraries/Animated/src/__tests__/Interpolation-test.js
  Libraries/Animated/src/animations/Animation.js
  Libraries/Animated/src/animations/DecayAnimation.js
  Libraries/Animated/src/animations/SpringAnimation.js
  Libraries/Animated/src/animations/TimingAnimation.js
  Libraries/Animated/src/createAnimatedComponent.js
  Libraries/Animated/src/nodes/AnimatedAddition.js
  Libraries/Animated/src/nodes/AnimatedDiffClamp.js
  Libraries/Animated/src/nodes/AnimatedDivision.js
  Libraries/Animated/src/nodes/AnimatedInterpolation.js
  Libraries/Animated/src/nodes/AnimatedModulo.js
  Libraries/Animated/src/nodes/AnimatedMultiplication.js
  Libraries/Animated/src/nodes/AnimatedNode.js
  Libraries/Animated/src/nodes/AnimatedProps.js
  Libraries/Animated/src/nodes/AnimatedStyle.js
  Libraries/Animated/src/nodes/AnimatedTracking.js
  Libraries/Animated/src/nodes/AnimatedTransform.js
  Libraries/Animated/src/nodes/AnimatedValue.js
  Libraries/Animated/src/nodes/AnimatedValueXY.js
  Libraries/Animated/src/nodes/AnimatedWithChildren.js
Owners: none

Fixed issue with path containing spaces
  scripts/react-native-xcode.sh
Owners: none

Return meaningful error when no devices available
  local-cli/runIOS/runIOS.js
Owners: none

Expose method to set custom baseline function
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNode.java
Owners: none

Fix const declaration mismatch and double/float mix
  ReactCommon/yoga/yoga/Yoga.c
  ReactCommon/yoga/yoga/Yoga.h
Owners: none

Add @providesModule annotation to Animated files
  Libraries/Animated/src/AnimatedEvent.js
  Libraries/Animated/src/animations/Animation.js
  Libraries/Animated/src/animations/DecayAnimation.js
  Libraries/Animated/src/animations/SpringAnimation.js
  Libraries/Animated/src/animations/TimingAnimation.js
  Libraries/Animated/src/createAnimatedComponent.js
  Libraries/Animated/src/nodes/AnimatedAddition.js
  Libraries/Animated/src/nodes/AnimatedDiffClamp.js
  Libraries/Animated/src/nodes/AnimatedDivision.js
  Libraries/Animated/src/nodes/AnimatedInterpolation.js
  Libraries/Animated/src/nodes/AnimatedModulo.js
  Libraries/Animated/src/nodes/AnimatedMultiplication.js
  Libraries/Animated/src/nodes/AnimatedNode.js
  Libraries/Animated/src/nodes/AnimatedProps.js
  Libraries/Animated/src/nodes/AnimatedStyle.js
  Libraries/Animated/src/nodes/AnimatedTracking.js
  Libraries/Animated/src/nodes/AnimatedTransform.js
  Libraries/Animated/src/nodes/AnimatedValue.js
  Libraries/Animated/src/nodes/AnimatedValueXY.js
  Libraries/Animated/src/nodes/AnimatedWithChildren.js
Owners: none

Revert "Add a new babel transformer for inlining regenerator-runtime per file"
  babel-preset/configs/main.js
  babel-preset/transforms/transform-regenerator-runtime-insertion.js
  package.json
Owners: @facebook/react-native

Fix stylesheet registery
  Libraries/StyleSheet/StyleSheet.js
Owners: none

Update flow-bin in package.json to ^0.53.0 (to match .flowconfig)
  package.json
Owners: @facebook/react-native

Adjust row height by font size in PickerIOS
  React/Views/RCTPicker.m
Owners: @shergin, @javache

fix and enrich Vibration docs
  Libraries/Vibration/Vibration.js
Owners: none

RCTShadowView have got `rootView` property
  RNTester/RNTesterUnitTests/RCTComponentPropsTests.m
  React/Modules/RCTUIManager.m
  React/React.xcodeproj/project.pbxproj
  React/Views/RCTShadowView+Internal.h
  React/Views/RCTShadowView+Internal.m
  React/Views/RCTShadowView.h
Owners: @shergin, @javache

RN local-cli: fix saveAsset scales filtering
  local-cli/bundle/saveAssets.js
Owners: none

Fix HMR when adding/renaming assets
  local-cli/server/util/attachHMRServer.js
Owners: none

Move cleanup back to destructor
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstanceImpl.java
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.cpp
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.h
Owners: none

Metro HMR: Add file parameter to getShallowDependencies()
  local-cli/server/util/attachHMRServer.js
Owners: none

Fix ENABLE_INSPECTOR ifdef not found during dev
  React/Base/RCTBridge.m
  React/Base/RCTDefines.h
  React/Modules/RCTDevSettings.mm
Owners: @shergin, @javache

Update icebox message
  bots/IssueCommands.txt
Owners: none

New guide: Improving User Experience
  docs/Accessibility.md
  docs/ImprovingUserExperience.md
  docs/Timers.md
  website/src/react-native/img/hitslop.mp4
  website/src/react-native/img/keyboardavoidingview.mp4
  website/src/react-native/img/ripple.mp4
  website/src/react-native/img/textinput.mp4
Owners: @facebook/react-native

Allow packager to be opened in specific terminal on Linux and Mac OS X
  local-cli/runAndroid/runAndroid.js
Owners: none
