Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janicduplessis, @shergin, @mhorowitz, @hramos, @cpojer

.github/CODEOWNERS:

Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
**/*.md @hramos @cpojer
package.json @hramos @cpojer

add new config resetBeforeIteration for Animated.loop (#20561)
  Libraries/Animated/src/AnimatedImplementation.js
  Libraries/Animated/src/__tests__/Animated-test.js
Owners: none

Add autoComplete prop (#21575)
  Libraries/Components/TextInput/TextInput.js
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputManager.java
Owners: none

Enable edge antialiasing only for transforms with perspective (#19360)
  React/Base/RCTModuleMethod.mm
  React/Modules/RCTUIManager.m
  React/Views/RCTViewManager.m
Owners: @shergin

deploy 0.93
  .flowconfig
  .flowconfig.android
  Libraries/Components/TextInput/TextInput.js
  Libraries/Components/Touchable/TouchableBounce.js
  Libraries/Components/Touchable/TouchableHighlight.js
  Libraries/Components/Touchable/TouchableOpacity.js
  Libraries/Core/Timers/JSTimers.js
  Libraries/Lists/ListView/InternalListViewType.js
  Libraries/Lists/VirtualizedList.js
  RNTester/js/ScrollViewSimpleExample.js
  package.json
  template/_flowconfig
  yarn.lock
Owners: @hramos, @cpojer

Don't attempt to load RCTDevLoadingView lazily
  React/Base/RCTBridge.m
  React/CxxBridge/RCTCxxBridge.mm
Owners: @shergin, @mhorowitz

Remove custom border logic from RCTView
  React/Views/RCTView.m
Owners: @shergin

TM iOS: allow fallback __turbo__* methods to proxy NSDictionary types to stricter types
  ReactCommon/turbomodule/core/platform/ios/RCTTurboModule.mm
Owners: none

FBiOS TM: make sure to lazily load view managers
  React/Modules/RCTUIManager.m
Owners: @shergin

Set UIManagerType as required for source_only_abi
  ReactAndroid/src/main/java/com/facebook/react/uimanager/common/BUCK
Owners: none

Use ReadableNativeMap equality on UpdateLocalData (#23408)
  ReactAndroid/src/main/java/com/facebook/react/fabric/mounting/MountingManager.java
Owners: none

Implement equality for ReadableNativeMap
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/CatalystNativeJSToJavaParametersTestCase.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReadableNativeMap.java
  ReactAndroid/src/main/java/com/facebook/react/fabric/mounting/MountingManager.java
Owners: none

Implement equality for RedableNativeArray
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReadableNativeArray.java
Owners: none

Add prop to configure `importantForAutofill`. (#22763)
  Libraries/Components/TextInput/TextInput.js
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputManager.java
Owners: none

Apply latest shadow view workflow description (#23485)
  React/Views/RCTShadowView.h
Owners: @shergin

Add `folly_compiler_flags` to Core subspec (#23488)
  React.podspec
Owners: none

Remove android initialAppState fallback check (#23487)
  Libraries/AppState/AppState.js
  React/Modules/RCTAppState.m
Owners: @shergin

add clang-format to current toolchain (#23434)
  package.json
  yarn.lock
Owners: @hramos, @cpojer

SYSTEM_ALERT_WINDOW only in debug builds (#23504)
  ReactAndroid/src/main/AndroidManifest.xml
  template/android/app/src/debug/AndroidManifest.xml
  template/android/app/src/main/AndroidManifest.xml
Owners: none

Add `YogaNode.create()`
  ReactAndroid/src/main/java/com/facebook/yoga/YogaNode.java
Owners: none

Remove SnapshotViewIOS from public interface (#23497)
  Libraries/react-native/react-native-implementation.js
  RNTester/js/RNTesterApp.ios.js
  RNTester/js/SnapshotViewIOS.android.js
  RNTester/js/SnapshotViewIOS.ios.js
Owners: none

Upgrade Jest to 24.1.0
  package.json
  yarn.lock
Owners: @hramos, @cpojer

feat(permissions-android): export Rationale type and add missing properties according to docs (#23510)
  Libraries/PermissionsAndroid/PermissionsAndroid.js
Owners: none

`flexWrap` should be kebab-case inside inline-style (#761)
  ReactCommon/yoga/yoga/YGNodePrint.cpp
Owners: none

Add support for context-aware measure and baseline functions
  ReactCommon/yoga/yoga/YGNode.cpp
  ReactCommon/yoga/yoga/YGNode.h
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Allow to calculate layout with context
  ReactCommon/yoga/yoga/Yoga-internal.h
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Call logger from within `YGConfig`
  ReactCommon/yoga/yoga/YGConfig.cpp
  ReactCommon/yoga/yoga/YGConfig.h
  ReactCommon/yoga/yoga/Yoga.cpp
  ReactCommon/yoga/yoga/log.cpp
Owners: none

Add support for context-aware logging functions
  ReactAndroid/src/main/jni/first-party/yogajni/jni/YGJNI.cpp
  ReactCommon/yoga/yoga/YGConfig.cpp
  ReactCommon/yoga/yoga/YGConfig.h
  ReactCommon/yoga/yoga/Yoga.cpp
  ReactCommon/yoga/yoga/log.cpp
  ReactCommon/yoga/yoga/log.h
Owners: none

Make logging private
  React/React.xcodeproj/project.pbxproj
  ReactAndroid/src/main/jni/first-party/yogajni/jni/YGJNI.cpp
  ReactCommon/yoga/yoga/Yoga.cpp
  ReactCommon/yoga/yoga/Yoga.h
  ReactCommon/yoga/yoga/log.cpp
  ReactCommon/yoga/yoga/log.h
Owners: none

Call measure and baseline fns within `YGNode`
  ReactCommon/yoga/yoga/YGNode.cpp
  ReactCommon/yoga/yoga/YGNode.h
  ReactCommon/yoga/yoga/YGNodePrint.cpp
  ReactCommon/yoga/yoga/Yoga.cpp
  ReactCommon/yoga/yoga/Yoga.h
  ReactCommon/yoga/yoga/instrumentation.h
Owners: none

Make node printing private
  ReactCommon/yoga/yoga/YGNode.cpp
  ReactCommon/yoga/yoga/YGNode.h
  ReactCommon/yoga/yoga/YGNodePrint.cpp
  ReactCommon/yoga/yoga/Yoga.cpp
  ReactCommon/yoga/yoga/Yoga.h
Owners: none

Add support for context-aware print functions
  ReactCommon/yoga/yoga/YGNode.cpp
  ReactCommon/yoga/yoga/YGNode.h
  ReactCommon/yoga/yoga/YGNodePrint.cpp
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Use new yearless copyright header format
  React/Fabric/RCTTouchableComponentViewProtocol.h
  ReactAndroid/src/main/java/com/facebook/react/jscexecutor/JSCExecutor.java
  ReactAndroid/src/main/java/com/facebook/react/jscexecutor/JSCExecutorFactory.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementationProvider.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/FontMetricsUtil.java
  ReactCommon/fabric/components/view/TouchEventEmitter.cpp
  ReactCommon/fabric/components/view/TouchEventEmitter.h
  packages/react-native-codegen/src/generators/GenerateViewConfigJs.js
  packages/react-native-codegen/src/generators/__tests__/__snapshots__/GenerateViewConfigJs-test.js.snap
Owners: none

Switch to `YogaNode.create()`
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNodeImpl.java
Owners: none

Extract abstract class `YogaNode`
  ReactAndroid/src/main/java/com/facebook/yoga/YogaConfig.java
  ReactAndroid/src/main/java/com/facebook/yoga/YogaNode.java
  ReactAndroid/src/main/java/com/facebook/yoga/YogaNodeJNI.java
  ReactAndroid/src/main/jni/first-party/yogajni/jni/YGJNI.cpp
Owners: none

Fix AssertionError in EventDispatcher
  ReactAndroid/src/main/java/com/facebook/react/uimanager/events/EventDispatcher.java
Owners: none

Fabric: Fixed crash when LayoutMetrics contained NaN values
  React/Fabric/Mounting/UIView+ComponentViewProtocol.mm
Owners: none

React scroll views should group accessibility children
  React/Views/ScrollView/RCTScrollView.m
Owners: none

Fix testScrollViewExample flakiness (#23541)
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1-iOS12@2x.png
  RNTester/js/ScrollViewExample.js
Owners: none

Remove fake OCMock group (#23546)
  RNTester/RNTester.xcodeproj/project.pbxproj
Owners: none

Add ImageIO nullable check in Image module (#23544)
  Libraries/Image/RCTImageUtils.m
Owners: @shergin
