Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

Mention correct shortcut to open "Developer Tools"
  local-cli/server/util/debugger.html
Owners: none

Expose barStyle for NavigatorIOS and TabBarIOS
  Libraries/Components/Navigation/NavigatorIOS.ios.js
  Libraries/Components/TabBarIOS/TabBarIOS.ios.js
  RNTester/js/NavigatorIOSBarStyleExample.js
  RNTester/js/RNTesterList.ios.js
  RNTester/js/TabBarIOSBarStyleExample.js
  React/Views/RCTNavItem.h
  React/Views/RCTNavItemManager.m
  React/Views/RCTTabBar.h
  React/Views/RCTTabBar.m
  React/Views/RCTTabBarManager.m
  React/Views/RCTWrapperViewController.m
Owners: @shergin

Delete empty file
  Windows
Owners: none

BREAKING: iOS: Fix case sensitivity build warning in Xcode 8.3
  React.podspec
  ReactCommon/yoga/Yoga.podspec
  docs/IntegrationWithExistingApps.md
Owners: @hramos

Increase RCTTestRunner timeouts
  Libraries/RCTTest/RCTTestRunner.h
  Libraries/RCTTest/RCTTestRunner.m
Owners: none

Add Android React Native Checkbox
  Libraries/Components/CheckBox/CheckBox.js
  Libraries/react-native/react-native-implementation.js
  RNTester/js/CheckBoxExample.js
  RNTester/js/RNTesterList.android.js
  ReactAndroid/src/main/java/com/facebook/react/shell/BUCK
  ReactAndroid/src/main/java/com/facebook/react/shell/MainReactPackage.java
  ReactAndroid/src/main/java/com/facebook/react/views/checkbox/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/checkbox/ReactCheckBox.java
  ReactAndroid/src/main/java/com/facebook/react/views/checkbox/ReactCheckBoxEvent.java
  ReactAndroid/src/main/java/com/facebook/react/views/checkbox/ReactCheckBoxManager.java
  website/server/docsList.js
Owners: none

fix missing @providesModule
  RNTester/js/NavigatorIOSBarStyleExample.js
  RNTester/js/TabBarIOSBarStyleExample.js
Owners: none

Fix Yoga podspec casing
  ReactCommon/yoga/yoga.podspec
Owners: none

Remove v4 dependency from Catalyst + RN libraries
  ReactAndroid/src/main/java/com/facebook/react/modules/blob/BUCK
Owners: none

Add Troubleshooting Guide to Sidebar.
  docs/Troubleshooting.md
  docs/Upgrading.md
Owners: @hramos

revert D5609280
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/ReactRootView.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/TaggedRootView.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
Owners: none

Add fb4a native modules to snapshot tests
  ReactAndroid/src/androidTest/java/com/facebook/react/testing/ReactAppTestActivity.java
  ReactAndroid/src/androidTest/java/com/facebook/react/testing/ReactInstanceSpecForTest.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManagerBuilder.java
Owners: none

Fix panResponder nativeEvent.locationX and locationY values on touch move
  ReactAndroid/src/main/java/com/facebook/react/uimanager/JSTouchDispatcher.java
Owners: none

Support flash scroll indicators for android
  Libraries/Components/ScrollResponder.js
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactHorizontalScrollView.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactHorizontalScrollViewManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactScrollView.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactScrollViewCommandHelper.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactScrollViewManager.java
Owners: none

Force original ime option when using multiline with blurOnSubmit in a…
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactEditText.java
  ReactAndroid/src/test/java/com/facebook/react/views/textinput/ReactTextInputPropertyTest.java
Owners: none

iOS: Warn about slow main thread React methods
  React/Base/RCTModuleMethod.mm
Owners: @shergin

Update AnimatedImplementation.js
  Libraries/Animated/src/AnimatedImplementation.js
Owners: none

Disambiguate error messages in MethodCall
  ReactCommon/cxxreact/MethodCall.cpp
Owners: none

iOS: Geolocation: Allow skipping of permission prompts
  Libraries/Geolocation/Geolocation.js
  Libraries/Geolocation/RCTLocationObserver.m
Owners: none

Call reloadImage less often when setting Image props
  Libraries/Image/RCTImageView.m
Owners: @shergin

Remove 'Debug JS on-device (experimental)' feature
  React/Inspector/RCTInspectorPackagerConnection.h
  React/Inspector/RCTInspectorPackagerConnection.m
  ReactAndroid/src/main/java/com/facebook/react/bridge/Inspector.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevServerHelper.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/InspectorPackagerConnection.java
Owners: none

Update _flowconfig
  Libraries/Blob/URL.js
  local-cli/templates/HelloWorld/_flowconfig
Owners: none

Expose webSocketDidOpen in RCTReconnectingWebSocket
  Libraries/WebSocket/RCTReconnectingWebSocket.h
  Libraries/WebSocket/RCTReconnectingWebSocket.m
  Libraries/WebSocket/RCTWebSocketObserver.m
  React/DevSupport/RCTPackagerConnection.m
Owners: none

Fix Prettier
  Libraries/Lists/SectionList.js
  Libraries/Lists/VirtualizedList.js
  Libraries/Lists/VirtualizedSectionList.js
  RNTester/js/CameraRollExample.js
Owners: none

Fix React Native open source
  IntegrationTests/IntegrationTestsApp.js
  Libraries/Animated/src/AnimatedEvent.js
  Libraries/Components/ActivityIndicator/ActivityIndicator.js
  Libraries/Components/CheckBox/CheckBox.js
  Libraries/Components/ScrollView/ScrollView.js
  Libraries/Components/Switch/Switch.js
  Libraries/Components/TextInput/TextInput.js
  Libraries/Components/Touchable/TouchableBounce.js
  Libraries/Components/Touchable/TouchableHighlight.js
  Libraries/Experimental/SwipeableRow/SwipeableListView.js
  Libraries/Experimental/WindowedListView.js
  Libraries/Image/ImageBackground.js
  Libraries/Lists/FlatList.js
  Libraries/Lists/ListView/ListView.js
  Libraries/Lists/MetroListView.js
  Libraries/Lists/SectionList.js
  Libraries/Lists/VirtualizedList.js
  Libraries/Lists/VirtualizedSectionList.js
  Libraries/ReactNative/AppContainer.js
  Libraries/ReactNative/verifyPropTypes.js
  Libraries/Renderer/shims/ReactNativeTypes.js
  RNTester/js/ExampleTypes.js
  RNTester/js/ImageExample.js
  RNTester/js/PointerEventsExample.js
  RNTester/js/RNTesterApp.ios.js
  RNTester/js/RNTesterStatePersister.js
  RNTester/js/ScrollViewExample.js
Owners: @shergin

Fix Image.getSize() according to image orientation
  Libraries/Image/RCTImageLoader.m
Owners: @shergin

add debug overlay
  ReactAndroid/src/main/java/com/facebook/debug/debugoverlay/BUCK
  ReactAndroid/src/main/java/com/facebook/debug/debugoverlay/DebugOverlayTag.java
  ReactAndroid/src/main/java/com/facebook/debug/tags/BUCK
  ReactAndroid/src/main/java/com/facebook/debug/tags/ReactDebugOverlayTags.java
Owners: none

Update systrace markers
  ReactCommon/cxxreact/Instance.cpp
  ReactCommon/cxxreact/ModuleRegistry.cpp
Owners: none

download bundle atomically
  ReactAndroid/src/main/java/com/facebook/react/devsupport/BundleDownloader.java
Owners: none

fix content appeared logging
  ReactAndroid/src/main/java/com/facebook/react/ReactRootView.java
Owners: none

fix logging of tagged markers
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReactMarker.java
Owners: none

encapsulate JS source in RCTSource object
  React/Base/RCTBatchedBridge.mm
  React/Base/RCTJavaScriptLoader.h
  React/Base/RCTJavaScriptLoader.mm
  React/CxxBridge/RCTCxxBridge.mm
Owners: @shergin, @mhorowitz

Fix flow types of getShallowDependencies()
  local-cli/server/util/attachHMRServer.js
Owners: none

Stop CxxBridge run loop when bridge is invalidated
  React/CxxBridge/RCTCxxBridge.mm
Owners: @mhorowitz

Turn on Flow for EventEmitter
  Libraries/EventEmitter/MissingNativeEventEmitterShim.js
  Libraries/Network/XMLHttpRequest.js
  Libraries/vendor/emitter/EmitterSubscription.js
  Libraries/vendor/emitter/mixInEventEmitter.js
  local-cli/templates/HelloNavigation/components/KeyboardSpacer.js
Owners: none

Remove the restriction on importing bridge:cxxreact
  ReactAndroid/src/main/jni/react/jni/Android.mk
  ReactAndroid/src/main/jni/react/jni/AndroidJSCFactory.cpp
  ReactAndroid/src/main/jni/react/jni/AndroidJSCFactory.h
  ReactAndroid/src/main/jni/react/jni/BUCK
  ReactAndroid/src/main/jni/react/jni/OnLoad.cpp
  ReactCommon/cxxreact/BUCK
Owners: none

Remove v4 support library from RN deps
  ReactAndroid/src/main/java/com/facebook/react/views/checkbox/BUCK
Owners: none

Fix empty @ReactModuleList generated code
  ReactAndroid/src/main/java/com/facebook/react/module/processing/ReactModuleSpecProcessor.java
Owners: none

Add "- React Native" to all pages title in doc section
  website/core/Site.js
Owners: none

Create 2017-08-28-react-native-monthly-3.md
  blog/2017-08-30-react-native-monthly-3.md
Owners: @hramos

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev
