Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Revert D5939688: [hermes][rn] Share logPerfMarker with hermes
  ReactAndroid/src/main/jni/react/jni/AndroidJSCFactory.cpp
  ReactAndroid/src/main/jni/react/jni/BUCK
  ReactAndroid/src/main/jni/react/jni/ReactMarker.cpp
  ReactAndroid/src/main/jni/react/jni/ReactMarker.h
Owners: none

Fixed homogenous typo
  Libraries/Lists/SectionList.js
  docs/UsingAScrollView.md
Owners: @hramos

RN: Improve NativeEventEmitter Flow Types
  Libraries/EventEmitter/NativeEventEmitter.js
Owners: none

add release notes/changelog requirement to PR Template
  .github/PULL_REQUEST_TEMPLATE.md
  danger/dangerfile.js
Owners: none

Un-revert logMarker for hermes diff
  ReactAndroid/src/main/jni/react/jni/Android.mk
  ReactAndroid/src/main/jni/react/jni/AndroidJSCFactory.cpp
  ReactAndroid/src/main/jni/react/jni/BUCK
  ReactAndroid/src/main/jni/react/jni/ReactMarker.cpp
  ReactAndroid/src/main/jni/react/jni/ReactMarker.h
Owners: none

Migrate Travis over to Circle
  .circleci/config.yml
  .travis.yml
  scripts/run-ci-e2e-tests.js
Owners: none

Improve support for unbundle feature
  docs/Performance.md
  react.gradle
  scripts/react-native-xcode.sh
Owners: @hramos

Update Animated docs to mention potential issues with VirtualizedList
  Libraries/Animated/src/AnimatedImplementation.js
  docs/Animations.md
Owners: @hramos

Update the `NetInfo.isConnected` example code so that it uses the new `connectionChange` event
  Libraries/Network/NetInfo.js
Owners: none

Remove references to Travis
  CONTRIBUTING.md
  README.md
  docs/Contributing.md
  docs/Testing.md
Owners: @hramos

Partial list of unsupported TextInput styles
  Libraries/Components/TextInput/TextInput.js
Owners: none

@allow-large-files Deploy Flow v0.57.2
  .flowconfig
  local-cli/templates/HelloWorld/_flowconfig
  package.json
Owners: @hramos

Return request id in jest mock for requestAnimationFrame
  jest/setup.js
Owners: none

Added secureTextEntry does not work with multiline
  Libraries/Components/TextInput/TextInput.js
Owners: none

Android event documentation - Adding part about mapping event names.
  docs/NativeComponentsAndroid.md
Owners: @hramos

Change indentation of package.json including Jest to 2 spaces
  local-cli/init/init.js
Owners: none

VirtualizedList: fix bug where onViewableItemsChanged wouldn't trigger
  Libraries/Lists/ViewabilityHelper.js
  Libraries/Lists/VirtualizedList.js
  Libraries/Lists/__tests__/ViewabilityHelper-test.js
  Libraries/Lists/__tests__/VirtualizedList-test.js
Owners: none

Add Danger and publish to npm
  .circleci/config.yml
  danger/dangerfile.js
  danger/package.json
Owners: @hramos

Add footer links to bot comments, rename label to Good fist issue
  CONTRIBUTING.md
  bots/IssueCommands.txt
  docs/Contributing.md
Owners: @hramos

Move JS-native version check to its own module + unit tests + prefix Obj-C macro w/RCT
  Libraries/Core/InitializeCore.js
  Libraries/Core/ReactNativeVersionCheck.js
  Libraries/Core/__tests__/ReactNativeVersionCheck-test.js
  React/Base/RCTPlatform.m
  React/Base/RCTVersion.h
  scripts/versiontemplates/RCTVersion.h.template
Owners: @shergin

fix typo - missing 'new' keyword
  docs/Animations.md
Owners: @hramos

Add support for FBReactModule (Wilde) to use jsi/hermes with a bcbundle
  React/Base/RCTBundleURLProvider.h
  React/Base/RCTBundleURLProvider.m
Owners: @shergin

Persistent Yoga
  ReactCommon/yoga/yoga/YGNodeList.c
  ReactCommon/yoga/yoga/YGNodeList.h
  ReactCommon/yoga/yoga/Yoga.c
  ReactCommon/yoga/yoga/Yoga.h
Owners: none

Expose ReactInstanceManager from ReactRootView
  ReactAndroid/src/main/java/com/facebook/react/ReactRootView.java
Owners: none

iOS: introduce RCT_EXPORT_SYNCHRONOUS_TYPED_METHOD() macro to provide the return type of a sync method
  React/Base/RCTBridgeModule.h
Owners: @shergin

Add callback for UIImplementation layout updates
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
Owners: none

s/React/React Native
  README.md
Owners: none

Fix typo in run-instrumentation-tests-via-adb-shell.sh
  ContainerShip/scripts/run-instrumentation-tests-via-adb-shell.sh
Owners: none

Update to regenerator-runtime@0.11.0
  package.json
Owners: @hramos

Delegate to ProgressBarAndroid from ActivityIndicator on Android, instead of the other way around
  Libraries/Components/ActivityIndicator/ActivityIndicator.js
  Libraries/Components/ProgressBarAndroid/ProgressBarAndroid.android.js
Owners: none

Make `react-native link` play nicely with CocoaPods-based iOS projects.
  docs/LinkingLibraries.md
  local-cli/core/__fixtures__/ios.js
  local-cli/core/__fixtures__/projects.js
  local-cli/core/__tests__/ios/findPodfilePath.spec.js
  local-cli/core/__tests__/ios/findPodspecName.spec.js
  local-cli/core/ios/findPodfilePath.js
  local-cli/core/ios/findPodspecName.js
  local-cli/core/ios/index.js
  local-cli/link/__fixtures__/pods/PodfileSimple
  local-cli/link/__fixtures__/pods/PodfileWithFunction
  local-cli/link/__fixtures__/pods/PodfileWithMarkers
  local-cli/link/__fixtures__/pods/PodfileWithTarget
  local-cli/link/__tests__/pods/findLineToAddPod.spec.js
  local-cli/link/__tests__/pods/findMarkedLinesInPodfile.spec.js
  local-cli/link/__tests__/pods/findPodTargetLine.spec.js
  local-cli/link/__tests__/pods/isInstalled.spec.js
  local-cli/link/__tests__/pods/removePodEntry.spec.js
  local-cli/link/link.js
  local-cli/link/pods/addPodEntry.js
  local-cli/link/pods/findLineToAddPod.js
  local-cli/link/pods/findMarkedLinesInPodfile.js
  local-cli/link/pods/findPodTargetLine.js
  local-cli/link/pods/isInstalled.js
  local-cli/link/pods/readPodfile.js
  local-cli/link/pods/registerNativeModule.js
  local-cli/link/pods/removePodEntry.js
  local-cli/link/pods/savePodFile.js
  local-cli/link/pods/unregisterNativeModule.js
  local-cli/link/unlink.js
Owners: @hramos, @grabbou, @kureev

Add description to require a key for each child in ViewPageAndroid
  Libraries/Components/ViewPager/ViewPagerAndroid.android.js
Owners: none

Apple TV: TouchableOpacity and Button need hasTVPreferredFocus support
  Libraries/Components/Button.js
  Libraries/Components/Touchable/TouchableOpacity.js
Owners: none

Fix Systrace section for Lazy View Managers
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModuleConstantsHelper.java
Owners: none

Revert D6080118: [react-native][PR] Delegate to ProgressBarAndroid from ActivityIndicator on Android, instead of the other way around
  Libraries/Components/ActivityIndicator/ActivityIndicator.js
  Libraries/Components/ProgressBarAndroid/ProgressBarAndroid.android.js
Owners: none

Add babel-plugin-transform-exponentiation-operator to babel-preset-react-native
  babel-preset/configs/main.js
  babel-preset/package.json
  package.json
Owners: @hramos

Removed ProgressBarAndroid.android deprecation warning
  Libraries/Components/ActivityIndicator/ActivityIndicator.js
  Libraries/Components/ProgressBarAndroid/ProgressBarAndroid.android.js
Owners: none

Implement border(Left|Right|Top|Bottom)Color for rounded borders
  RNTester/js/BorderExample.js
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
Owners: none

Fix border clipping
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java
Owners: none

Implement partial rounded borders
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java
Owners: none
