Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Fix crashing Systrace when debugging JS remotely
  React/DevSupport/RCTDevMenu.m
Owners: none

Add extra data view to RN RedBox
  Libraries/BugReporting/BugReporting.js
  React/Modules/RCTRedBox.m
  React/Modules/RCTRedBoxExtraDataViewController.h
  React/Modules/RCTRedBoxExtraDataViewController.m
  React/React.xcodeproj/project.pbxproj
Owners: @shergin

Make the __DEV__ argument check more robust
  Libraries/BatchedBridge/MessageQueue.js
Owners: none

std::string to const char*
  ReactAndroid/src/main/jni/react/jni/JniJSModulesUnbundle.cpp
Owners: none

Add RCTLibraryPathForURL in RCTUtil
  Libraries/Network/RCTFileRequestHandler.m
  RNTester/RNTesterUnitTests/RCTURLUtilsTests.m
  React/Base/RCTUtils.h
  React/Base/RCTUtils.m
Owners: @shergin

Type global hooks as function pointers
  ReactCommon/cxxreact/Platform.h
Owners: none

Fix failure due to missing Metro flow types
  .flowconfig
  flow-github/metro.js
  local-cli/templates/HelloWorld/_flowconfig
Owners: none

Switch to `declare module.exports` syntax
  Libraries/react-native/react-native-interface.js
  flow/Map.js
  flow/Set.js
  flow/create-react-class.js
Owners: none

Fix a crash when keyboard is visible and bridge reload happens
  React/Modules/RCTEventEmitter.m
  React/Modules/RCTKeyboardObserver.m
Owners: @shergin

Skylarkify config_utils_defs macros.
  ReactCommon/jschelpers/BUCK
Owners: none

Fix backgroundColor with TouchableHighlight
  Libraries/Components/Touchable/TouchableHighlight.js
  Libraries/Components/Touchable/__tests__/__snapshots__/TouchableHighlight-test.js.snap
Owners: none

Move formatBanner to metro-core
  local-cli/server/checkNodeVersion.js
Owners: none

Move Terminal to metro-core
  local-cli/bundle/buildBundle.js
  local-cli/server/runServer.js
Owners: none

Add metro-core to the package.jsons that use it
  package.json
Owners: @hramos

move page registration logic in to jsinspector
  React/Inspector/RCTInspector.mm
  ReactAndroid/src/main/jni/react/jni/JInspector.cpp
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/cxxreact/JSCExecutor.h
  ReactCommon/jschelpers/JSCWrapper.h
  ReactCommon/jschelpers/JavaScriptCore.h
  ReactCommon/jschelpers/systemJSCWrapper.cpp
  ReactCommon/jsinspector/BUCK
  ReactCommon/jsinspector/InspectorInterfaces.cpp
  ReactCommon/jsinspector/InspectorInterfaces.h
Owners: none

Bump metro and all packages to v0.24.0
  package.json
Owners: @hramos

Update metro version to v0.24.1
  package.json
Owners: @hramos

Removing `inherited background color` optimization from RCTText
  Libraries/Text/RCTText.m
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testARTExample_1-iOS10@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testARTExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testARTExample_1@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testLayoutExample_1-iOS10@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testLayoutExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testLayoutExample_1@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1-iOS10@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSliderExample_1-iOS10@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSliderExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSliderExample_1@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSwitchExample_1-iOS10@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSwitchExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSwitchExample_1@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testTabBarExample_1-iOS10@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testTabBarExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testTabBarExample_1@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testTextExample_1-iOS10@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testTextExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testTextExample_1@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testViewExample_1-iOS10@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testViewExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testViewExample_1@2x.png
Owners: @shergin

Fix typo in RCTSurfaceHostingView
  React/Base/Surface/SurfaceHostingView/RCTSurfaceHostingView.mm
Owners: none

Fix FIGTabs SST race
  Libraries/Types/CoreEventTypes.js
Owners: none

Update to Jest 22.0.0
  package.json
Owners: @hramos

reactSetInheritedBackgroundColor was removed from RCTView
  React/Views/RCTView.m
Owners: @shergin

reactBridgeDidFinishTransaction was finally removed
  React/Modules/RCTUIManager.m
  React/Views/RCTComponent.h
Owners: @shergin

reactBridgeDidFinishTransaction was removed from RCTTabBar
  React/Views/RCTTabBar.h
  React/Views/RCTTabBar.m
  React/Views/RCTTabBarManager.m
Owners: @shergin

`reactBridgeDidFinishTransaction` was removed from RCTNavigator
  React/Views/RCTNavigator.h
  React/Views/RCTNavigator.m
  React/Views/RCTNavigatorManager.m
Owners: @shergin

Removing `inherited background color` optimization from ARTSurfaceView
  Libraries/ART/ARTSurfaceView.m
Owners: none

zIndex prop was removed from RCTShadowView
  React/Views/RCTShadowView.h
  React/Views/RCTShadowView.m
  React/Views/RCTViewManager.m
Owners: @shergin

Support virtualization and onViewableItemsChanged for nested, same-orientation VirtualizedLists
  Libraries/Lists/VirtualizeUtils.js
  Libraries/Lists/VirtualizedList.js
Owners: none

add isInspectable property
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/cxxreact/JSCExecutor.h
  ReactCommon/cxxreact/JSExecutor.h
Owners: none

add isInspectable property
  React/Base/RCTBatchedBridge.mm
  React/Base/RCTBridge+Private.h
  React/CxxBridge/RCTCxxBridge.mm
  ReactCommon/cxxreact/Instance.cpp
  ReactCommon/cxxreact/Instance.h
  ReactCommon/cxxreact/NativeToJsBridge.cpp
  ReactCommon/cxxreact/NativeToJsBridge.h
Owners: @shergin, @mhorowitz

improve detection of inspectable JS contexts
  React/DevSupport/RCTInspectorDevServerHelper.h
  React/DevSupport/RCTInspectorDevServerHelper.mm
  React/Modules/RCTDevSettings.mm
Owners: @shergin

Removing <TextInput autoGrow={true}>
  Libraries/Components/TextInput/TextInput.js
Owners: none

Switch `declare function exports` to `declare module.exports`
  flow/Map.js
  flow/Set.js
  flow/fbjs.js
Owners: none

Tweak FIGListItem layout
  Libraries/Components/Touchable/TouchableHighlight.js
  Libraries/Components/Touchable/TouchableWithoutFeedback.js
  Libraries/Types/CoreEventTypes.js
Owners: none

Use wildcard instead of manual file addition
  ReactCommon/yoga/Android.mk
Owners: none

Demolishing of background color propagation infra
  Libraries/Text/RCTShadowText.h
  Libraries/Text/RCTShadowText.m
  Libraries/Text/RCTTextManager.m
  React/Base/RCTRootContentView.m
  React/Base/RCTRootView.m
  React/Modules/RCTUIManager.h
  React/Modules/RCTUIManager.m
  React/Views/RCTShadowView.h
  React/Views/RCTShadowView.m
  React/Views/RCTViewManager.m
  React/Views/UIView+React.h
  React/Views/UIView+React.m
Owners: @shergin

avoid redbox in handleWrappedEvent
  React/Inspector/RCTInspectorPackagerConnection.m
Owners: none

Make YGNode as c++ struct with properties exposed through accessors
  Libraries/Text/RCTShadowText.m
  Libraries/Text/RCTText.xcodeproj/project.pbxproj
  React/React.xcodeproj/project.pbxproj
  React/Views/RCTShadowView.m
  ReactAndroid/src/main/jni/first-party/yogajni/jni/YGJNI.cpp
  ReactCommon/yoga/yoga/YGNode.cpp
  ReactCommon/yoga/yoga/YGNode.h
  ReactCommon/yoga/yoga/YGNodePrint.cpp
  ReactCommon/yoga/yoga/Yoga-internal.h
  ReactCommon/yoga/yoga/Yoga.cpp
  ReactCommon/yoga/yoga/Yoga.h
Owners: @shergin

Fix virtualized cell keys for list headers and footers
  Libraries/Lists/VirtualizedList.js
Owners: none

Kill orphaned marker end in JSCExecutor
  ReactCommon/cxxreact/JSCExecutor.cpp
Owners: none
