Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

BREAKING: Removed support of nested content inside <Image> on Android
  Libraries/Image/Image.android.js
Owners: @shergin

Text to Spannable conversion is now using PRIORITY flag to enforce the order of spans
  RNTester/js/TextExample.android.js
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactBaseTextShadowNode.java
Owners: none

use `uniqBy` for iteratee support
  local-cli/link/link.js
Owners: @grabbou, @kureev

re #15915 HeadlessJsTaskService is expected to run on UI thread
  ReactAndroid/src/main/java/com/facebook/react/HeadlessJsTaskService.java
Owners: none

Refactored executeApplicationScript in RCTCxxBridge
  React/CxxBridge/RCTCxxBridge.mm
Owners: @mhorowitz

Force local builds to use regular JS bundles
  React/Base/RCTJavaScriptLoader.mm
Owners: @shergin

Using mutex inside RCTUIManagerObserverCoordinator instead of GCD
  React/Modules/RCTUIManagerObserverCoordinator.h
  React/Modules/RCTUIManagerObserverCoordinator.mm
  React/React.xcodeproj/project.pbxproj
Owners: @shergin

Fixing clowntown in RCTUIManager
  React/Modules/RCTUIManager.m
Owners: @shergin

Using `indexOfObjectIdenticalTo` instead of `indexOfObject` in RCTUIManager
  React/Modules/RCTUIManager.m
Owners: @shergin

React sync for revisions abce30f...b5ac963
  Libraries/Renderer/REVISION
  Libraries/Renderer/ReactNativeFiber-dev.js
  Libraries/Renderer/ReactNativeFiber-prod.js
  package.json
Owners: @hramos

More useful utilities in jschelpers
  ReactCommon/jschelpers/JSCWrapper.h
  ReactCommon/jschelpers/JavaScriptCore.h
  ReactCommon/jschelpers/Value.cpp
  ReactCommon/jschelpers/Value.h
  ReactCommon/jschelpers/systemJSCWrapper.cpp
Owners: none

Base class for all object private data passed to JSC
  React/React.xcodeproj/project.pbxproj
  ReactAndroid/src/main/jni/react/jni/Android.mk
  ReactCommon/cxxreact/Android.mk
  ReactCommon/cxxreact/JSCExecutor.h
  ReactCommon/jschelpers/BUCK
  ReactCommon/jschelpers/JSCHelpers.cpp
  ReactCommon/jschelpers/Value.h
  ReactCommon/privatedata/Android.mk
  ReactCommon/privatedata/BUCK
  ReactCommon/privatedata/PrivateDataBase.cpp
  ReactCommon/privatedata/PrivateDataBase.h
Owners: none

Add getter for JS Executor Factory
  ReactAndroid/src/main/java/com/facebook/react/ReactNativeHost.java
Owners: none

Backed out D5792012.
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewProps.java
Owners: none

Fixed runtime error with ProgressBarAndroid
  Libraries/Components/ProgressBarAndroid/ProgressBarAndroid.android.js
Owners: none

Unbreak ReactLegacy project
  React/ReactLegacy.xcodeproj/project.pbxproj
Owners: none

rename catalyst animations
  ReactAndroid/src/main/res/views/modal/anim/catalyst_fade_in.xml
  ReactAndroid/src/main/res/views/modal/anim/catalyst_fade_out.xml
  ReactAndroid/src/main/res/views/modal/anim/catalyst_slide_down.xml
  ReactAndroid/src/main/res/views/modal/anim/catalyst_slide_up.xml
  ReactAndroid/src/main/res/views/modal/values/themes.xml
Owners: none

Fix setBackground for Android sdk version 15 and below
  ReactAndroid/src/main/java/com/facebook/react/views/common/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/common/ViewHelper.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactHorizontalScrollView.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactScrollView.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextView.java
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactEditText.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java
Owners: none

Untangle NativeAnimatedNodesManager from UIManager internals.
  ReactAndroid/src/main/java/com/facebook/react/animated/NativeAnimatedNodesManager.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModuleConstantsHelper.java
  ReactAndroid/src/test/java/com/facebook/react/animated/NativeAnimatedNodeTraversalTest.java
Owners: @janicduplessis

add JS->Java Bridge traffic
  ReactAndroid/src/main/java/com/facebook/debug/tags/ReactDebugOverlayTags.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/BUCK
  ReactAndroid/src/main/java/com/facebook/react/bridge/JavaMethodWrapper.java
Owners: none

Fixed issue with measuring text with NaN width
  Libraries/Text/RCTShadowText.m
Owners: @shergin

Document Android native communication
  docs/AndroidBuildingFromSource.md
  docs/CommunicationAndroid.md
  docs/Contributing.md
Owners: @hramos

add node/npm version to ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Revert faulty change to HelloWorld demo in docs
  docs/Tutorial.md
Owners: @hramos

Fixed package.json peerDependencies
  package.json
Owners: @hramos

Add props for overriding native component
  Libraries/Components/WebView/WebView.android.js
  Libraries/Components/WebView/WebView.ios.js
  docs/CustomWebViewAndroid.md
  docs/CustomWebViewIOS.md
  docs/HeadlessJSAndroid.md
  docs/LinkingLibraries.md
  docs/NativeComponentsAndroid.md
  docs/NativeComponentsIOS.md
Owners: @hramos

Fix Flow errors in ListViewData source.
  Libraries/Lists/ListView/ListViewDataSource.js
Owners: none

Fix Content-Type header checking of React/RCTJavascriptLoader.mm #15791
  React/Base/RCTJavaScriptLoader.mm
Owners: @shergin

Synchronize all relay packages
  package.json
Owners: @hramos

Detangle destroy and create accesses
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
Owners: none

Add interface for ReactShadowNode
  ReactAndroid/src/main/java/com/facebook/react/flat/FlatReactModalShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/flat/FlatShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/flat/MoveProxy.java
  ReactAndroid/src/main/java/com/facebook/react/flat/NativeViewWrapper.java
  ReactAndroid/src/main/java/com/facebook/react/flat/RCTVirtualText.java
  ReactAndroid/src/main/java/com/facebook/react/processing/ReactPropertyProcessor.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/LayoutShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNodeImpl.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewManagersPropertyCache.java
  ReactAndroid/src/main/java/com/facebook/react/views/art/ARTVirtualNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/modal/ModalHostShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactRawTextShadowNode.java
  ReactAndroid/src/test/java/com/facebook/react/uimanager/ReactPropForShadowNodeSetterTest.java
  ReactAndroid/src/test/java/com/facebook/react/uimanager/ReactPropForShadowNodeSpecTest.java
Owners: none

add Native Module init
  ReactAndroid/src/main/java/com/facebook/debug/tags/ReactDebugOverlayTags.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/ModuleHolder.java
Owners: none

Fix shrinking in non strech alignments
  ReactCommon/yoga/yoga/Yoga.c
Owners: none

Fix onSubmitEditing dispatch behavior with blurOnSubmit/multiline combinations.
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputManager.java
Owners: none

Add closed-form damped harmonic oscillator algorithm to Animated.spring
  Libraries/Animated/src/AnimatedImplementation.js
  Libraries/Animated/src/SpringConfig.js
  Libraries/Animated/src/__tests__/Animated-test.js
  Libraries/Animated/src/__tests__/AnimatedNative-test.js
  Libraries/Animated/src/animations/SpringAnimation.js
  Libraries/NativeAnimation/Drivers/RCTSpringAnimation.m
  RNTester/RNTesterUnitTests/RCTNativeAnimatedNodesManagerTests.m
  RNTester/js/AnimatedGratuitousApp/AnExChained.js
  RNTester/js/NativeAnimationsExample.js
  ReactAndroid/src/main/java/com/facebook/react/animated/SpringAnimation.java
  ReactAndroid/src/test/java/com/facebook/react/animated/NativeAnimatedNodeTraversalTest.java
Owners: @janicduplessis

Revert D5874862: [yoga][PR] Fix shrinking in non strech alignments
  ReactCommon/yoga/yoga/Yoga.c
Owners: none

Improve formatting of YogaNode.print() on Android
  ReactCommon/yoga/yoga/Yoga.c
Owners: none

Break down PRE_REACT_CONTEXT
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReactMarkerConstants.java
Owners: none

Initial implementation of multiple RAM bundles registry
  React/React.xcodeproj/project.pbxproj
  ReactCommon/cxxreact/Android.mk
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/cxxreact/JSCExecutor.h
  ReactCommon/cxxreact/RAMBundleRegistry.cpp
  ReactCommon/cxxreact/RAMBundleRegistry.h
Owners: none

Added iOS support for loading multiple RAM bundles
  React/CxxBridge/RCTCxxBridge.mm
  React/React.xcodeproj/project.pbxproj
  ReactCommon/cxxreact/Android.mk
  ReactCommon/cxxreact/BUCK
  ReactCommon/cxxreact/JSIndexedRAMBundle.cpp
  ReactCommon/cxxreact/JSIndexedRAMBundle.h
  ReactCommon/cxxreact/JSIndexedRAMBundleRegistry.cpp
  ReactCommon/cxxreact/JSIndexedRAMBundleRegistry.h
Owners: @mhorowitz

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev
