Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @facebook/react-native, @janicduplessis, @shergin, @javache, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @facebook/react-native
blog/* @facebook/react-native
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin @javache
React/Views/* @shergin @javache
React/Modules/* @shergin @javache
React/CxxBridge/* @javache
React/Executors/* @javache
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
ReactCommon/* @javache
website/* @facebook/react-native
website/showcase.json @facebook/react-native
package.json @facebook/react-native
website/package.json @facebook/react-native
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Move CONTRIBUTING guidelines to a standalone doc in the website.
  CONTRIBUTING.md
  README.md
  docs/Contributing.md
  docs/MoreResources.md
  docs/NativeModulesIOS.md
  docs/Testing.md
  docs/Upgrading.md
  website/src/react-native/js/scripts.js
Owners: @facebook/react-native

BREAKING: Add regenerator-runtime on demand, based on the files
  Libraries/Core/InitializeCore.js
  RNTester/js/ListExampleShared.js
  babel-preset/package.json
  package.json
Owners: @facebook/react-native

Add app name to PageInfo
  React/Inspector/RCTInspectorPackagerConnection.m
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevServerHelper.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/InspectorPackagerConnection.java
Owners: none

Add app name to inspector device url
  React/DevSupport/RCTInspectorDevServerHelper.mm
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevServerHelper.java
Owners: none

Revert D5388655: BREAKING: Add regenerator-runtime on demand, based on the files
  Libraries/Core/InitializeCore.js
  RNTester/js/ListExampleShared.js
  babel-preset/package.json
  package.json
Owners: @facebook/react-native

Revert D5446953: [react-native] Conditionally export JSTimers
  Libraries/BatchedBridge/__mocks__/MessageQueueTestConfig.js
  Libraries/Core/Timers/JSTimers.js
Owners: none

Exclude the dangerfile from eslint.
  .eslintignore
Owners: none

Add a delegate hook for providing a different JS implementation
  React/CxxBridge/RCTCxxBridge.mm
  React/CxxBridge/RCTCxxBridgeDelegate.h
  React/React.xcodeproj/project.pbxproj
Owners: @javache

add tabrindle to Issue Task Force
  bots/IssueCommands.txt
Owners: none

Ran PropTypes -> prop-types codemod
  Libraries/Components/MaskedView/MaskedViewIOS.ios.js
Owners: none

Docs: Updated iOS Component Guide
  docs/NativeComponentsIOS.md
Owners: @facebook/react-native

TextInput: Actual `reactAccessibilityElement` implementation
  Libraries/Text/RCTTextInput.m
Owners: @shergin

How to Contribute updates
  .github/ISSUE_TEMPLATE.md
  README.md
  bots/IssueCommands.txt
  docs/Contributing.md
  docs/Testing.md
Owners: @facebook/react-native

Validate the content type of the bundle returned by the packager
  React/Base/RCTJavaScriptLoader.mm
Owners: @shergin, @javache

Android: Added support to arrays in toBundle
  ReactAndroid/src/main/java/com/facebook/react/bridge/Arguments.java
Owners: none

Pass actual loaded image size to load (iOS).
  Libraries/Image/RCTImageView.m
Owners: @shergin

use propTypes directly
  Libraries/Components/MaskedView/MaskedViewIOS.ios.js
Owners: none

Remove legacy JSC profiler
  JSCLegacyProfiler/JSCLegacyProfiler.h
  JSCLegacyProfiler/JSCLegacyProfiler.mm
  JSCLegacyProfiler/Makefile
  JSCLegacyProfiler/Makefile.base
  JSCLegacyProfiler/json2trace
  JSCLegacyProfiler/parseSDKVersion.awk
  JSCLegacyProfiler/smap.py
  JSCLegacyProfiler/trace_data.py
  Libraries/Performance/CPUProfiler.js
  React/CxxBridge/RCTObjcExecutor.mm
  React/Executors/RCTJSCExecutor.mm
  React/Modules/RCTDevSettings.h
  React/Modules/RCTDevSettings.mm
  React/Profiler/RCTJSCProfiler.h
  React/Profiler/RCTJSCProfiler.m
  React/React.xcodeproj/project.pbxproj
  React/ReactLegacy.xcodeproj/project.pbxproj
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstance.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstanceImpl.java
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.cpp
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.h
  ReactCommon/cxxreact/Android.mk
  ReactCommon/cxxreact/Instance.cpp
  ReactCommon/cxxreact/Instance.h
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/cxxreact/JSCExecutor.h
  ReactCommon/cxxreact/JSCLegacyProfiler.cpp
  ReactCommon/cxxreact/JSCLegacyProfiler.h
  ReactCommon/cxxreact/JSExecutor.h
  ReactCommon/cxxreact/NativeToJsBridge.cpp
  ReactCommon/cxxreact/NativeToJsBridge.h
  local-cli/server/middleware/cpuProfilerMiddleware.js
  local-cli/server/runServer.js
Owners: @javache, @shergin

Fix cropImage crash with float displaySize
  ReactAndroid/src/main/java/com/facebook/react/modules/camera/ImageEditingManager.java
Owners: none

in RCT_DEBUG mode, make the js stack bigger
  React/CxxBridge/RCTCxxBridge.mm
Owners: @javache

Stop native driver animations when value is set.
  Libraries/NativeAnimation/RCTNativeAnimatedNodesManager.m
  ReactAndroid/src/main/java/com/facebook/react/animated/NativeAnimatedNodesManager.java
Owners: @janicduplessis

Upgrade to Flow v0.50.0
  .flowconfig
  RNTester/js/XHRExampleDownload.js
  package.json
Owners: @facebook/react-native

Fix `HEAD` http requests in Android
  ReactAndroid/src/main/java/com/facebook/react/modules/network/NetworkingModule.java
Owners: none

creatClass codemod
  website/core/AlgoliaDocSearch.js
  website/core/BlogPost.js
  website/core/BlogPostDate.js
  website/core/BlogPostExcerpt.js
  website/core/BlogPostFooter.js
  website/core/BlogPostHeader.js
  website/core/DocsSidebar.js
  website/core/EjectBanner.js
  website/core/ExcerptLink.js
  website/core/Footer.js
  website/core/H2.js
  website/core/Header.js
  website/core/HeaderLinks.js
  website/core/HeaderWithGithub.js
  website/core/Hero.js
  website/core/Marked.js
  website/core/Prism.js
  website/core/ShowcaseAppIcon.js
  website/core/Site.js
  website/core/SnackPlayer.js
  website/core/WebPlayer.js
  website/core/center.js
  website/layout/AutodocsLayout.js
  website/layout/BlogPageLayout.js
  website/layout/BlogPostLayout.js
  website/layout/DocsLayout.js
  website/layout/PageLayout.js
  website/layout/RedirectLayout.js
  website/src/react-native/404.js
  website/src/react-native/index.js
  website/src/react-native/showcase.js
  website/src/react-native/support.js
  website/src/react-native/versions.js
Owners: none

Revert D5465182: creatClass codemod
  website/core/AlgoliaDocSearch.js
  website/core/BlogPost.js
  website/core/BlogPostDate.js
  website/core/BlogPostExcerpt.js
  website/core/BlogPostFooter.js
  website/core/BlogPostHeader.js
  website/core/DocsSidebar.js
  website/core/EjectBanner.js
  website/core/ExcerptLink.js
  website/core/Footer.js
  website/core/H2.js
  website/core/Header.js
  website/core/HeaderLinks.js
  website/core/HeaderWithGithub.js
  website/core/Hero.js
  website/core/Marked.js
  website/core/Prism.js
  website/core/ShowcaseAppIcon.js
  website/core/Site.js
  website/core/SnackPlayer.js
  website/core/WebPlayer.js
  website/core/center.js
  website/layout/AutodocsLayout.js
  website/layout/BlogPageLayout.js
  website/layout/BlogPostLayout.js
  website/layout/DocsLayout.js
  website/layout/PageLayout.js
  website/layout/RedirectLayout.js
  website/src/react-native/404.js
  website/src/react-native/index.js
  website/src/react-native/showcase.js
  website/src/react-native/support.js
  website/src/react-native/versions.js
Owners: none

Show RN Dev Menu after 2 rage shakes
  ReactAndroid/src/main/java/com/facebook/react/common/ShakeDetector.java
Owners: none

Conditionally export JSTimers (retry)
  Libraries/Core/Timers/JSTimers.js
Owners: none

Libraries/Shared --> Libraries/www-shared, EventEmitter --> vendor/emitter
  Libraries/Components/Keyboard/Keyboard.js
  Libraries/vendor/emitter/EmitterSubscription.js
  Libraries/vendor/emitter/EventEmitter.js
  Libraries/vendor/emitter/EventEmitterWithHolding.js
  Libraries/vendor/emitter/EventHolder.js
  Libraries/vendor/emitter/EventSubscription.js
  Libraries/vendor/emitter/EventSubscriptionVendor.js
  Libraries/vendor/emitter/EventValidator.js
  Libraries/vendor/emitter/mixInEventEmitter.js
Owners: none

Improve transform speed by 8.5%
  babel-preset/configs/internal.js
  babel-preset/configs/main.js
Owners: none

Upgrade metro-bundler to v0.10.0
  jest/setup.js
  local-cli/bundle/buildBundle.js
  local-cli/server/runServer.js
  local-cli/util/Config.js
  package.json
Owners: @facebook/react-native

Hide vs. Show --> Toggle Inspector
  React/DevSupport/RCTDevMenu.m
Owners: none

Remove unnatural indent in doc
  website/layout/AutodocsLayout.js
Owners: none

Export stringForScriptTag symbol
  ReactCommon/cxxreact/JSBundleType.h
Owners: none

Improve the documentation for ListView and ListViewDataSource
  Libraries/Lists/ListView/ListView.js
  Libraries/Lists/ListView/ListViewDataSource.js
Owners: none

Add missing "getPolyfills" tag
  local-cli/dependencies/dependencies.js
Owners: none

fix typo in Animations guide
  docs/Animations.md
Owners: @facebook/react-native

Update Images.md with ImageBackground
  docs/Images.md
Owners: @facebook/react-native

resolved the broken links for all components method in page linking
  website/layout/AutodocsLayout.js
Owners: none

Add documentation for onMomentumScrollEnd
  Libraries/Components/ScrollView/ScrollView.js
Owners: none

Remove onScrollAnimationEnd
  Libraries/Components/ScrollView/ScrollView.js
  React/Views/RCTScrollView.h
  React/Views/RCTScrollView.m
  React/Views/RCTScrollViewManager.m
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactScrollViewManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ScrollEventType.java
Owners: @shergin, @javache
