Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

Reference PermissionsAndroid in Geolocation doc
  Libraries/Geolocation/Geolocation.js
Owners: none

Fix typo
  Libraries/Components/ToastAndroid/ToastAndroid.android.js
Owners: none

Added styles.viewPager to complete example code
  Libraries/Components/ViewPager/ViewPagerAndroid.android.js
Owners: none

Add missing licence to findSymlinksPaths
  local-cli/util/findSymlinksPaths.js
Owners: none

Thread the JSI runtime descriptor up into the RCTDevMenu title
  React/Base/RCTBatchedBridge.mm
  React/Base/RCTBridge+Private.h
  React/CxxBridge/RCTCxxBridge.mm
  React/CxxBridge/RCTObjcExecutor.mm
  React/DevSupport/RCTDevMenu.m
  ReactAndroid/src/main/jni/react/jni/ProxyExecutor.cpp
  ReactAndroid/src/main/jni/react/jni/ProxyExecutor.h
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/cxxreact/JSCExecutor.h
  ReactCommon/cxxreact/JSExecutor.h
Owners: @shergin, @mhorowitz

Reformat BUCK files
  ReactAndroid/src/main/jni/react/perftests/BUCK
  ReactCommon/cxxreact/BUCK
  ReactCommon/jschelpers/BUCK
Owners: none

Fix Circle CI build missing appcompat dep
  ReactAndroid/src/androidTest/buck-runner/BUCK
Owners: none

Fix content offset validation
  React/Views/RCTScrollView.m
Owners: @shergin

Extend FlatList to support multiple viewability configs
  Libraries/Lists/FlatList.js
  Libraries/Lists/ViewabilityHelper.js
  Libraries/Lists/VirtualizedList.js
  Libraries/Lists/__tests__/ViewabilityHelper-test.js
  Libraries/Lists/__tests__/__snapshots__/FlatList-test.js.snap
Owners: none

Asset basenames in Jest snapshots
  Libraries/Image/__tests__/__snapshots__/assetRelativePathInSnapshot.js.snap
  Libraries/Image/__tests__/assetRelativePathInSnapshot.js
  Libraries/Image/__tests__/img/img1.png
  Libraries/Image/__tests__/img/img2.png
  jest-preset.json
  jest/assetFileTransformer.js
  package.json
Owners: @hramos

Warn about slow main thread React methods
  React/Base/RCTModuleMethod.mm
Owners: @shergin

color filters - use TouchableBounce and make it configurable
  Libraries/Components/Touchable/TouchableBounce.js
Owners: none

Introducing `ReactShadowNode.isYogaLeafNode()`
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNode.java
Owners: none

Bikeshedding in ReactTextInputShadowNode, part 2
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputShadowNode.java
Owners: none

Bikeshedding in ReactTextInputShadowNode
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputShadowNode.java
Owners: none

Add BlobModule native module mock to jest setup
  jest/setup.js
Owners: none

Fixed clowntoun related to `-[RCTShadowView canHaveSubviews]`
  React/Views/RCTShadowView.m
Owners: @shergin

fix fontWeight regression
  React/Views/RCTFont.mm
Owners: @shergin

Fix test for RN asset
  Libraries/Image/__tests__/__snapshots__/assetRelativePathInSnapshot.js.snap
  jest/assetFileTransformer.js
Owners: none

fix RN app not connecting to dev server helper
  React/Modules/RCTDevSettings.mm
Owners: @shergin

Move to fbsystrace to a new location
  ReactAndroid/src/main/jni/react/jni/BUCK
  ReactCommon/cxxreact/BUCK
Owners: none

Allow Cxx references to be used in native module's method signature
  RNTester/RNTesterUnitTests/RCTMethodArgumentTests.m
  React/Base/RCTParserUtils.m
Owners: @shergin

Update SignedAPKAndroid.md
  docs/SignedAPKAndroid.md
Owners: @hramos

Add snapshot tests for sticky headers
  Libraries/Lists/SectionList.js
Owners: none

Reverting changes to MessageQueue
  Libraries/BatchedBridge/BatchedBridge.js
  Libraries/BatchedBridge/MessageQueue.js
  Libraries/BatchedBridge/NativeModules.js
  Libraries/Interaction/BridgeSpyStallHandler.js
Owners: none

Comment out Flow tests
  circle.yml
Owners: none

Use the new Delta HMR implementation from the internal React Native CLI
  local-cli/server/util/attachWebsocketServer.js
Owners: none

Bump metro-bundler to 0.16.0
  package.json
Owners: @hramos

RN local-cli: fix the reporter creation code
  local-cli/server/runServer.js
Owners: none

Adding Soundcloud Pulse play store link to showcase
  website/showcase.json
Owners: @hramos

Use xcpretty for iOS build output if installed
  local-cli/runIOS/runIOS.js
Owners: none

consistent use of URL for resolving asset source
  Libraries/Image/AssetSourceResolver.js
  Libraries/Image/__tests__/resolveAssetSource-test.js
  Libraries/Image/resolveAssetSource.js
Owners: @shergin

Add check for valid rootTag in ReactRootView
  ReactAndroid/src/main/java/com/facebook/react/ReactRootView.java
Owners: none

fix flow warning and typo
  Libraries/Linking/Linking.js
Owners: none

fix ItemSeparatorComponent position in horizontal and inverted mode
  Libraries/Lists/VirtualizedList.js
  Libraries/Lists/__tests__/__snapshots__/VirtualizedList-test.js.snap
Owners: none

Log error message when there are zero connected clients
  local-cli/server/util/messageSocket.js
Owners: none

Fix Animated spring jest test
  Libraries/Animated/src/animations/SpringAnimation.js
Owners: none

Add support for dynamically sized ReactRootView
  ReactAndroid/src/main/java/com/facebook/react/ReactRootView.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/MeasureSpecProvider.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/NativeViewHierarchyManager.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
Owners: none

(iOS) Support for DemiBold alias of SemiBold (font-weight 600)
  React/Views/RCTFont.mm
Owners: @shergin

Removed support of nested content inside <Image> on iOS
  Libraries/Image/RCTImageShadowView.m
Owners: @shergin

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev
