Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @facebook/react-native, @janicduplessis, @shergin, @javache, @grabbou, @kureev

Docs: fix typo in deeplinking docs
  Libraries/Linking/Linking.js
Owners: none

Add blob implementation with WebSocket integration
  Libraries/Blob/Blob.js
  Libraries/Blob/BlobTypes.js
  Libraries/Blob/RCTBlob.xcodeproj/project.pbxproj
  Libraries/Blob/RCTBlobManager.h
  Libraries/Blob/RCTBlobManager.m
  Libraries/Blob/URL.js
  Libraries/Core/InitializeCore.js
  Libraries/WebSocket/RCTWebSocketModule.h
  Libraries/WebSocket/RCTWebSocketModule.m
  Libraries/WebSocket/RCTWebSocketObserver.h
  Libraries/WebSocket/RCTWebSocketObserverProtocol.h
  Libraries/WebSocket/WebSocket.js
  RNTester/RNTester.xcodeproj/project.pbxproj
  RNTester/js/WebSocketExample.js
  RNTester/js/http_test_server.js
  RNTester/js/websocket_test_server.js
  React.podspec
  React/DevSupport/RCTPackagerConnection.m
  React/React.xcodeproj/project.pbxproj
  ReactAndroid/src/main/java/com/facebook/react/modules/blob/BUCK
  ReactAndroid/src/main/java/com/facebook/react/modules/blob/BlobModule.java
  ReactAndroid/src/main/java/com/facebook/react/modules/blob/BlobProvider.java
  ReactAndroid/src/main/java/com/facebook/react/modules/websocket/WebSocketModule.java
  ReactAndroid/src/main/java/com/facebook/react/shell/BUCK
  ReactAndroid/src/main/java/com/facebook/react/shell/MainReactPackage.java
  local-cli/templates/HelloWorld/ios/HelloWorld.xcodeproj/project.pbxproj
Owners: none

Fix missing file from cocoapods build
  React.podspec
Owners: none

Enable jsx-no-comment-textnodes
  .eslintrc
Owners: none

Add more information to `__fbBatchedBridge is undefined` error
  React/Executors/RCTJSCExecutor.mm
Owners: @javache

ios: allow application/javascript and text/javascript for packager bundle mime type
  React/Base/RCTJavaScriptLoader.mm
Owners: @shergin, @javache

Fix tvOS build issues with UIDeviceOrientation
  React/Modules/RCTUIManager.m
Owners: @shergin, @javache

Breaking - Remove AdSupportIOS
  Libraries/AdSupport/AdSupportIOS.js
  Libraries/AdSupport/RCTAdSupport.h
  Libraries/AdSupport/RCTAdSupport.m
  Libraries/AdSupport/RCTAdSupport.xcodeproj/project.pbxproj
  Libraries/react-native/react-native-implementation.js
  RNTester/RNTester.xcodeproj/project.pbxproj
  RNTester/js/AdSupportIOSExample.js
  RNTester/js/RNTesterList.ios.js
  docs/ComponentsAndAPIs.md
  website/server/docsList.js
Owners: @facebook/react-native

Revert D5441491: [react-native][PR] Add 'contentInsetAdjustmentBehavior' (new in iOS 11) to ScrollView
  Libraries/Components/ScrollView/ScrollView.js
  React/Views/RCTScrollView.m
  React/Views/RCTScrollViewManager.m
Owners: @shergin, @javache

Control whether Metro tells Babel to lookup .babelrc files
  local-cli/server/runServer.js
  local-cli/util/Config.js
Owners: none

More efficient dynamic->NSString conversion.
  React/CxxUtils/RCTFollyConvert.mm
Owners: none

Fixing edge case issue in Yoga where text node was unnecessary rounded down
  ReactCommon/yoga/yoga/Yoga-internal.h
  ReactCommon/yoga/yoga/Yoga.c
Owners: none

metro-bundler: 0.11.0
  package.json
Owners: @facebook/react-native

Add missing `assetRegistryPath` to dependencies command
  local-cli/dependencies/dependencies.js
Owners: none

Saner entry point
  local-cli/server/runServer.js
Owners: none

Fix crash for unsupported device orientation events
  React/Modules/RCTUIManager.m
Owners: @shergin, @javache

Fix mistake acquireWakeLockNow in headless js section
  docs/HeadlessJSAndroid.md
Owners: @facebook/react-native

Check if fresco is initialised before clearing memory caches
  ReactAndroid/src/main/java/com/facebook/react/modules/fresco/FrescoModule.java
Owners: none

Rename ToastAndroid to ToastExample
  docs/NativeModulesAndroid.md
Owners: @facebook/react-native

Cleanup settings.gradle
  settings.gradle
Owners: none

Update performance.md to reflect existence of `useNativeDriver` in An…
  docs/Performance.md
Owners: @facebook/react-native

What to Expect from Maintainers
  CONTRIBUTING.md
  bots/IssueCommands.txt
  docs/AndroidBuildingFromSource.md
  docs/Contributing.md
  docs/Maintainers.md
  docs/StyleGuide.md
  docs/Testing.md
  docs/UnderstandingCLI.md
  docs/Upgrading.md
  website/core/Footer.js
  website/server/convert.js
  website/src/react-native/css/react-native.css
  website/src/react-native/support.js
Owners: @facebook/react-native

deprecate some usage of NetInfo
  Libraries/Network/NetInfo.js
Owners: none

Improved window.postMessage implementation
  IntegrationTests/IntegrationTestsApp.js
  IntegrationTests/WebViewTest.js
  RNTester/RNTesterIntegrationTests/RNTesterIntegrationTests.m
  React/Views/RCTWebView.m
Owners: @shergin, @javache

Fix typo in RCTDevSettings.mm
  React/Modules/RCTDevSettings.mm
Owners: @shergin, @javache

Update IntegrationWithExistingApps.md
  docs/IntegrationWithExistingApps.md
Owners: @facebook/react-native

Added documentation for iOS app extensions
  docs/BuildingForAppleTV.md
  docs/NativeModulesAndroid.md
  docs/TodayWidget.md
  website/src/react-native/img/TodayWidgetUnableToLoad.jpg
Owners: @facebook/react-native

Mark React Native annotation processors as non-ABI-affecting
  ReactAndroid/src/main/java/com/facebook/react/module/processing/BUCK
  ReactAndroid/src/main/java/com/facebook/react/processing/BUCK
Owners: none

Fix SectionList examples in documentation
  Libraries/Lists/SectionList.js
Owners: none

update docs for Transforms
  Libraries/StyleSheet/TransformPropTypes.js
Owners: none

metro-bundler: upgrade all jest refs to delta.4
  package.json
Owners: @facebook/react-native

Reduce log level for connection errors
  React/Inspector/RCTInspectorPackagerConnection.m
Owners: none

Fix misspelling UIKit
  Libraries/Components/Navigation/NavigatorIOS.ios.js
Owners: none

RCTCxxBridge: Use C++ atomic
  React/CxxBridge/RCTCxxBridge.mm
Owners: @javache

CameraRoll: Use C atomic instead of OSAtomic
  Libraries/CameraRoll/RCTAssetsLibraryRequestHandler.m
Owners: none

changed param of setSrc() method
  docs/NativeComponentsAndroid.md
Owners: @facebook/react-native

Apple TV: Enable long presses on TV remote; dev menu on TV device; example code
  RNTester/js/RNTesterList.ios.js
  RNTester/js/TVEventHandlerExample.js
  React/Base/RCTTVRemoteHandler.m
  React/DevSupport/RCTDevMenu.h
  React/DevSupport/RCTDevMenu.m
  docs/BuildingForAppleTV.md
Owners: @shergin, @javache, @facebook/react-native

Standardize project indentation settings on 2 spaces
  Libraries/ART/ART.xcodeproj/project.pbxproj
  Libraries/ActionSheetIOS/RCTActionSheet.xcodeproj/project.pbxproj
  Libraries/Blob/RCTBlob.xcodeproj/project.pbxproj
  Libraries/CameraRoll/RCTCameraRoll.xcodeproj/project.pbxproj
  Libraries/Geolocation/RCTGeolocation.xcodeproj/project.pbxproj
  Libraries/Image/RCTImage.xcodeproj/project.pbxproj
  Libraries/LinkingIOS/RCTLinking.xcodeproj/project.pbxproj
  Libraries/NativeAnimation/RCTAnimation.xcodeproj/project.pbxproj
  Libraries/Network/RCTNetwork.xcodeproj/project.pbxproj
  Libraries/PushNotificationIOS/RCTPushNotification.xcodeproj/project.pbxproj
  Libraries/RCTTest/RCTTest.xcodeproj/project.pbxproj
  Libraries/Sample/Sample.xcodeproj/project.pbxproj
  Libraries/Settings/RCTSettings.xcodeproj/project.pbxproj
  Libraries/Text/RCTText.xcodeproj/project.pbxproj
  Libraries/Vibration/RCTVibration.xcodeproj/project.pbxproj
  Libraries/WebSocket/RCTWebSocket.xcodeproj/project.pbxproj
  RNTester/RNTester.xcodeproj/project.pbxproj
  RNTester/RNTesterLegacy.xcodeproj/project.pbxproj
  React/React.xcodeproj/project.pbxproj
  React/ReactLegacy.xcodeproj/project.pbxproj
  local-cli/templates/HelloWorld/ios/HelloWorld.xcodeproj/project.pbxproj
Owners: none

Increase information logged to MessageQueue.spy
  Libraries/BatchedBridge/BatchedBridge.js
  Libraries/BatchedBridge/MessageQueue.js
  Libraries/BatchedBridge/NativeModules.js
  Libraries/Interaction/BridgeSpyStallHandler.js
Owners: none

Blog post for React Native monthly meeting #2
  blog/2017-07-28-react-native-monthly-2.md
Owners: @facebook/react-native

.github/CODEOWNERS:

docs/* @facebook/react-native
blog/* @facebook/react-native
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin @javache
React/Views/* @shergin @javache
React/Modules/* @shergin @javache
React/CxxBridge/* @javache
React/Executors/* @javache
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
ReactCommon/* @javache
website/* @facebook/react-native
website/showcase.json @facebook/react-native
package.json @facebook/react-native
website/package.json @facebook/react-native
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev
