Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @facebook/react-native, @janicduplessis, @shergin, @javache, @grabbou, @kureev

Use offset adjusted value in ModulusAnimatedNode
  ReactAndroid/src/main/java/com/facebook/react/animated/ModulusAnimatedNode.java
Owners: @janicduplessis

metro-bundler: transform import() to basic require()
  babel-preset/configs/main.js
  babel-preset/package.json
  babel-preset/transforms/transform-dynamic-import.js
Owners: @facebook/react-native

Do not send 'hot' parameter when requesting a bundle from iOS
  React/Base/RCTBatchedBridge.mm
  React/CxxBridge/RCTCxxBridge.mm
  React/Modules/RCTDevSettings.mm
Owners: @shergin, @javache

Docs component grid laid out with CSS Grid
  website/src/react-native/css/react-native.css
Owners: none

Update documentation for PermissionsAndroid
  Libraries/PermissionsAndroid/PermissionsAndroid.js
Owners: none

Make ResourceDrawableIdHelper work with resource id
  ReactAndroid/src/main/java/com/facebook/react/views/imagehelper/ResourceDrawableIdHelper.java
Owners: none

Make prospective syntax compatible
  setupBabel.js
Owners: none

Fix Unexpected token ) in babel-preset-react-native
  babel-preset/configs/main.js
Owners: none

FBASSERT -> FBJNI_ASSERT, ALOGE -> FBJNI_LOGE, ALOGF -> FBJNI_LOGF
  ReactAndroid/src/main/jni/react/jni/CxxModuleWrapper.cpp
Owners: none

android: allow whitelisting urls to bypass default webview loading
  Libraries/Components/WebView/WebView.android.js
  ReactAndroid/src/main/java/com/facebook/react/views/webview/ReactWebViewManager.java
Owners: none

Updated troubleshooting - changing port section
  docs/Troubleshooting.md
Owners: @facebook/react-native

Flag large pull requests, add large-pr command
  bots/IssueCommands.txt
  danger/dangerfile.js
  docs/Maintainers.md
Owners: @facebook/react-native

Note about flex
  docs/NativeComponentsIOS.md
Owners: @facebook/react-native

Add documentation on .focus and .blur
  Libraries/Components/TextInput/TextInput.js
Owners: none

Add suppressions for Flow v0.53.0 before React changes
  Libraries/Animated/src/AnimatedImplementation.js
  Libraries/Components/ActivityIndicator/ActivityIndicator.js
  Libraries/Components/ScrollView/ScrollView.js
  Libraries/Components/Switch/Switch.js
  Libraries/Components/TextInput/TextInput.js
  Libraries/Components/Touchable/TouchableHighlight.js
  Libraries/Experimental/SwipeableRow/SwipeableListView.js
  Libraries/Inspector/BoxInspector.js
  Libraries/Lists/ListView/ListView.js
  Libraries/Lists/ListView/ListViewDataSource.js
  Libraries/Lists/MetroListView.js
  Libraries/Lists/VirtualizedList.js
  Libraries/Renderer/shims/ReactNativeTypes.js
  RNTester/js/ExampleTypes.js
  RNTester/js/ImageExample.js
  RNTester/js/ModalExample.js
  RNTester/js/TextInputExample.ios.js
  local-cli/server/server.js
Owners: none

add perf markers for reload and download
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReactMarkerConstants.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java
  ReactAndroid/src/main/jni/react/jni/OnLoad.cpp
  ReactCommon/cxxreact/JSCExecutor.cpp
Owners: none

Restore correct placement of PRE_RUN_JS_BUNDLE_START
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
Owners: none

Add more perf counters
  ReactAndroid/src/main/java/com/facebook/react/bridge/PerformanceCounter.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIViewOperationQueue.java
  ReactAndroid/src/main/java/com/facebook/systrace/Systrace.java
Owners: none

fix content appeared logging pt2
  ReactAndroid/src/main/java/com/facebook/react/ReactRootView.java
Owners: none

Fix dev support calls made without an ifdef guard
  React/Base/RCTBridge.m
Owners: @shergin, @javache

Fix for Modal behavior when menu button pressed on Apple TV (Issue #15313)
  Libraries/Modal/Modal.js
  React/Views/RCTModalHostView.h
  React/Views/RCTModalHostView.m
  React/Views/RCTModalHostViewManager.m
Owners: @shergin, @javache

Loading-State when reloading Android WebView
  Libraries/Components/WebView/WebView.android.js
Owners: none

Disallow trailing commas in react-native-github
  .eslintrc
  Libraries/.eslintrc
  RNTester/.eslintrc
  jest/.eslintrc
  local-cli/.eslintrc
Owners: none

add notifications for dev reload
  React/Base/RCTBridge.h
  React/Base/RCTBridge.m
  React/CxxBridge/RCTCxxBridge.mm
Owners: @shergin, @javache

Remove request dependency from core directory
  package.json
Owners: @facebook/react-native

iOS: Fix registration for UIContentSizeCategoryDidChangeNotification
  React/Modules/RCTAccessibilityManager.m
Owners: @shergin, @javache

Update to eslint-plugin-react@7.2.1
  package.json
Owners: @facebook/react-native

Avoid race condition for AppState.currentState
  Libraries/AppState/AppState.js
Owners: none

Link to main Android NDK website
  docs/AndroidBuildingFromSource.md
Owners: @facebook/react-native

Don't assume JS integers are dynamic Ints
  ReactCommon/cxxreact/CxxNativeModule.cpp
  ReactCommon/cxxreact/MethodCall.cpp
  ReactCommon/cxxreact/tests/value.cpp
Owners: none

Size height of Android Text component based on includeFontPadding style
  ReactAndroid/src/main/java/com/facebook/react/flat/RCTText.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewProps.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextViewManager.java
Owners: none

Add Skype to showcase
  website/showcase.json
Owners: @facebook/react-native

Android WebView: Only fire onLoadStart for toplevel page loads
  ReactAndroid/src/main/java/com/facebook/react/views/webview/ReactWebViewManager.java
Owners: none

Fix button spacing and layout on small screens
  website/src/react-native/css/react-native.css
Owners: none

Update GettingStarted.md
  docs/GettingStarted.md
Owners: @facebook/react-native

Pass minTimeLeftInFrameForNonBatchedOperationMs from above
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/CatalystNativeJSToJavaParametersTestCase.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/CatalystNativeJavaToJSArgumentsTestCase.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/CatalystNativeJavaToJSReturnValuesTestCase.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/CatalystUIManagerTestCase.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/JSLocaleTest.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/ProgressBarTestCase.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/ViewRenderingTestCase.java
  ReactAndroid/src/main/java/com/facebook/react/CoreModulesPackage.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManagerBuilder.java
  ReactAndroid/src/main/java/com/facebook/react/ReactNativeCorePackage.java
  ReactAndroid/src/main/java/com/facebook/react/flat/FlatUIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/flat/FlatUIImplementationProvider.java
  ReactAndroid/src/main/java/com/facebook/react/flat/FlatUIViewOperationQueue.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementationProvider.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIViewOperationQueue.java
  ReactAndroid/src/test/java/com/facebook/react/uimanager/ReactPropConstantsTest.java
  ReactAndroid/src/test/java/com/facebook/react/uimanager/UIManagerModuleConstantsTest.java
  ReactAndroid/src/test/java/com/facebook/react/uimanager/UIManagerModuleTest.java
  ReactAndroid/src/test/java/com/facebook/react/views/text/ReactTextTest.java
  ReactAndroid/src/test/java/com/facebook/react/views/textinput/TextInputTest.java
Owners: none

BREAKING: Change aspect ratio behavior
  ReactCommon/yoga/yoga/Yoga.c
Owners: none

Make JavaScriptExecutor.Factory a configurable property of ReactInstanceManager
  ReactAndroid/src/androidTest/java/com/facebook/react/testing/ReactTestHelper.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManagerBuilder.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/JSCJavaScriptExecutor.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/JSCJavaScriptExecutorFactory.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/JavaScriptExecutor.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/JavaScriptExecutorFactory.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/ProxyJavaScriptExecutor.java
Owners: none

Kill JSCConfig
  ReactAndroid/src/main/java/com/facebook/react/JSCConfig.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManagerBuilder.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/JSCJavaScriptExecutor.java
Owners: none

Remove appcompat dep from react/views/toolbar
  ReactAndroid/src/main/java/com/facebook/react/views/toolbar/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/toolbar/ReactToolbarManager.java
Owners: none

.github/CODEOWNERS:

docs/* @facebook/react-native
blog/* @facebook/react-native
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin @javache
React/Views/* @shergin @javache
React/Modules/* @shergin @javache
React/CxxBridge/* @javache
React/Executors/* @javache
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
ReactCommon/* @javache
website/* @facebook/react-native
website/showcase.json @facebook/react-native
package.json @facebook/react-native
website/package.json @facebook/react-native
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev
