Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Remove broken links
  Libraries/Animated/src/Easing.js
Owners: none

Change attribute mentioned in alignItem
  docs/LayoutWithFlexbox.md
Owners: @hramos

Omit all line terminators for ImageStore.getBase64ForTag
  ReactAndroid/src/main/java/com/facebook/react/modules/camera/ImageStoreManager.java
  ReactAndroid/src/test/java/com/facebook/react/modules/BUCK
  ReactAndroid/src/test/java/com/facebook/react/modules/camera/ImageStoreManagerTest.java
Owners: none

Correct propTypes for placeholder
  Libraries/Components/TextInput/TextInput.js
Owners: none

Issue #16159 - RCTImageStoreManager's priority
  Libraries/Image/RCTImageLoader.m
  Libraries/Image/RCTImageStoreManager.m
Owners: @shergin

Handling exceptions in video player
  ReactAndroid/src/main/java/com/facebook/react/modules/camera/CameraRollManager.java
Owners: none

Fix that section headers in SectionList don't stick at correct position.
  Libraries/Components/ScrollView/ScrollView.js
Owners: none

Fix npm start in website/
  website/server/docsList.js
  website/server/extractDocs.js
Owners: none

Add minimal example to actionsheet
  Libraries/ActionSheetIOS/ActionSheetIOS.js
Owners: none

Make RCTUIManager and RCTDeviceInfo unsubscribe from NSNotificationCenter on
  React/Modules/RCTDeviceInfo.m
  React/Modules/RCTUIManager.m
Owners: @shergin

Unbreak doc generation for SectionList
  Libraries/Lists/SectionList.js
Owners: none

Fix scrolling events for RN.
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModuleConstants.java
Owners: none

Add missing template label when closing using a bot command
  bots/IssueCommands.txt
Owners: none

Fix typo in Text
  Libraries/Text/Text.js
Owners: @shergin

Add React Native Bot
  bots/IssueCommands.txt
Owners: none

Update IssueCommands.txt
  bots/IssueCommands.txt
Owners: none

Fixed a blog typo
  blog/2017-03-13-better-list-views.md
Owners: @hramos

Improve flow typing and linting for MessageQueue
  Libraries/BatchedBridge/MessageQueue.js
  Libraries/BatchedBridge/__tests__/MessageQueue-test.js
  Libraries/Interaction/BridgeSpyStallHandler.js
Owners: none

Add `visible-password` for TextInput.keyboardType on Android
  Libraries/Components/TextInput/TextInput.js
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputManager.java
Owners: none

Remove unused variable in HelloNavigation example
  local-cli/templates/HelloNavigation/components/KeyboardSpacer.js
Owners: none

Fix Analyze step on CI
  .circleci/config.yml
Owners: none

Remove redundant style field from ScrollView propTypes.
  Libraries/Components/ScrollView/ScrollView.js
Owners: none

Remove mockFs dependency
  local-cli/__mocks__/fs.js
  local-cli/__tests__/fs-mock-test.js
  local-cli/core/__fixtures__/android.js
  local-cli/core/__fixtures__/dependencies.js
  local-cli/core/__fixtures__/ios.js
  local-cli/core/__fixtures__/projects.js
  local-cli/core/__tests__/android/findAndroidAppFolder.spec.js
  local-cli/core/__tests__/android/findManifest.spec.js
  local-cli/core/__tests__/android/findPackageClassName.spec.js
  local-cli/core/__tests__/android/getDependencyConfig.spec.js
  local-cli/core/__tests__/android/getProjectConfig.spec.js
  local-cli/core/__tests__/android/readManifest.spec.js
  local-cli/core/__tests__/findAssets.spec.js
  local-cli/core/__tests__/ios/findProject.spec.js
  local-cli/core/__tests__/ios/getProjectConfig.spec.js
  package.json
Owners: @hramos

Android: put all non-drawable resources to `res/raw`
  Libraries/Image/AssetSourceResolver.js
  local-cli/bundle/__tests__/getAssetDestPathAndroid-test.js
  local-cli/bundle/assetPathUtils.js
  local-cli/bundle/getAssetDestPathAndroid.js
Owners: @shergin

Fix broken releases script
  scripts/bump-oss-version.js
Owners: none

js1 metro-bundler: add script to publish new version
  package.json
Owners: @hramos

Final fixes
  ReactCommon/cxxreact/JSCExecutor.cpp
Owners: none

Add timwangdev to GitHub Issue task force
  bots/IssueCommands.txt
Owners: none

Fix failing flow tests
  .flowconfig
Owners: none

Revert D5932093: [RAMBO] Final fixes
  ReactCommon/cxxreact/JSCExecutor.cpp
Owners: none

Fix platform flags to also check for linux
  ReactAndroid/src/main/jni/third-party/glibc/BUCK
Owners: none

Added "fetchBundle" global function
  Libraries/Core/InitializeCore.js
Owners: none

Fixed crash on attempt to update local data of deallocated shadow node
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
Owners: none

Fixed navigation template
  local-cli/templates/HelloNavigation/App.js
  local-cli/templates/HelloNavigation/README.md
  local-cli/templates/HelloNavigation/dependencies.json
  local-cli/templates/HelloNavigation/views/HomeScreenTabNavigator.js
  local-cli/templates/HelloNavigation/views/chat/ChatListScreen.js
  local-cli/templates/HelloNavigation/views/chat/ChatScreen.js
  local-cli/templates/HelloNavigation/views/welcome/WelcomeScreen.js
  local-cli/templates/HelloNavigation/views/welcome/WelcomeText.android.js
  local-cli/templates/HelloNavigation/views/welcome/WelcomeText.ios.js
Owners: none

more detailed CxxModule logging
  ReactCommon/cxxreact/CxxNativeModule.cpp
Owners: none

add "jsBundlesDirectory" method to RCTBridgeDelegate
  React/Base/RCTBridgeDelegate.h
  React/CxxBridge/RCTCxxBridge.mm
  ReactCommon/cxxreact/JSIndexedRAMBundleRegistry.cpp
  ReactCommon/cxxreact/JSIndexedRAMBundleRegistry.h
Owners: @shergin, @mhorowitz

Native Animated - Restore default values when removing props on Android
  ReactAndroid/src/main/java/com/facebook/react/animated/NativeAnimatedModule.java
  ReactAndroid/src/main/java/com/facebook/react/animated/NativeAnimatedNodesManager.java
  ReactAndroid/src/main/java/com/facebook/react/animated/PropsAnimatedNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModuleListener.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIViewOperationQueue.java
  ReactAndroid/src/test/java/com/facebook/react/animated/BUCK
  ReactAndroid/src/test/java/com/facebook/react/animated/NativeAnimatedNodeTraversalTest.java
Owners: @janicduplessis

Add helpful examples to Android test env validation failure messages.
  scripts/validate-android-test-env.sh
Owners: none

Share logPerfMarker with hermes
  ReactAndroid/src/main/jni/react/jni/AndroidJSCFactory.cpp
  ReactAndroid/src/main/jni/react/jni/BUCK
  ReactAndroid/src/main/jni/react/jni/ReactMarker.cpp
  ReactAndroid/src/main/jni/react/jni/ReactMarker.h
Owners: none

Configure a couple new bot integrations
  .github/no-response.yml
  .github/stale.yml
Owners: none
