Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Fixed black ARTSurfaceView
  Libraries/ART/ARTSurfaceView.m
Owners: none

The Great File Renaming in RCTText
  Libraries/Components/ScrollResponder.js
  Libraries/Components/TextInput/TextInput.js
  Libraries/Text/RCTRawTextShadowView.h
  Libraries/Text/RCTRawTextShadowView.m
  Libraries/Text/RCTRawTextViewManager.h
  Libraries/Text/RCTRawTextViewManager.m
  Libraries/Text/RCTText.xcodeproj/project.pbxproj
  Libraries/Text/Text/RCTTextShadowView.h
  Libraries/Text/Text/RCTTextShadowView.m
  Libraries/Text/Text/RCTTextView.h
  Libraries/Text/Text/RCTTextView.m
  Libraries/Text/Text/RCTTextViewManager.h
  Libraries/Text/Text/RCTTextViewManager.m
  Libraries/Text/TextInput/Multiline/RCTMultilineTextInputShadowView.h
  Libraries/Text/TextInput/Multiline/RCTMultilineTextInputShadowView.m
  Libraries/Text/TextInput/Multiline/RCTMultilineTextInputView.h
  Libraries/Text/TextInput/Multiline/RCTMultilineTextInputView.m
  Libraries/Text/TextInput/Multiline/RCTMultilineTextInputViewManager.h
  Libraries/Text/TextInput/Multiline/RCTMultilineTextInputViewManager.m
  Libraries/Text/TextInput/Multiline/RCTUITextView.h
  Libraries/Text/TextInput/Multiline/RCTUITextView.m
  Libraries/Text/TextInput/RCTBackedTextInputDelegate.h
  Libraries/Text/TextInput/RCTBackedTextInputDelegateAdapter.h
  Libraries/Text/TextInput/RCTBackedTextInputDelegateAdapter.m
  Libraries/Text/TextInput/RCTBackedTextInputViewProtocol.h
  Libraries/Text/TextInput/RCTBaseTextInputView.h
  Libraries/Text/TextInput/RCTBaseTextInputView.m
  Libraries/Text/TextInput/RCTTextSelection.h
  Libraries/Text/TextInput/RCTTextSelection.m
  Libraries/Text/TextInput/Singleline/RCTSinglelineTextInputShadowView.h
  Libraries/Text/TextInput/Singleline/RCTSinglelineTextInputShadowView.m
  Libraries/Text/TextInput/Singleline/RCTSinglelineTextInputView.h
  Libraries/Text/TextInput/Singleline/RCTSinglelineTextInputView.m
  Libraries/Text/TextInput/Singleline/RCTSinglelineTextInputViewManager.h
  Libraries/Text/TextInput/Singleline/RCTSinglelineTextInputViewManager.m
  Libraries/Text/TextInput/Singleline/RCTUITextField.h
  Libraries/Text/TextInput/Singleline/RCTUITextField.m
  React/React.xcodeproj/project.pbxproj
  React/Views/RCTShadowView.h
  React/Views/RCTShadowView.m
Owners: @shergin

On Android, seperate logic to initialize JS from starting the app
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/ReactRootView.java
Owners: none

New implementation of handling `didUpdateReactSubviews` and `didUpdateReactSubviews` events
  React/Modules/RCTUIManager.m
  React/Views/RCTComponent.h
  React/Views/RCTComponentData.m
  React/Views/RCTShadowView.m
  React/Views/UIView+React.h
  React/Views/UIView+React.m
Owners: @shergin

`-[UIView _DEBUG_reactShadowView]` was removed
  React/Modules/RCTUIManager.m
  React/Views/UIView+React.h
  React/Views/UIView+React.m
Owners: @shergin

Removed unnecessary code path in `[RCTUIManager updateView:]`
  React/Modules/RCTUIManager.m
Owners: @shergin

document isInspectable
  ReactCommon/cxxreact/JSExecutor.h
Owners: none

Separate JavaScript lint/flow checks from tests
  .circleci/config.yml
Owners: none

Clarify use of Flow props types in cli example
  local-cli/templates/HelloWorld/App.js
Owners: none

JSBigString to MAP_PRIVATE not MAP_SHARED
  ReactCommon/cxxreact/JSBigString.h
Owners: none

Bump metro to v0.24.2
  package.json
Owners: @hramos

Fix ReactLegacy and delete RCTViewControllerProtocol
  RNTester/RNTester.xcodeproj/project.pbxproj
  RNTester/RNTesterLegacy.xcodeproj/project.pbxproj
  React/Modules/RCTRedBoxExtraDataViewController.m
  React/React.xcodeproj/project.pbxproj
  React/ReactLegacy.xcodeproj/project.pbxproj
  React/Views/RCTTabBar.m
  React/Views/RCTViewControllerProtocol.h
  React/Views/RCTWrapperViewController.h
  React/Views/RCTWrapperViewController.m
Owners: @shergin

Do not use Node 8.x specific Stream.final
  local-cli/__mocks__/fs.js
Owners: none

Revert D6596375: [RN] Removed unnecessary code path in `[RCTUIManager updateView:]`
  React/Modules/RCTUIManager.m
Owners: @shergin

Bump metro to v0.24.3
  package.json
Owners: @hramos

Do not set FB_ASSERTION_ENABLED
  ReactCommon/yoga/yoga/YGMacros.h
Owners: none

Replace native cxx_library with fb-specific macros.
  ReactAndroid/src/main/jni/first-party/fb/BUCK
  ReactAndroid/src/main/jni/first-party/fbgloginit/BUCK
  ReactAndroid/src/main/jni/first-party/jni-hack/BUCK
  ReactAndroid/src/main/jni/first-party/yogajni/BUCK
  ReactAndroid/src/main/jni/packagerconnection/BUCK
  ReactAndroid/src/main/jni/react/jni/BUCK
  ReactAndroid/src/main/jni/react/perftests/BUCK
  ReactCommon/microprofiler/BUCK
  ReactCommon/yoga/BUCK
Owners: none

remove embeddedBundleURL
  Libraries/Image/AssetSourceResolver.js
  Libraries/Image/resolveAssetSource.js
Owners: @shergin

Add top offset for react loading view on Kitkat
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevLoadingViewController.java
Owners: none

Update Docker images to latest Android SDK, Buck
  ContainerShip/Dockerfile.android
  ContainerShip/Dockerfile.android-base
  ReactAndroid/DEFS
Owners: none

Make sure VirtualizedList's windowSize is greater than 0
  Libraries/Lists/VirtualizeUtils.js
  Libraries/Lists/VirtualizedList.js
  Libraries/Lists/__tests__/VirtualizeUtils-test.js
  Libraries/Lists/__tests__/__snapshots__/VirtualizeUtils-test.js.snap
Owners: none

Optimize the performance of Origami
  ReactCommon/yoga/yoga/YGNode.cpp
  ReactCommon/yoga/yoga/YGNode.h
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Define internal FB macro for OSS builds.
  ReactAndroid/DEFS
Owners: none

Update to Danger 2.0
  danger/dangerfile.js
  danger/package.json
Owners: @hramos

Fix buck failures on master
  .circleci/config.yml
  local-cli/__tests__/fs-mock-test.js
Owners: none

Include OSS defs in Yoga BUCK
  ReactCommon/yoga/BUCK
Owners: none

use working getting started url
  local-cli/runAndroid/runAndroid.js
Owners: none
