Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

iOS: Implement border(Top|Bottom)(Start|End)Radius and border(Start|End)(Color|Width) RN styles
  Libraries/Components/View/ReactNativeStyleAttributes.js
  Libraries/Components/View/ViewStylePropTypes.js
  Libraries/StyleSheet/LayoutPropTypes.js
  React/Views/RCTShadowView.h
  React/Views/RCTShadowView.m
  React/Views/RCTView.h
  React/Views/RCTView.m
  React/Views/RCTViewManager.m
Owners: @shergin

iOS: Implement margin(Start|End) styles for RN
  Libraries/StyleSheet/LayoutPropTypes.js
  React/Views/RCTShadowView.h
  React/Views/RCTShadowView.m
  React/Views/RCTViewManager.m
Owners: @shergin

Implement gating support for direction-aware API changes
  Libraries/ReactNative/I18nManager.js
  React/Modules/RCTI18nManager.m
  React/Modules/RCTI18nUtil.h
  React/Modules/RCTI18nUtil.m
  ReactAndroid/src/main/java/com/facebook/react/modules/i18nmanager/I18nManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/modules/i18nmanager/I18nUtil.java
Owners: @shergin

iOS: Implement padding(Start|End) styles for RN
  Libraries/StyleSheet/LayoutPropTypes.js
  React/Views/RCTShadowView.h
  React/Views/RCTShadowView.m
  React/Views/RCTViewManager.m
Owners: @shergin

iOS: Forward RN start/end styles to Yoga
  Libraries/StyleSheet/LayoutPropTypes.js
  React/Views/RCTShadowView.h
  React/Views/RCTShadowView.m
  React/Views/RCTViewManager.m
Owners: @shergin

Android: Forward RN start/end styles to Yoga
  ReactAndroid/src/main/java/com/facebook/react/uimanager/LayoutShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewProps.java
Owners: none

Android: Implement padding(Start|End) styles for RN
  ReactAndroid/src/main/java/com/facebook/react/uimanager/LayoutShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewProps.java
Owners: none

Android: Implement border(Start|End)Color for RN non-rounded borders
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewProps.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewManager.java
Owners: none

Android: Implement margin(Start|End) styles for RN
  ReactAndroid/src/main/java/com/facebook/react/uimanager/LayoutShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewProps.java
Owners: none

Android: Implement border(Top|Bottom)(Start|End)Radius for RN
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewProps.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewManager.java
Owners: none

Android: Implement border(Start|End)Width for non-rounded borders
  ReactAndroid/src/main/java/com/facebook/react/uimanager/LayoutShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewProps.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewManager.java
Owners: none

Add examples to RTLExample
  RNTester/js/RTLExample.js
Owners: none

Implement border(Start|End)Color for rounded borders
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
Owners: none

Implement rounded border(Start|End)Width
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
Owners: none

Implement direction-aware border clipping
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java
Owners: none

Add missing link to missing podspec
  docs/IntegrationWithExistingApps.md
Owners: @hramos

Fix test suite when running on a feature branch
  Libraries/Core/__tests__/ReactNativeVersionCheck-test.js
Owners: none

Final fixes
  ReactCommon/cxxreact/JSCExecutor.cpp
Owners: none

Handle touchCancel properly in ScrollResponder
  Libraries/Components/ScrollResponder.js
  Libraries/Components/ScrollView/ScrollView.js
Owners: none

Consider negative border radii and widths invalid
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewManager.java
Owners: none

Support for remote assets
  local-cli/core/Constants.js
Owners: @grabbou, @kureev

Fix wrong error code when location service is turned off on Android device
  ReactAndroid/src/main/java/com/facebook/react/modules/location/LocationModule.java
Owners: none

Fix Flow errors at declaration of most major library components
  Libraries/Components/ActivityIndicator/ActivityIndicator.js
  Libraries/Components/CheckBox/CheckBox.android.js
  Libraries/Components/DatePicker/DatePickerIOS.ios.js
  Libraries/Components/Keyboard/KeyboardAvoidingView.js
  Libraries/Components/ProgressViewIOS/ProgressViewIOS.ios.js
  Libraries/Components/RefreshControl/RefreshControl.js
  Libraries/Components/SegmentedControlIOS/SegmentedControlIOS.ios.js
  Libraries/Components/Slider/Slider.js
  Libraries/Components/Switch/Switch.js
  Libraries/Components/TextInput/TextInput.js
  Libraries/Components/Touchable/TouchableBounce.js
  Libraries/Components/Touchable/TouchableWithoutFeedback.js
  Libraries/Components/View/View.js
  Libraries/Image/Image.ios.js
  Libraries/StyleSheet/EdgeInsetsPropType.js
  Libraries/Text/Text.js
Owners: @shergin

Backed out changeset c188b39e104f
  local-cli/core/Constants.js
Owners: @grabbou, @kureev

mock mp4 files
  jest-preset.json
  package.json
Owners: @hramos

Remove usage of the ... operator in BackHandler
  Libraries/Utilities/BackHandler.android.js
  Libraries/Utilities/BackHandler.ios.js
Owners: none

Implement a JSTester example for the Dimensions API
  RNTester/js/DimensionsExample.js
  RNTester/js/RNTesterList.android.js
  RNTester/js/RNTesterList.ios.js
Owners: none

Use ReactMarker for all perf logging in the bridge
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReactMarkerConstants.java
Owners: none

(iOS) Support for ExtraBold alias of Heavy (font-weight 800)
  React/Views/RCTFont.mm
Owners: @shergin

"subject" field for Share
  Libraries/Share/Share.js
  RNTester/js/ShareExample.js
Owners: none

Export deps to be source-ABI friendly
  ReactAndroid/src/main/java/com/facebook/react/uimanager/BUCK
Owners: none

Fix potential retain cycles in Animated iOS
  Libraries/NativeAnimation/Nodes/RCTAdditionAnimatedNode.m
  Libraries/NativeAnimation/Nodes/RCTAnimatedNode.h
  Libraries/NativeAnimation/Nodes/RCTAnimatedNode.m
  Libraries/NativeAnimation/Nodes/RCTDiffClampAnimatedNode.m
  Libraries/NativeAnimation/Nodes/RCTDivisionAnimatedNode.m
  Libraries/NativeAnimation/Nodes/RCTModuloAnimatedNode.m
  Libraries/NativeAnimation/Nodes/RCTMultiplicationAnimatedNode.m
  Libraries/NativeAnimation/Nodes/RCTPropsAnimatedNode.m
  Libraries/NativeAnimation/Nodes/RCTStyleAnimatedNode.m
  Libraries/NativeAnimation/Nodes/RCTTransformAnimatedNode.m
  Libraries/NativeAnimation/RCTNativeAnimatedNodesManager.m
  React/Base/RCTEventDispatcher.m
Owners: @janicduplessis, @shergin

Intrinsic content size for network image sources of <Image>
  Libraries/Image/RCTImageView.m
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1-iOS10@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1-iOS10_tvOS.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1_tvOS.png
  RNTester/js/ImageExample.js
Owners: @shergin

Native implementation of <Image> intrinsic content size on iOS
  IntegrationTests/ImageSnapshotTest.js
  Libraries/Image/Image.ios.js
  Libraries/Image/RCTImageView.m
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSliderExample_1-iOS10@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSliderExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSliderExample_1@2x.png
  RNTester/js/ImageExample.js
  RNTester/js/uie_thumb_big@2x.png
Owners: @shergin

Requesting permission results into ArrayIndexOutOfBoundsException
  ReactAndroid/src/main/java/com/facebook/react/modules/permissions/PermissionsModule.java
Owners: none

Fix crash when loading local bundle and hot reload is enabled
  React/CxxBridge/RCTCxxBridge.mm
Owners: @mhorowitz

Moved `PooledClass` and improved `js1 upgrade react`
  Libraries/Components/Touchable/PooledClass.js
Owners: none

Docs - README.md - Fix Good First Issue Link
  README.md
Owners: none

React native shadow tree sonar plugin
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
Owners: none

Rename I18nManager Left/Right swap methods
  Libraries/ReactNative/I18nManager.js
  React/Modules/RCTI18nManager.m
  React/Modules/RCTI18nUtil.h
  React/Modules/RCTI18nUtil.m
  React/Views/RCTShadowView.m
  React/Views/RCTView.m
  ReactAndroid/src/main/java/com/facebook/react/modules/i18nmanager/I18nManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/modules/i18nmanager/I18nUtil.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/LayoutShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java
Owners: @shergin

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev
