Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

Alert - allow for hiding alert title on iOS
  Libraries/Alert/AlertIOS.js
  RNTester/js/AlertExample.js
Owners: none

add files changed count to reload metrics
  ReactAndroid/src/main/java/com/facebook/react/devsupport/BundleDownloader.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java
Owners: none

add files changed count to reload metrics
  React/Base/RCTBridge.h
  React/Base/RCTBridge.m
  React/Base/RCTJavaScriptLoader.h
  React/Base/RCTJavaScriptLoader.mm
  React/CxxBridge/RCTCxxBridge.mm
Owners: @shergin, @mhorowitz

Gracefully handle any unrecognized stack frame format
  ReactAndroid/src/main/java/com/facebook/react/devsupport/StackTraceHelper.java
  ReactAndroid/src/test/java/com/facebook/react/devsupport/StackTraceHelperTest.java
Owners: none

Updated TextInput prop doc
  Libraries/Components/TextInput/TextInput.js
Owners: none

Add radko93 to GitHub Issue task force
  bots/IssueCommands.txt
Owners: none

metro-bundler: v0.12
  package.json
Owners: @hramos

Provide example of android side implementation of HeadlessJS
  docs/HeadlessJSAndroid.md
Owners: @hramos

Revert D5724764: [react-native][PR] iOS: Warn about slow main thread React methods
  React/Base/RCTModuleMethod.mm
Owners: @shergin

add ability to print from JS and app navigation as a category
  ReactAndroid/src/main/java/com/facebook/debug/tags/ReactDebugOverlayTags.java
Owners: none

fixed image in RNTester snapshot example
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testTabBarExample_1-iOS10@2x.png
  RNTester/js/flux@3x.png
  RNTester/js/relay@3x.png
Owners: none

Switch to xplat folly
  ReactAndroid/src/main/jni/packagerconnection/BUCK
  ReactAndroid/src/main/jni/react/jni/BUCK
  ReactAndroid/src/main/jni/react/perftests/BUCK
  ReactCommon/cxxreact/BUCK
  ReactCommon/cxxreact/tests/BUCK
  ReactCommon/jschelpers/BUCK
Owners: none

metro-bundler: v0.13
  package.json
Owners: @hramos

RCTManagedPointer fix ups
  React/Base/RCTManagedPointer.h
Owners: @shergin

Improve HMR performance by allowing to specify bundlingOptions to getShallowDependencies() method
  local-cli/server/util/attachHMRServer.js
  local-cli/server/util/getInverseDependencies.js
Owners: none

Do not let macros mess with shape of JSExecutor's vtable
  ReactCommon/cxxreact/JSExecutor.h
Owners: none

Fix NPE in ReactInstaceManager.setupReactContext
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
Owners: none

Test for non-JSC JavaScriptExecutor
  ReactAndroid/src/main/jni/react/jni/BUCK
Owners: none

Add missing links to blog article
  blog/2017-08-30-react-native-monthly-3.md
Owners: @hramos

Example of getPhotos Method
  Libraries/CameraRoll/CameraRoll.js
Owners: none

Support sticky ListHeaderComponent
  Libraries/Lists/VirtualizedList.js
Owners: none

fix typo in description of selectedIndex prop
  Libraries/Components/SegmentedControlIOS/SegmentedControlIOS.ios.js
Owners: none

Clean up some URL path handling
  Libraries/Image/RCTImageLoader.m
  React/Base/RCTUtils.m
Owners: @shergin

Revert D5746286, D5717191, D5717111 to try and unblock stable
  ReactAndroid/src/main/jni/react/jni/BUCK
Owners: none

Move tabbing logic back to individual docs
  docs/GettingStarted.md
  docs/IntegrationWithExistingApps.md
  docs/RunningOnDevice.md
  website/src/react-native/js/scripts.js
Owners: @hramos

Fix scroll events getting skipped on Android
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/OnScrollDispatchHelper.java
Owners: none

Fixed issue with path with spaces
  React/React.xcodeproj/project.pbxproj
Owners: none

Fix unrecognized selector error
  React/Base/RCTMultipartStreamReader.m
Owners: @shergin

metro-bunder: v0.14.0
  package.json
Owners: @hramos

Enable delta bundler on metro-bundler behind a cli argument
  local-cli/bundle/buildBundle.js
  local-cli/server/runServer.js
Owners: none

Shortcut JSBigFileString in when no offset is used
  ReactCommon/cxxreact/JSBigString.h
Owners: none

Upgrade metro-bunder to v0.15.0
  package.json
Owners: @hramos

Remove nested "it"s
  local-cli/link/__tests__/ios/addProjectToLibraries.spec.js
Owners: none

Update Jest to v21
  package.json
Owners: @hramos

ReactInstanceManager tests with non-JSC JavaScriptExecutor
  ReactAndroid/src/main/jni/react/jni/BUCK
Owners: none

Change intValue -> integerValue in RCTMultipartStreamReader
  React/Base/RCTMultipartStreamReader.m
Owners: @shergin

README: Remove broken link to section
  README.md
Owners: none

Dirty the shadow node when ReactLithoView requests layout
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
Owners: none

Update Android Guide for Integration With Existing Apps
  docs/IntegrationWithExistingApps.md
Owners: @hramos

Comment out failing buck install command
  circle.yml
Owners: none

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev
