Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

Remove experimental shouldBridgeInitializeNativeModulesSynchronously:
  React/Base/RCTBatchedBridge.mm
  React/Base/RCTBridgeDelegate.h
  React/CxxBridge/RCTCxxBridge.mm
Owners: @shergin, @mhorowitz

Remove the experimental concept of whitelisted modules
  React/Base/RCTBatchedBridge.mm
  React/Base/RCTBridge.h
  React/Base/RCTBridge.m
  React/Base/RCTBridgeDelegate.h
  React/CxxBridge/RCTCxxBridge.mm
Owners: @shergin, @mhorowitz

Remove experimental shouldBridgeLoadJavaScriptSynchronously:
  React/Base/RCTBridgeDelegate.h
  React/CxxBridge/RCTCxxBridge.mm
Owners: @shergin, @mhorowitz

Revert D5189017: [RN] Native implementation of <Image> intrinsic content size on iOS
  IntegrationTests/ImageSnapshotTest.js
  Libraries/Image/Image.ios.js
  Libraries/Image/RCTImageView.m
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSliderExample_1-iOS10@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSliderExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSliderExample_1@2x.png
  RNTester/js/ImageExample.js
  RNTester/js/uie_thumb_big.png
Owners: @shergin

Revert D5196055: [RN] Intrinsic content size for network image sources of <Image>
  Libraries/Image/RCTImageView.m
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1-iOS10@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1-iOS10_tvOS.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1_tvOS.png
  RNTester/js/ImageExample.js
Owners: @shergin

Introduce mobile config flag to load classes for View Managers
  ReactAndroid/src/main/java/com/facebook/react/BridgeCorePackage.java
  ReactAndroid/src/main/java/com/facebook/react/CompositeReactPackage.java
  ReactAndroid/src/main/java/com/facebook/react/CoreModulesPackage.java
  ReactAndroid/src/main/java/com/facebook/react/DebugCorePackage.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManagerBuilder.java
  ReactAndroid/src/main/java/com/facebook/react/ReactNativeCorePackage.java
  ReactAndroid/src/main/java/com/facebook/react/ViewManagerOnDemandReactPackage.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/ModuleSpec.java
  ReactAndroid/src/main/java/com/facebook/react/shell/MainReactPackage.java
Owners: none

RN catalyst instance destroy markers
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstanceImpl.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReactMarkerConstants.java
Owners: none

Fixing RTL HorizontalScrolling in Android
  Libraries/Components/ScrollView/ScrollView.js
  ReactAndroid/src/main/java/com/facebook/react/shell/MainReactPackage.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactHorizontalScrollContainerView.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactHorizontalScrollContainerViewManager.java
Owners: none

Revert D5638458: Fixing RTL HorizontalScrolling in Android
  Libraries/Components/ScrollView/ScrollView.js
  ReactAndroid/src/main/java/com/facebook/react/shell/MainReactPackage.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactHorizontalScrollContainerView.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactHorizontalScrollContainerViewManager.java
Owners: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: none

Move RCTConvertSelectorForType to their respective using modules
  React/Base/RCTConvert.h
  React/Base/RCTConvert.m
  React/Base/RCTModuleMethod.mm
  React/Views/RCTComponentData.m
Owners: @shergin

Automated fixups for Instagram
  ReactAndroid/src/main/java/com/facebook/react/bridge/BUCK
  ReactAndroid/src/main/java/com/facebook/react/common/BUCK
  ReactAndroid/src/main/java/com/facebook/react/devsupport/WebsocketJavaScriptExecutor.java
  ReactAndroid/src/main/java/com/facebook/react/module/annotations/BUCK
  ReactAndroid/src/main/java/com/facebook/react/uimanager/BUCK
  ReactAndroid/src/main/java/com/facebook/react/uimanager/annotations/BUCK
  ReactAndroid/src/main/java/com/facebook/react/uimanager/layoutanimation/OpacityAnimation.java
  ReactAndroid/src/main/java/com/facebook/react/views/image/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java
  ReactAndroid/src/main/java/com/facebook/react/views/viewpager/ReactViewPager.java
Owners: none

Fixed typo in comments
  Libraries/Image/RCTImageView.m
Owners: @shergin

Fixing RTL HorizontalScrolling in Android
  Libraries/Components/ScrollView/ScrollView.js
  ReactAndroid/src/main/java/com/facebook/react/shell/MainReactPackage.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactHorizontalScrollContainerView.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactHorizontalScrollContainerViewManager.java
Owners: none

Fixed broken image link in example code
  Libraries/Image/Image.ios.js
Owners: @shergin

Change name of the file to edit
  docs/GettingStarted.md
Owners: @hramos

- Fixed link ref for NativeEventEmitter.js
  Libraries/Components/Keyboard/Keyboard.js
Owners: none

Code cleanup - Xcode 9 build warning/issue.
  Libraries/Image/RCTImageStoreManager.h
  Libraries/Image/RCTImageStoreManager.m
Owners: @shergin

Fixed "constants" typo
  Libraries/Core/Timers/JSTimers.js
Owners: none

Remove quicklog
  ReactAndroid/src/main/java/com/facebook/quicklog/BUCK
  ReactAndroid/src/main/java/com/facebook/quicklog/QuickPerformanceLogger.java
  ReactAndroid/src/main/java/com/facebook/quicklog/QuickPerformanceLoggerProvider.java
  ReactAndroid/src/main/java/com/facebook/quicklog/identifiers/ActionId.java
  ReactAndroid/src/main/java/com/facebook/quicklog/identifiers/BUCK
  ReactAndroid/src/main/java/com/facebook/quicklog/identifiers/ReactNativeBridge.java
Owners: none

Introduce getConstants generation for Native Modules codegen.
  ReactAndroid/src/main/java/com/facebook/react/module/processing/ReactModuleSpecProcessor.java
Owners: none

Move Map/Set polyfills to top
  Libraries/Core/InitializeCore.js
Owners: none

Spelling fix
  Libraries/Lists/FlatList.js
Owners: none

Gate ReactNativeVersionCheck by __DEV__
  Libraries/Core/InitializeCore.js
Owners: none

Fix iOS 11 WebView extra white space on top due to contentInsetAdjustmentBehavior
  React/Views/RCTWebView.m
Owners: @shergin

Allow shadowOpacity and shadowRadius in NativeAnimated
  Libraries/Animated/src/NativeAnimatedHelper.js
Owners: none

Remove FlatUI references from fb4a.
  ReactAndroid/src/main/java/com/facebook/react/flat/FlatUI.java
  ReactAndroid/src/main/java/com/facebook/react/flat/FlatUIImplementationProvider.java
Owners: none

Used hasDirtyChildren tag for the optimization
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNodeImpl.java
  ReactAndroid/src/main/java/com/facebook/yoga/YogaNode.java
  ReactAndroid/src/main/jni/first-party/yogajni/jni/YGJNI.cpp
  ReactCommon/yoga/yoga/Yoga.c
  ReactCommon/yoga/yoga/Yoga.h
Owners: none

Add __autoreleasing paramters to fix block-capture-autoreleasing warning
  React/Base/RCTBatchedBridge.mm
Owners: @shergin

Docs: Update ImprovingUserExperience.md
  docs/ImprovingUserExperience.md
Owners: @hramos

Docs: Improve documentation of Slider (add example)
  Libraries/Components/Slider/Slider.js
Owners: none

Update shared/output modules to accept the output from the Delta Bundler
  local-cli/bundle/buildBundle.js
Owners: none

Updated createAnimatedComponent to account for async rendering
  Libraries/Animated/src/createAnimatedComponent.js
Owners: none

Remove ReactNativeVersionCheck __DEV__ gating, print error instead of throwing
  Libraries/Core/InitializeCore.js
  Libraries/Core/ReactNativeVersionCheck.js
  Libraries/Core/__tests__/ReactNativeVersionCheck-test.js
Owners: none

Reverting the dirty child optimization
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNodeImpl.java
  ReactAndroid/src/main/java/com/facebook/yoga/YogaNode.java
  ReactAndroid/src/main/jni/first-party/yogajni/jni/YGJNI.cpp
  ReactCommon/yoga/yoga/Yoga.c
  ReactCommon/yoga/yoga/Yoga.h
Owners: none

react-native: move out the hardcoded import() transform
  babel-preset/configs/main.js
  babel-preset/transforms/transform-dynamic-import.js
Owners: none

Fixing the edge case in Yoga with percentage absolute position and infinite constraint
  ReactCommon/yoga/yoga/Yoga.c
Owners: none

Add "setJsBundlesDirectory" method to CatalystInstanceImpl
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstanceImpl.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/JSBundleLoader.java
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.cpp
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.h
  ReactAndroid/src/main/jni/react/jni/JniRAMBundleRegistry.cpp
  ReactAndroid/src/main/jni/react/jni/JniRAMBundleRegistry.h
  ReactCommon/cxxreact/RAMBundleRegistry.cpp
  ReactCommon/cxxreact/RAMBundleRegistry.h
Owners: none

Add bundleSourceURLForBridge in RCTBridgeDelegate
  React/Base/RCTBridgeDelegate.h
Owners: @shergin

use `> || YGFloatsEqual` instead of `>=` for computing round value to pixel grid
  ReactCommon/yoga/yoga/Yoga.c
Owners: none

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev
