Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @facebook/react-native, @janicduplessis, @shergin, @javache, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @facebook/react-native
blog/* @facebook/react-native
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin @javache
React/Views/* @shergin @javache
React/Modules/* @shergin @javache
React/CxxBridge/* @javache
React/Executors/* @javache
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
ReactCommon/* @javache
website/* @facebook/react-native
website/showcase.json @facebook/react-native
package.json @facebook/react-native
website/package.json @facebook/react-native
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Add docs for onMomentumScrollBegin
  Libraries/Components/ScrollView/ScrollView.js
Owners: none

Breaking - make RCTDeviceEventEmitter warnings fatal
  Libraries/EventEmitter/RCTDeviceEventEmitter.js
Owners: none

Fix incorrect invocation of JSClassCreate
  ReactCommon/jschelpers/JSCHelpers.cpp
  ReactCommon/jschelpers/JavaScriptCore.h
Owners: none

Fix build-break in legacy React bridge
  React/Executors/RCTJSCExecutor.mm
Owners: @javache

Debugger channel messages should be processed only on a background thread
  React/Inspector/RCTInspectorPackagerConnection.m
Owners: none

Replace exported method registration with statically allocated struct
  Libraries/RCTTest/RCTTestRunner.h
  RNTester/RNTesterUnitTests/RCTAllocationTests.m
  RNTester/RNTesterUnitTests/RCTMethodArgumentTests.m
  RNTester/RNTesterUnitTests/RCTModuleMethodTests.mm
  React/Base/RCTBatchedBridge.mm
  React/Base/RCTBridgeMethod.h
  React/Base/RCTBridgeModule.h
  React/Base/RCTDefines.h
  React/Base/RCTModuleData.mm
  React/Base/RCTModuleMethod.h
  React/Base/RCTModuleMethod.m
  React/CxxModule/RCTCxxMethod.mm
  React/CxxModule/RCTNativeModule.mm
  ReactCommon/cxxreact/CxxModule.h
  ReactCommon/cxxreact/CxxNativeModule.cpp
Owners: @shergin, @javache

Simplify -[RCTModuleMethod processMethodSignature]
  React/Base/RCTModuleMethod.m
Owners: @shergin, @javache

Make Set and Map initialization lazy
  Libraries/Core/InitializeCore.js
  Libraries/vendor/core/_shouldPolyfillES6Collection.js
Owners: none

Clean up property defines in InitializeCore
  Libraries/Core/InitializeCore.js
Owners: none

Inline requires in JSTimers
  Libraries/Core/Timers/JSTimers.js
Owners: none

Update DrawerLayoutAndroid.android.js
  Libraries/Components/DrawerAndroid/DrawerLayoutAndroid.android.js
Owners: none

iOS: Fix font weight resolution
  React/Views/RCTFont.mm
Owners: @shergin, @javache

BREAKING: Removed couple unused notifications from RCTUIManager
  React/Modules/RCTUIManager.h
  React/Modules/RCTUIManager.m
Owners: @shergin, @javache

Removed unused ivar (`_launchOptions`) from `RCTRootView`
  React/Base/RCTRootView.m
Owners: @shergin, @javache

Retry for #14830 - Fix "Handling Text Input" tutorial's "next" within text
  docs/HandlingTextInput.md
Owners: @facebook/react-native

Use Apple's significant-change API (for iOS 11 UX)
  Libraries/Geolocation/Geolocation.js
  Libraries/Geolocation/RCTLocationObserver.m
Owners: none

Identify keyboardDismissMode platform-specific options
  Libraries/Components/ScrollView/ScrollView.js
Owners: none

Improve Headless JS documentation
  docs/HeadlessJSAndroid.md
Owners: @facebook/react-native

Update Navigation.md
  docs/Navigation.md
Owners: @facebook/react-native

Request toolbar layout after drawable loads
  ReactAndroid/src/main/java/com/facebook/react/views/toolbar/ReactToolbar.java
Owners: none

Adds hook for platform-specific View props
  Libraries/Components/View/PlatformViewPropTypes.android.js
  Libraries/Components/View/PlatformViewPropTypes.ios.js
  Libraries/Components/View/ViewPropTypes.js
Owners: none

@allow-large-files Deploy Flow v0.51.0 to xplat
  .flowconfig
  package.json
Owners: @facebook/react-native

DEPRECATION: Make NetInfo API cross platform and expose whether connection is 2g/3g/4g
  Libraries/Network/NetInfo.js
  Libraries/Network/RCTNetInfo.m
  ReactAndroid/src/main/java/com/facebook/react/modules/netinfo/NetInfoModule.java
Owners: none

metro-bundler: remove hardcoded AssetRegistry path
  local-cli/bundle/buildBundle.js
  local-cli/core/Constants.js
  local-cli/server/runServer.js
Owners: @grabbou, @kureev

make member variables private instead of protected
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManagerBuilder.java
Owners: none

gets Relay/Classic/Compat building
  Libraries/Utilities/DebugEnvironment.js
  Libraries/vendor/core/ErrorUtils.js
Owners: none

Fix photo orientation from ImagePickerIOS
  Libraries/Image/RCTImageStoreManager.m
  Libraries/Image/RCTImageUtils.h
  Libraries/Image/RCTImageUtils.m
Owners: @shergin

Mark non-extern strings static
  Libraries/CameraRoll/RCTCameraRollManager.m
  Libraries/LinkingIOS/RCTLinkingManager.m
  Libraries/PushNotificationIOS/RCTPushNotificationManager.m
  Libraries/Text/RCTShadowText.m
  React/Modules/RCTDevSettings.mm
  React/Profiler/RCTProfile.m
  React/Views/RCTWebView.m
Owners: @shergin, @javache

Cleanup ifdef's in JSCExecutor
  Libraries/Performance/SamplingProfiler.js
  React/React.xcodeproj/project.pbxproj
  ReactCommon/cxxreact/BUCK
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/cxxreact/JSCLegacyTracing.cpp
  ReactCommon/cxxreact/JSCLegacyTracing.h
  ReactCommon/cxxreact/JSCMemory.cpp
  ReactCommon/cxxreact/JSCMemory.h
  ReactCommon/cxxreact/JSCPerfStats.cpp
  ReactCommon/cxxreact/JSCSamplingProfiler.cpp
  ReactCommon/cxxreact/JSCSamplingProfiler.h
  ReactCommon/cxxreact/JSCTracing.cpp
  ReactCommon/cxxreact/JSCTracing.h
Owners: none

Increase information logged to MessageQueue.spy
  Libraries/BatchedBridge/BatchedBridge.js
  Libraries/BatchedBridge/MessageQueue.js
  Libraries/BatchedBridge/NativeModules.js
  Libraries/Interaction/BridgeSpyStallHandler.js
Owners: none

Add 'contentInsetAdjustmentBehavior' (new in iOS 11) to ScrollView
  Libraries/Components/ScrollView/ScrollView.js
  React/Views/RCTScrollView.m
  React/Views/RCTScrollViewManager.m
Owners: @shergin, @javache

creatClass codemod
  website/core/AlgoliaDocSearch.js
  website/core/BlogPost.js
  website/core/BlogPostDate.js
  website/core/BlogPostExcerpt.js
  website/core/BlogPostFooter.js
  website/core/BlogPostHeader.js
  website/core/DocsSidebar.js
  website/core/EjectBanner.js
  website/core/ExcerptLink.js
  website/core/Footer.js
  website/core/H2.js
  website/core/Header.js
  website/core/HeaderLinks.js
  website/core/HeaderWithGithub.js
  website/core/Hero.js
  website/core/Marked.js
  website/core/Prism.js
  website/core/ShowcaseAppIcon.js
  website/core/Site.js
  website/core/SnackPlayer.js
  website/core/WebPlayer.js
  website/core/center.js
  website/layout/AutodocsLayout.js
  website/layout/BlogPageLayout.js
  website/layout/BlogPostLayout.js
  website/layout/DocsLayout.js
  website/layout/PageLayout.js
  website/layout/RedirectLayout.js
  website/src/react-native/404.js
  website/src/react-native/index.js
  website/src/react-native/showcase.js
  website/src/react-native/support.js
  website/src/react-native/versions.js
Owners: none

Revert D5470356: [react-native] Increase information logged to MessageQueue.spy
  Libraries/BatchedBridge/BatchedBridge.js
  Libraries/BatchedBridge/MessageQueue.js
  Libraries/BatchedBridge/NativeModules.js
  Libraries/Interaction/BridgeSpyStallHandler.js
Owners: none

Support namedOrientationDidChange on iOS
  React/Modules/RCTUIManager.m
Owners: @shergin, @javache

Warn if base !== master, tag CODEOWNERS
  danger/dangerfile.js
  danger/package.json
Owners: @facebook/react-native

Fix missing files in OSS build
  RNTester/RNTester.xcodeproj/project.pbxproj
  RNTester/RNTesterLegacy.xcodeproj/project.pbxproj
  RNTester/RNTesterUnitTests/RCTModuleMethodTests.mm
  React/ReactLegacy.xcodeproj/project.pbxproj
  ReactCommon/cxxreact/Android.mk
  ReactCommon/cxxreact/JSCExecutor.cpp
Owners: none

Simplifying conditional logic.
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactHorizontalScrollView.java
Owners: none

Remove unused nativeTrace*stage methods
  ReactCommon/cxxreact/JSCTracing.cpp
Owners: none

Fix typo
  Libraries/StyleSheet/LayoutPropTypes.js
Owners: none

Update Modal.js
  Libraries/Modal/Modal.js
Owners: none
