Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @facebook/react-native, @janicduplessis, @shergin, @javache, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @facebook/react-native
blog/* @facebook/react-native
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin @javache
React/Views/* @shergin @javache
React/Modules/* @shergin @javache
React/CxxBridge/* @javache
React/Executors/* @javache
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
ReactCommon/* @javache
website/* @facebook/react-native
website/showcase.json @facebook/react-native
package.json @facebook/react-native
website/package.json @facebook/react-native
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Apple TV: RCTTabBar selection controlled by native after render (fix #15081)
  React/Views/RCTTabBar.m
  React/Views/RCTTabBarItem.h
  React/Views/RCTTabBarItem.m
  docs/BuildingForAppleTV.md
Owners: @shergin, @javache, @facebook/react-native

WebSocket API change to make room for other connection options (SSL pinning)
  Libraries/WebSocket/RCTWebSocketModule.m
  Libraries/WebSocket/WebSocket.js
  ReactAndroid/src/main/java/com/facebook/react/modules/websocket/WebSocketModule.java
Owners: none

Update Jest to 20.1.0-echo.1
  package.json
Owners: @facebook/react-native

Rename module name to module path
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManagerBuilder.java
  ReactAndroid/src/main/java/com/facebook/react/ReactNativeHost.java
  docs/IntegrationWithExistingApps.md
Owners: @facebook/react-native

Switch soname from .so to .$(ext)
  ReactCommon/cxxreact/BUCK
Owners: none

Expose ModuleRegistry from Instance
  ReactCommon/cxxreact/Instance.cpp
  ReactCommon/cxxreact/Instance.h
Owners: none

React Native: run Relay DevTools runtime
  Libraries/Core/Devtools/setupDevtools.js
Owners: none

TextInput: `onSubmitEditing` is now woriking with disabled `blurOnSubmit`
  Libraries/Text/RCTTextInput.m
Owners: @shergin

Expose the ReactApplicationContext to createShadowNodeInstance()
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewManager.java
Owners: none

autoGrow for RN TextInput
  Libraries/Components/TextInput/TextInput.js
Owners: none

Implement lazy discovery scaffolding for loading NativeModules on demand.
  React/Base/RCTBridge+Private.h
  React/Base/RCTBridge.m
  React/Base/RCTBridgeDelegate.h
  React/CxxBridge/RCTCxxBridge.mm
  ReactCommon/cxxreact/ModuleRegistry.cpp
  ReactCommon/cxxreact/ModuleRegistry.h
Owners: @shergin, @javache

Add `@providesModule` to `IntegrationTests/WebViewTest.js`
  IntegrationTests/WebViewTest.js
Owners: none

Refactor attachHMRServer to use async/await
  local-cli/server/util/attachHMRServer.js
Owners: none

Add multi-client support for HMR
  local-cli/server/util/attachHMRServer.js
Owners: none

refactor MemoryPressureListener to use Android levels
  ReactAndroid/src/main/java/com/facebook/react/MemoryPressureRouter.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstanceImpl.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/MemoryPressureListener.java
Owners: none

Add support for Cxx objects as arguments to native modules
  RNTester/RNTesterUnitTests/RCTMethodArgumentTests.m
  React/Base/RCTCxxConvert.h
  React/Base/RCTCxxConvert.m
  React/Base/RCTManagedPointer.h
  React/Base/RCTManagedPointer.mm
  React/Base/RCTModuleMethod.mm
  React/Base/RCTParserUtils.h
  React/Base/RCTParserUtils.m
  React/React.xcodeproj/project.pbxproj
  React/ReactLegacy.xcodeproj/project.pbxproj
Owners: @shergin, @javache

Refactor memory management of RCTModuleMethod's arguments
  React/Base/RCTModuleMethod.m
Owners: @shergin, @javache

Allow reactinstancemanager to set an initialization function
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstanceImpl.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/StackTraceHelper.java
  ReactAndroid/src/main/java/com/facebook/react/module/processing/ReactModuleSpecProcessor.java
Owners: none

Move native modules into different packages for fb4a shared bundle
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
Owners: none

Gate more code with if (__DEV__) { }
  Libraries/Performance/Systrace.js
Owners: none

Force the debugger to disconnect before a bundle reload
  Libraries/WebSocket/RCTReconnectingWebSocket.h
  Libraries/WebSocket/RCTReconnectingWebSocket.m
  Libraries/WebSocket/RCTWebSocketObserver.h
  Libraries/WebSocket/RCTWebSocketObserver.m
  React/Base/RCTBridge.m
  React/DevSupport/RCTInspectorDevServerHelper.h
  React/DevSupport/RCTInspectorDevServerHelper.mm
  React/Inspector/RCTInspectorPackagerConnection.h
  React/Inspector/RCTInspectorPackagerConnection.m
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevServerHelper.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/InspectorPackagerConnection.java
Owners: @shergin, @javache

Allow to pass regular expressions to `buildRegExps`
  setupBabel.js
Owners: none

Show bundle download progress on iOS
  RNTester/RNTesterUnitTests/RCTMultipartStreamReaderTests.m
  React/Base/RCTJavaScriptLoader.mm
  React/Base/RCTMultipartDataTask.h
  React/Base/RCTMultipartDataTask.m
  React/Base/RCTMultipartStreamReader.h
  React/Base/RCTMultipartStreamReader.m
Owners: @shergin, @javache

remove internal copy of ReactNativeFeatureFlags
  Libraries/Renderer/shims/ReactNativeFeatureFlags.js
Owners: none

Fix flowtype errors for PushNotificationIOS
  Libraries/PushNotificationIOS/PushNotificationIOS.js
Owners: none

Fix TextInput autoGrow
  Libraries/Components/TextInput/TextInput.js
Owners: none

RN babel preset: add import() syntax
  babel-preset/configs/main.js
  babel-preset/package.json
  babel-preset/plugins.js
Owners: @facebook/react-native

refactor out RootView tag number logic
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/ReactRootView.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactRootViewTagGenerator.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/TaggedRootView.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
Owners: none

Fix systrace section name
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIViewOperationQueue.java
Owners: none

move the ReactNativeFeatureFlags outside of sync dir
  Libraries/ReactNative/ReactNativeFeatureFlags.js
Owners: none

fix content appeared logging
  ReactAndroid/src/main/java/com/facebook/react/ReactRootView.java
Owners: none

Expose StatusBar height and fix StatusBar example - T13591448
  Libraries/Components/DrawerAndroid/DrawerLayoutAndroid.android.js
  Libraries/Components/StatusBar/StatusBar.js
  RNTester/js/StatusBarExample.js
  ReactAndroid/src/main/java/com/facebook/react/modules/statusbar/StatusBarModule.java
Owners: none

Getting correct video width and height metrics
  ReactAndroid/src/main/java/com/facebook/react/modules/camera/CameraRollManager.java
Owners: none

Fetching video length
  Libraries/CameraRoll/CameraRoll.js
  ReactAndroid/src/main/java/com/facebook/react/modules/camera/CameraRollManager.java
Owners: none

Expose "register devtools plugin" interface globally in React-Native
  Libraries/Core/Devtools/setupDevtools.js
Owners: none

Android: Improve getCurrentPosition API
  ReactAndroid/src/main/java/com/facebook/react/modules/location/BUCK
  ReactAndroid/src/main/java/com/facebook/react/modules/location/LocationModule.java
Owners: none

Introducing smart `RCTUnsafeExecuteOnMainQueueOnceSync()` and fixed `RCTScreenScale()`
  React/Base/RCTUtils.m
Owners: @shergin, @javache

Revert D4449255: [react-native][PR] Fixed ART Surface initialization: do not cancel updates to the surfce, make them pen…
  ReactAndroid/src/main/java/com/facebook/react/views/art/ARTSurfaceViewShadowNode.java
Owners: none

Do not send 'hot' parameter when requesting a bundle from Android
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevServerHelper.java
Owners: none

`onAnimatedValueUpdate` should also include offset
  ReactAndroid/src/main/java/com/facebook/react/animated/ValueAnimatedNode.java
Owners: @janicduplessis
