Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janicduplessis, @shergin, @mhorowitz, @hramos, @cpojer

.github/CODEOWNERS:

Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
**/*.md @hramos @cpojer
package.json @hramos @cpojer

Fabric: More clang-format
  React/Fabric/Mounting/ComponentViews/ActivityIndicator/RCTActivityIndicatorViewComponentView.mm
  React/Fabric/Mounting/ComponentViews/Image/RCTImageComponentView.h
  React/Fabric/Mounting/ComponentViews/Image/RCTImageComponentView.mm
  React/Fabric/Mounting/ComponentViews/Root/RCTRootComponentView.mm
  React/Fabric/Mounting/ComponentViews/ScrollView/RCTScrollViewComponentView.mm
  React/Fabric/Mounting/ComponentViews/Slider/RCTSliderComponentView.mm
  React/Fabric/Mounting/ComponentViews/Switch/RCTSwitchComponentView.mm
  React/Fabric/Mounting/ComponentViews/Text/RCTParagraphComponentView.mm
  React/Fabric/Mounting/ComponentViews/View/RCTViewComponentView.h
  React/Fabric/Mounting/ComponentViews/View/RCTViewComponentView.mm
  React/Fabric/Mounting/MountItems/RCTCreateMountItem.h
  React/Fabric/Mounting/MountItems/RCTCreateMountItem.mm
  React/Fabric/Mounting/MountItems/RCTDeleteMountItem.h
  React/Fabric/Mounting/MountItems/RCTDeleteMountItem.mm
  React/Fabric/Mounting/MountItems/RCTInsertMountItem.h
  React/Fabric/Mounting/MountItems/RCTInsertMountItem.mm
  React/Fabric/Mounting/MountItems/RCTRemoveMountItem.h
  React/Fabric/Mounting/MountItems/RCTRemoveMountItem.mm
  React/Fabric/Mounting/MountItems/RCTUpdateEventEmitterMountItem.h
  React/Fabric/Mounting/MountItems/RCTUpdateEventEmitterMountItem.mm
  React/Fabric/Mounting/MountItems/RCTUpdateLayoutMetricsMountItem.mm
  React/Fabric/Mounting/MountItems/RCTUpdatePropsMountItem.mm
Owners: none

Add support for needsOffscreenAlphaCompositing on iOS (#19052)
  RNTester/RNTesterUnitTests/RCTComponentPropsTests.m
  RNTester/js/ViewExample.js
  React/Views/RCTViewManager.m
Owners: @shergin

Fixed build on Xcode 10.2 - availability guard
  React/Views/ScrollView/RCTScrollViewManager.m
Owners: none

Fabric/DebugStringConvertibleItem.h: Fix for MSVC (#23436)
  ReactCommon/fabric/debug/DebugStringConvertibleItem.h
Owners: none

Fix buildType issue introduced in rebase (#23444)
  react.gradle
Owners: none

Fabric: Change naming scheme of `ShadowNodeFragment` placeholders (#23437)
  ReactCommon/fabric/core/shadownode/ShadowNodeFragment.cpp
  ReactCommon/fabric/core/shadownode/ShadowNodeFragment.h
  ReactCommon/fabric/uimanager/UIManager.cpp
Owners: none

ReadableNativeMap -> ReadableMap
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReadableNativeMap.java
  ReactAndroid/src/main/java/com/facebook/react/fabric/FabricUIManager.java
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/Binding.cpp
  ReactAndroid/src/main/java/com/facebook/react/fabric/mounting/MountingManager.java
  ReactAndroid/src/main/java/com/facebook/react/fabric/mounting/mountitems/UpdateLocalDataMountItem.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextViewManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/TextLayoutManager.java
  ReactCommon/fabric/textlayoutmanager/platform/android/TextLayoutManager.cpp
Owners: none

Apply clang format to Fabric C++ android code
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/AsyncEventBeat.h
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/Binding.cpp
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/Binding.h
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/ComponentFactoryDelegate.cpp
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/ComponentFactoryDelegate.h
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/EventBeatManager.cpp
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/EventBeatManager.h
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/EventEmitterWrapper.cpp
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/EventEmitterWrapper.h
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/OnLoad.cpp
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/ReactNativeConfigHolder.cpp
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/ReactNativeConfigHolder.h
Owners: none

Fabric: Fixed object ownership problem in ImageManager
  React/Fabric/Mounting/ComponentViews/Image/RCTImageComponentView.mm
  React/Fabric/Mounting/ComponentViews/Slider/RCTSliderComponentView.mm
  ReactCommon/fabric/imagemanager/ImageRequest.h
  ReactCommon/fabric/imagemanager/platform/android/ImageRequest.cpp
  ReactCommon/fabric/imagemanager/platform/ios/ImageRequest.cpp
  ReactCommon/fabric/imagemanager/platform/ios/RCTImageManager.mm
Owners: none

lock docker image version in ci (#23424)
  .circleci/config.yml
Owners: none

refactor nodejs image in analyze_pr task (#23433)
  .circleci/config.yml
Owners: none

chore: remove the unused packages from package.json (#23428)
  package.json
Owners: @hramos, @cpojer

Remove deprecation messages.
  Libraries/react-native/react-native-implementation.js
Owners: none

Remove VibrationIOS
  Libraries/Vibration/VibrationIOS.android.js
  Libraries/Vibration/VibrationIOS.ios.js
  Libraries/react-native/react-native-implementation.js
Owners: none

fix: add local-cli to react-native package (#23449)
  package.json
Owners: @hramos, @cpojer

Add deprecation warning for ImageEditor (#23452)
  Libraries/react-native/react-native-implementation.js
Owners: none

Upgrade BouncyCastle [CVE] (#19074)
  ReactAndroid/src/main/third-party/java/robolectric3/robolectric/BUCK
Owners: none

Leak mutex to avoid a crashing issue (#22607)
  React/Views/RCTFont.mm
Owners: @shergin

Attempt to fix T40449334 by adding DoNotStrip to interface
  ReactAndroid/src/main/java/com/facebook/react/fabric/ReactNativeConfig.java
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/Binding.cpp
Owners: none

Add support for regex in YellowBox warnings
  Libraries/YellowBox/Data/YellowBoxRegistry.js
  Libraries/YellowBox/Data/__tests__/YellowBoxRegistry-test.js
Owners: none

Fabric: Introducing SharedFunction
  ReactCommon/better/mutex.h
  ReactCommon/utils/BUCK
  ReactCommon/utils/FloatComparison.h
  ReactCommon/utils/SharedFunction.h
Owners: none

Fabric: Fixed small perf problem in RCTImageManager
  ReactCommon/fabric/imagemanager/BUCK
  ReactCommon/fabric/imagemanager/platform/ios/RCTImageManager.h
  ReactCommon/fabric/imagemanager/platform/ios/RCTImageManager.mm
Owners: none

xplat// -> fbsource//xplat/ for xplat/js
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/BUCK
  ReactAndroid/src/main/java/com/facebook/react/jscexecutor/BUCK
  ReactAndroid/src/main/java/com/facebook/react/turbomodule/core/jni/BUCK
  ReactAndroid/src/main/jni/react/jni/BUCK
  ReactAndroid/src/main/jni/react/perftests/BUCK
  ReactCommon/better/BUCK
  ReactCommon/config/BUCK
  ReactCommon/cxxreact/BUCK
  ReactCommon/cxxreact/tests/BUCK
  ReactCommon/fabric/attributedstring/BUCK
  ReactCommon/fabric/components/activityindicator/BUCK
  ReactCommon/fabric/components/image/BUCK
  ReactCommon/fabric/components/root/BUCK
  ReactCommon/fabric/components/scrollview/BUCK
  ReactCommon/fabric/components/slider/BUCK
  ReactCommon/fabric/components/text/BUCK
  ReactCommon/fabric/components/view/BUCK
  ReactCommon/fabric/core/BUCK
  ReactCommon/fabric/debug/BUCK
  ReactCommon/fabric/events/BUCK
  ReactCommon/fabric/graphics/BUCK
  ReactCommon/fabric/imagemanager/BUCK
  ReactCommon/fabric/mounting/BUCK
  ReactCommon/fabric/textlayoutmanager/BUCK
  ReactCommon/fabric/uimanager/BUCK
  ReactCommon/jsi/BUCK
  ReactCommon/jsiexecutor/BUCK
  ReactCommon/turbomodule/core/BUCK
  packages/react-native-codegen/BUCK
Owners: none

evaluateJavaScript to accept a shared_ptr instead of unique_ptr
  ReactCommon/jsi/JSCRuntime.cpp
  ReactCommon/jsi/jsi.h
Owners: none

Introduce prepareJavaScript jsi API
  React/React.xcodeproj/project.pbxproj
  ReactCommon/jsi/BUCK
  ReactCommon/jsi/JSCRuntime.cpp
  ReactCommon/jsi/jsi.cpp
  ReactCommon/jsi/jsi.h
  ReactCommon/jsi/jsilib.h
Owners: none

react_native_config available to all Android versions (#23470)
  template/android/app/src/debug/res/xml/react_native_config.xml
Owners: none

Update DockerTests.md (#23461)
  DockerTests.md
Owners: @hramos, @cpojer

Fix image wrong scale factor when load image from file system (#23446)
  React/Base/RCTUtils.m
Owners: @shergin

Add fix for refresh control state's race condition. (#21763)
  React/Views/RCTRefreshControl.m
Owners: @shergin

bump android plugin to 3.3.1 (#23473)
  build.gradle
  template/android/build.gradle
Owners: none

fix: remove the unused packages and convert minimist to yargs (#23467)
  jest/setup.js
  package.json
  scripts/bump-oss-version.js
Owners: @hramos, @cpojer

chore: upgrade `jest-junit` to avoid older jest dependencies (#23476)
  package.json
  yarn.lock
Owners: @hramos, @cpojer

fix typo in comments (#23478)
  Libraries/Text/TextInput/RCTBaseTextInputView.m
Owners: none

Add metadata to symbolicate package.
  packages/react-native-symbolicate/package.json
  packages/react-native-symbolicate/symbolicate.js
Owners: @hramos, @cpojer

Open Source symbolication code
  .eslintrc
  packages/react-native-symbolicate/BUCK
  packages/react-native-symbolicate/Symbolication.js
  packages/react-native-symbolicate/package.json
  packages/react-native-symbolicate/symbolicate.js
  packages/react-native-symbolicate/tests/symbolicate_test.sh
  packages/react-native-symbolicate/tests/testfile.attribution.input
  packages/react-native-symbolicate/tests/testfile.attribution.output
  packages/react-native-symbolicate/tests/testfile.cpuprofile
  packages/react-native-symbolicate/tests/testfile.cpuprofile.map
  packages/react-native-symbolicate/tests/testfile.js.map
  packages/react-native-symbolicate/tests/testfile.profmap
  packages/react-native-symbolicate/tests/testfile.stack
  packages/react-native-symbolicate/tests/testfile.symbolicated.cpuprofile
  packages/react-native-symbolicate/tests/testfile.symbolicated.profmap
  packages/react-native-symbolicate/tests/testfile.symbolicated.stack
  packages/react-native-symbolicate/yarn.lock
Owners: @hramos, @cpojer

Enable background updates when NSLocationWhenInUseUsageDescription is set (#20911)
  Libraries/Geolocation/RCTLocationObserver.m
Owners: none

Android - decouple TextInput cursorColor from selectionColor (#20276)
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputManager.java
Owners: none

Adding support to cancel a headless task (#20416)
  Libraries/ReactNative/AppRegistry.js
Owners: none

No force layout of superview and contentSize recalculation if intrinsicContentSize not changed
  React/Base/RCTRootView.m
Owners: @shergin

iOS support keyboardType ASCIICapableNumberPad (#20597)
  React/Base/RCTConvert.m
Owners: @shergin
