Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janicduplessis, @shergin, @mhorowitz, @hramos, @cpojer

Rename labels in stale.yml (#23319)
  .github/stale.yml
Owners: none

ImageResponseObserverCoordinator does not need to be shared_ptr
  React/Fabric/Mounting/ComponentViews/Image/RCTImageComponentView.mm
  React/Fabric/Mounting/ComponentViews/Slider/RCTSliderComponentView.mm
  ReactCommon/fabric/imagemanager/ImageRequest.h
  ReactCommon/fabric/imagemanager/platform/android/ImageRequest.cpp
  ReactCommon/fabric/imagemanager/platform/ios/ImageRequest.cpp
Owners: none

Partially implemented view recycling for Slider with note to improve
  React/Fabric/Mounting/ComponentViews/Slider/RCTSliderComponentView.mm
Owners: none

ReactPicker extends AppCompatSpinner (#23303)
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/picker/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/picker/ReactPicker.java
  ReactAndroid/src/main/third-party/android/support/v7/appcompat-orig/BUCK
Owners: none

TM iOS: Util to check if an id is TurboModule instance
  ReactCommon/turbomodule/core/platform/ios/RCTTurboModule.h
Owners: none

TM iOS: Verify that module class conforms to RCTTurboModule before instantiating
  ReactCommon/turbomodule/core/platform/ios/RCTTurboModuleManager.mm
Owners: none

Fabric: Lost comment in EventQueue
  ReactCommon/fabric/events/EventQueue.cpp
Owners: none

Fabric: folly::dynamic was replaced with RawValue in prop-parsing infra
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/Binding.cpp
  ReactCommon/fabric/attributedstring/conversions.h
  ReactCommon/fabric/components/activityindicator/conversions.h
  ReactCommon/fabric/components/image/conversions.h
  ReactCommon/fabric/components/scrollview/conversions.h
  ReactCommon/fabric/components/view/accessibility/accessibilityPropsConversions.h
  ReactCommon/fabric/components/view/conversions.h
  ReactCommon/fabric/core/primitives/RawProps.cpp
  ReactCommon/fabric/core/primitives/RawProps.h
  ReactCommon/fabric/core/primitives/RawValue.cpp
  ReactCommon/fabric/core/primitives/RawValue.h
  ReactCommon/fabric/core/primitives/ReactPrimitives.h
  ReactCommon/fabric/core/propsConversions.h
  ReactCommon/fabric/core/shadownode/Props.cpp
  ReactCommon/fabric/core/shadownode/Props.h
  ReactCommon/fabric/core/tests/ComponentDescriptorTest.cpp
  ReactCommon/fabric/core/tests/ShadowNodeTest.cpp
  ReactCommon/fabric/core/tests/TestComponent.h
  ReactCommon/fabric/graphics/conversions.h
  ReactCommon/fabric/uimanager/ComponentDescriptorRegistry.cpp
  ReactCommon/fabric/uimanager/UIManager.cpp
  ReactCommon/fabric/uimanager/UIManager.h
  ReactCommon/fabric/uimanager/UIManagerBinding.cpp
  ReactCommon/fabric/uimanager/primitives.h
  codegen/src/generators/GeneratePropsH.js
  codegen/src/generators/__tests__/__snapshots__/GeneratePropsH-test.js.snap
Owners: none

Fabric: A bunch of `#ifdef ANDROID`
  ReactCommon/fabric/attributedstring/conversions.h
  ReactCommon/fabric/attributedstring/tests/AttributedStringTest.cpp
  ReactCommon/fabric/attributedstring/tests/ParagraphAttributesTest.cpp
  ReactCommon/fabric/attributedstring/tests/TextAttributesTest.cpp
  ReactCommon/fabric/components/text/paragraph/ParagraphLocalData.cpp
  ReactCommon/fabric/components/text/paragraph/ParagraphLocalData.h
  ReactCommon/fabric/components/text/paragraph/conversions.h
  ReactCommon/fabric/components/text/tests/ParagraphLocalDataTest.cpp
  ReactCommon/fabric/graphics/conversions.h
Owners: none

Fixes capitalized I's when emojiis are present after the text being edited. (#21951)
  Libraries/Text/TextInput/RCTBaseTextInputView.m
Owners: none

Move `.clang-format` to repo root (#23328)
  .clang-format
Owners: none

Kill react-native-git-upgrade
  react-native-git-upgrade/README.md
  react-native-git-upgrade/checks.js
  react-native-git-upgrade/cli.js
  react-native-git-upgrade/cliEntry.js
  react-native-git-upgrade/index.js
  react-native-git-upgrade/package.json
  react-native-git-upgrade/yarn.js
Owners: @hramos, @cpojer

Consider SSTs in Platform.isTesting
  React/Base/RCTUtils.m
Owners: @shergin

make xplat lints explicit
  .flowconfig
  .flowconfig.android
Owners: none

Danger, be nice to PRs. (#23334)
  .circleci/config.yml
  bots/dangerfile.js
  bots/package.json
  bots/yarn.lock
Owners: @hramos, @cpojer

nullable annotations to ReadableMap, WritableMap, ReadableArray, Writable. (#23329)
  ReactAndroid/src/main/java/com/facebook/react/bridge/JavaOnlyArray.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/JavaOnlyMap.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReadableArray.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReadableMap.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReadableNativeArray.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReadableNativeMap.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/WritableArray.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/WritableMap.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/WritableNativeArray.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/WritableNativeMap.java
Owners: none

Enforce rules-of-hooks via eslint
  .eslintrc
  package.json
  yarn.lock
Owners: @hramos, @cpojer

React sync for revisions 6bf5e85...aa94237 (#23320)
  Libraries/Renderer/REVISION
  Libraries/Renderer/oss/ReactFabric-dev.js
  Libraries/Renderer/oss/ReactFabric-prod.js
  Libraries/Renderer/oss/ReactFabric-profiling.js
  Libraries/Renderer/oss/ReactNativeRenderer-dev.js
  Libraries/Renderer/oss/ReactNativeRenderer-prod.js
  Libraries/Renderer/oss/ReactNativeRenderer-profiling.js
  package.json
  yarn.lock
Owners: @hramos, @cpojer

Fabric: Introducing Better: For faster, clear and ideomatic codebase
  ReactCommon/better/BUCK
  ReactCommon/better/better.h
  ReactCommon/better/map.h
  ReactCommon/better/mutex.h
  ReactCommon/better/optional.h
  ReactCommon/better/set.h
  ReactCommon/better/string.h
  ReactCommon/better/vector.h
  ReactCommon/fabric/mounting/Differentiator.cpp
Owners: none

Trivial rename
  ReactCommon/fabric/components/image/tests/ImageTest.cpp
Owners: none

Fabric: Enable all Fabric tests for Android
  ReactCommon/fabric/attributedstring/BUCK
  ReactCommon/fabric/components/activityindicator/BUCK
  ReactCommon/fabric/components/image/BUCK
  ReactCommon/fabric/components/root/BUCK
  ReactCommon/fabric/components/scrollview/BUCK
  ReactCommon/fabric/components/slider/BUCK
  ReactCommon/fabric/components/text/BUCK
  ReactCommon/fabric/components/view/BUCK
  ReactCommon/fabric/core/BUCK
  ReactCommon/fabric/debug/BUCK
  ReactCommon/fabric/events/BUCK
  ReactCommon/fabric/graphics/BUCK
  ReactCommon/fabric/imagemanager/BUCK
  ReactCommon/fabric/mounting/BUCK
  ReactCommon/fabric/textlayoutmanager/BUCK
  ReactCommon/fabric/uimanager/BUCK
Owners: none

TM iOS: added helper to check whether a class is TurboModule compatible
  ReactCommon/turbomodule/core/platform/ios/RCTTurboModule.h
Owners: none

Nonnull annotations for native modules (#23353)
  ReactAndroid/src/main/java/com/facebook/react/ReactPackage.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/NativeModule.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReactContextBaseJavaModule.java
Owners: none

Prepare Groovy scripts for Kotlin DSL migration (#23355)
  ReactAndroid/build.gradle
  ReactAndroid/release.gradle
  build.gradle
  react.gradle
  settings.gradle
Owners: none

fix lint error/warnings (#23333)
  ReactAndroid/src/main/java/com/facebook/react/HeadlessJsTaskService.java
  ReactAndroid/src/main/java/com/facebook/react/modules/systeminfo/AndroidInfoModule.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/BaseViewManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactHorizontalScrollContainerView.java
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactHorizontalScrollView.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactBaseTextShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/toolbar/ReactToolbarManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactDrawableHelper.java
  ReactAndroid/src/main/java/com/facebook/react/views/webview/ReactWebViewManager.java
Owners: none

Add deprecation notice to ImageStore (#23330)
  Libraries/Image/ImageStore.js
  Libraries/react-native/react-native-implementation.js
Owners: @shergin

add prettier check in ci (#23382)
  .circleci/config.yml
  Libraries/vendor/core/Map.js
  Libraries/vendor/core/_wrapObjectFreezeAndFriends.js
  package.json
Owners: @hramos, @cpojer

Fabric: Stop preallocation views on the main thread
  React/Fabric/Mounting/RCTMountingManager.mm
Owners: none

Moving ObjC specific clang-format rules to the common config
  .clang-format
  React/.clang-format
Owners: none

Clang-format for all files in Fabric folder
  React/Fabric/Mounting/RCTComponentViewFactory.h
  React/Fabric/Mounting/RCTComponentViewFactory.mm
  React/Fabric/Mounting/RCTComponentViewProtocol.h
  React/Fabric/Mounting/RCTComponentViewRegistry.h
  React/Fabric/Mounting/RCTComponentViewRegistry.mm
  React/Fabric/Mounting/RCTMountingManager.h
  React/Fabric/Mounting/RCTMountingManager.mm
  React/Fabric/Mounting/UIView+ComponentViewProtocol.h
  React/Fabric/Mounting/UIView+ComponentViewProtocol.mm
  React/Fabric/Surface/RCTFabricSurface.h
  React/Fabric/Surface/RCTFabricSurface.mm
  React/Fabric/Surface/RCTFabricSurfaceHostingProxyRootView.h
  React/Fabric/Surface/RCTFabricSurfaceHostingProxyRootView.mm
  React/Fabric/Surface/RCTFabricSurfaceHostingView.h
  React/Fabric/Surface/RCTFabricSurfaceHostingView.mm
  React/Fabric/Utils/MainQueueExecutor.h
  React/Fabric/Utils/MainQueueExecutor.mm
  React/Fabric/Utils/MainRunLoopEventBeat.h
  React/Fabric/Utils/MainRunLoopEventBeat.mm
  React/Fabric/Utils/RuntimeEventBeat.h
  React/Fabric/Utils/RuntimeEventBeat.mm
  ReactCommon/fabric/uimanager/UITemplateProcessor.cpp
Owners: none

Deprecation warning for AsyncStorage (#23384)
  Libraries/react-native/react-native-implementation.js
Owners: none

Add deprecation warning while importing Slider component (#23385)
  Libraries/react-native/react-native-implementation.js
Owners: none

Add a deprecation warning when importing NetInfo (#23383)
  Libraries/react-native/react-native-implementation.js
Owners: none

Separate RTL examples in RNTester (#23354)
  RNTester/js/RTLExample.js
Owners: none

Add a Metro configuration with inline require/import
  template/metro.config.js
Owners: none

Revert RCTRootView's backgroundColor to white (#23358)
  template/ios/HelloWorld/AppDelegate.m
Owners: none

Disable OverlappingRendering for ReactTextView
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextView.java
Owners: none

Make REACT_CLASS public so we can use a provider
  ReactAndroid/src/main/java/com/facebook/react/views/switchview/ReactSwitchManager.java
Owners: none

Prevent crash when scrollEnabled used in singleline textinput (#23361)
  Libraries/Text/TextInput/Singleline/RCTUITextField.m
Owners: none

TimePickerDialogModule supports only FragmentActivity (#23372)
  ReactAndroid/src/main/java/com/facebook/react/modules/timepicker/SupportTimePickerDialogFragment.java
  ReactAndroid/src/main/java/com/facebook/react/modules/timepicker/TimePickerDialogFragment.java
  ReactAndroid/src/main/java/com/facebook/react/modules/timepicker/TimePickerDialogModule.java
Owners: none

.github/CODEOWNERS:

Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
**/*.md @hramos @cpojer
package.json @hramos @cpojer
