Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Introducing `[RCTUIManager _executeBlockWithShadowView:forTag:]`
  React/Modules/RCTUIManager.h
  React/Modules/RCTUIManager.m
Owners: @shergin

Fix min/max percentage constraints on measured nodes
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Don't set global.performance to undefined if it was initialized already
  Libraries/Performance/Systrace.js
Owners: none

Improve accessibilityLabel performance
  React/Views/RCTView.m
Owners: @shergin

Remove website deploys
  .circleci/config.yml
Owners: none

Update native-modules-android.md
  docs/native-modules-android.md
Owners: @hramos

Fixing bad link to RN documentation.
  README.md
Owners: none

Docs - README.md - tweaks (separator, thumbnail logo)
  README.md
Owners: none

Autofixes for migrating to Buck's source-only ABI feature
  ReactAndroid/src/main/java/com/facebook/react/modules/datepicker/DismissableDatePickerDialog.java
  ReactAndroid/src/main/java/com/facebook/react/modules/fresco/ReactOkHttpNetworkFetcher.java
  ReactAndroid/src/main/java/com/facebook/react/modules/timepicker/DismissableTimePickerDialog.java
Owners: none

Change doc link to point to AnimatedValueXY
  Libraries/Animated/src/AnimatedImplementation.js
Owners: none

Fix RCTRefreshControl jumping
  React/Views/RCTRefreshControl.m
Owners: @shergin

Fix Jest mocks for Dimensions module
  jest/setup.js
Owners: none

RCTSurface: Fixed problem in stage propagation
  React/Base/Surface/RCTSurface.mm
Owners: none

RCTSurface: Use async dispatch to register root shadow view
  React/Base/Surface/RCTSurface.mm
Owners: none

RCTSurface: Couple helper functions for Stage
  Libraries/SurfaceBackedComponent/RCTSurfaceBackedComponent.mm
  React/Base/Surface/RCTSurface.mm
  React/Base/Surface/RCTSurfaceStage.h
  React/Base/Surface/RCTSurfaceStage.m
Owners: none

RCTSurface: Stopping the app on surface object deallocation
  React/Base/Surface/RCTSurface.mm
  React/Base/Surface/RCTSurfaceStage.h
  React/Base/Surface/RCTSurfaceStage.m
Owners: none

RCTSurface: activityIndicatorViewFactory was removed from RCTSurfaceView
  React/Base/Surface/RCTSurfaceView.h
  React/Base/Surface/RCTSurfaceView.mm
Owners: none

Fix Android comment and docblock typos
  ReactAndroid/src/androidTest/java/com/facebook/react/testing/network/NetworkRecordingModuleMock.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/CatalystMultitouchHandlingTestCase.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/CatalystNativeJSToJavaParametersTestCase.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/CatalystTouchBubblingTestCase.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/JSResponderTestCase.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManagerBuilder.java
  ReactAndroid/src/main/java/com/facebook/react/animated/NativeAnimatedModule.java
  ReactAndroid/src/main/java/com/facebook/react/animation/AbstractFloatPairPropertyUpdater.java
  ReactAndroid/src/main/java/com/facebook/react/animation/AbstractSingleFloatProperyUpdater.java
  ReactAndroid/src/main/java/com/facebook/react/animation/AnimationPropertyUpdater.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/BaseJavaModule.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/Dynamic.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/JSBundleLoader.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/JavaOnlyArray.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/JavaOnlyMap.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/NativeModuleRegistry.java
  ReactAndroid/src/main/java/com/facebook/react/common/DebugServerException.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevServerHelper.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java
  ReactAndroid/src/main/java/com/facebook/react/flat/FlatUIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/flat/MoveProxy.java
  ReactAndroid/src/main/java/com/facebook/react/flat/RCTImageView.java
  ReactAndroid/src/main/java/com/facebook/react/flat/StateBuilder.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIViewOperationQueue.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewManager.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/annotations/ReactProp.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/layoutanimation/AbstractLayoutAnimation.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextAnchorViewManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/toolbar/events/ToolbarClickEvent.java
  ReactAndroid/src/main/java/com/facebook/react/views/webview/ReactWebViewManager.java
  ReactAndroid/src/main/java/com/facebook/yoga/YogaLogger.java
  ReactAndroid/src/main/jni/first-party/fb/include/fb/fbjni/Registration-inl.h
  ReactAndroid/src/main/jni/first-party/fb/include/jni/LocalString.h
  ReactAndroid/src/test/java/com/facebook/react/uimanager/MatrixMathHelperTest.java
  ReactAndroid/src/test/java/com/facebook/react/uimanager/ReactPropForShadowNodeSetterTest.java
  scripts/run-instrumentation-tests-via-adb-shell.sh
Owners: @janicduplessis

Updated broken link.
  docs/more-resources.md
Owners: @hramos

Update stale JavaDoc reference
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManagerBuilder.java
Owners: none

prevent scheduling unnecessary layoutanimation
  Libraries/Components/Keyboard/KeyboardAvoidingView.js
Owners: none

Avoid memory leak in RCTWebSocketModule
  Libraries/WebSocket/RCTWebSocketModule.m
Owners: none

Make testID work for iOS tabs
  React/Views/RCTTabBarItem.h
  React/Views/RCTTabBarItem.m
  React/Views/RCTTabBarItemManager.m
Owners: @shergin

Fix local-cli's installedGlobally check to work on Windows platforms
  local-cli/wrong-react-native.js
Owners: none

Add lwinkyawmyat to GitHub IssueCommands.txt
  bots/IssueCommands.txt
Owners: none

@allow-large-files [flow] deploy flow 0.60
  .flowconfig
  Libraries/Components/ScrollResponder.js
  Libraries/Components/StatusBar/StatusBar.js
  Libraries/StyleSheet/StyleSheetValidation.js
  local-cli/server/runServer.js
  local-cli/templates/HelloWorld/_flowconfig
  package.json
Owners: @hramos

RCTSurface: RCTSurfaceHostingView, interop layer beteween UIKit and RCTSurface
  React/Base/Surface/RCTSurface.mm
  React/Base/Surface/SurfaceHostingView/RCTSurfaceHostingView.h
  React/Base/Surface/SurfaceHostingView/RCTSurfaceHostingView.mm
  React/Base/Surface/SurfaceHostingView/RCTSurfaceSizeMeasureMode.h
  React/React.xcodeproj/project.pbxproj
Owners: none

Silence RCTInspectorPackagerConnection logspam
  React/Inspector/RCTInspectorPackagerConnection.m
Owners: none

Adding support for custom accessibility actions on iOS.
  Libraries/Components/View/ReactNativeViewAttributes.js
  Libraries/Components/View/ViewPropTypes.js
  React/Views/RCTView.h
  React/Views/RCTView.m
  React/Views/RCTViewManager.m
Owners: @shergin

RCTSurfaceStage.m was added to project file
  React/React.xcodeproj/project.pbxproj
Owners: none

Add inspector attach to RN Dev Menu (iOS)
  React/DevSupport/RCTDevMenu.m
  React/DevSupport/RCTInspectorDevServerHelper.h
  React/DevSupport/RCTInspectorDevServerHelper.mm
  React/Modules/RCTDevSettings.h
  React/Modules/RCTDevSettings.mm
Owners: @shergin

Add inspector attach to RN Dev Menu (Android)
  ReactAndroid/src/androidTest/java/com/facebook/react/testing/ReactSettingsForTests.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevInternalSettings.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevServerHelper.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java
  ReactAndroid/src/main/java/com/facebook/react/modules/debug/interfaces/DeveloperSettings.java
  ReactAndroid/src/main/res/devsupport/values/strings.xml
Owners: none

vector instead of YGNodeList
  React/React.xcodeproj/project.pbxproj
  React/ReactLegacy.xcodeproj/project.pbxproj
  ReactCommon/yoga/Android.mk
  ReactCommon/yoga/yoga/YGNodeList.cpp
  ReactCommon/yoga/yoga/YGNodeList.h
  ReactCommon/yoga/yoga/YGNodePrint.cpp
  ReactCommon/yoga/yoga/Yoga-internal.h
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Bump metro@0.23.0
  package.json
Owners: @hramos

Fix RCTInspectorPackagerConnection logspam for real
  React/Inspector/RCTInspectorPackagerConnection.m
Owners: none

Fixes for migrating to Buck's source-only ABI feature
  ReactAndroid/src/main/java/com/facebook/react/flat/FlatUIViewOperationQueue.java
  ReactAndroid/src/main/java/com/facebook/react/views/modal/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/text/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/viewpager/BUCK
Owners: none

Temporarily patched Map/Set non-extensible check into RN dev renderer
  Libraries/Renderer/ReactNativeRenderer-dev.js
Owners: none
