Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Update HeadlessJSAndroid.md explaining parameters
  docs/HeadlessJSAndroid.md
Owners: @hramos

Configure JSExector with BundleRegistry instead of JSModulesUnbundle.
  React/CxxBridge/RCTCxxBridge.mm
  React/CxxBridge/RCTObjcExecutor.mm
  React/React.xcodeproj/project.pbxproj
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.cpp
  ReactAndroid/src/main/jni/react/jni/ProxyExecutor.cpp
  ReactAndroid/src/main/jni/react/jni/ProxyExecutor.h
  ReactCommon/cxxreact/BUCK
  ReactCommon/cxxreact/Instance.cpp
  ReactCommon/cxxreact/Instance.h
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/cxxreact/JSCExecutor.h
  ReactCommon/cxxreact/JSExecutor.h
  ReactCommon/cxxreact/NativeToJsBridge.cpp
  ReactCommon/cxxreact/NativeToJsBridge.h
  ReactCommon/cxxreact/RAMBundleRegistry.cpp
  ReactCommon/cxxreact/RAMBundleRegistry.h
Owners: @mhorowitz

Allow "nativeRequire" to accept "bundleId" and "moduleId" values
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/cxxreact/JSCUtils.cpp
  ReactCommon/cxxreact/JSCUtils.h
Owners: none

Improved documentation for ActionSheetIOS.js
  Libraries/ActionSheetIOS/ActionSheetIOS.js
Owners: none

Add the import statement to examples
  Libraries/Components/Button.js
Owners: none

Fix RNTester tests
  RNTester/RNTesterIntegrationTests/RNTesterSnapshotTests.m
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testARTExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testLayoutExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSliderExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSwitchExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testTabBarExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testTextExample_1-iOS11@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testViewExample_1-iOS11@2x.png
Owners: none

Silence annoying logs in iOS 11
  Libraries/WebSocket/RCTReconnectingWebSocket.m
Owners: none

Migrate to Circle 2.0
  .circleci/config.yml
  ReactAndroid/DEFS
  circle.yml
  scripts/circle-ci-android-setup.sh
  scripts/run-ci-e2e-tests.js
Owners: none

Add rigdern to the issue task force
  bots/IssueCommands.txt
Owners: none

Add onDismiss to Modal.js
  Libraries/Modal/Modal.js
  React/React.xcodeproj/project.pbxproj
  React/ReactLegacy.xcodeproj/project.pbxproj
  React/Views/RCTModalHostView.h
  React/Views/RCTModalHostViewManager.m
  React/Views/RCTModalManager.h
  React/Views/RCTModalManager.m
Owners: @shergin

Add example on Components
  Libraries/Components/ActivityIndicator/ActivityIndicator.js
  Libraries/Components/Touchable/TouchableHighlight.js
  Libraries/Components/Touchable/TouchableOpacity.js
Owners: none

Improve DX for FBReactKitIntegrationTests
  Libraries/RCTTest/RCTTestRunner.h
  Libraries/RCTTest/RCTTestRunner.m
Owners: none

Revert D5850968: Configure JSExector with BundleRegistry instead of JSModulesUnbundle.
  React/CxxBridge/RCTCxxBridge.mm
  React/CxxBridge/RCTObjcExecutor.mm
  React/React.xcodeproj/project.pbxproj
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.cpp
  ReactAndroid/src/main/jni/react/jni/ProxyExecutor.cpp
  ReactAndroid/src/main/jni/react/jni/ProxyExecutor.h
  ReactCommon/cxxreact/BUCK
  ReactCommon/cxxreact/Instance.cpp
  ReactCommon/cxxreact/Instance.h
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/cxxreact/JSCExecutor.h
  ReactCommon/cxxreact/JSExecutor.h
  ReactCommon/cxxreact/NativeToJsBridge.cpp
  ReactCommon/cxxreact/NativeToJsBridge.h
  ReactCommon/cxxreact/RAMBundleRegistry.cpp
  ReactCommon/cxxreact/RAMBundleRegistry.h
Owners: @mhorowitz

Revert D5850970: Added iOS support for loading multiple RAM bundles
  React/CxxBridge/RCTCxxBridge.mm
  React/React.xcodeproj/project.pbxproj
  ReactCommon/cxxreact/Android.mk
  ReactCommon/cxxreact/BUCK
  ReactCommon/cxxreact/JSIndexedRAMBundle.cpp
  ReactCommon/cxxreact/JSIndexedRAMBundle.h
  ReactCommon/cxxreact/JSIndexedRAMBundleRegistry.cpp
  ReactCommon/cxxreact/JSIndexedRAMBundleRegistry.h
Owners: @mhorowitz

`react-native link` and `react-native unlink` update.
  local-cli/link/android/unlinkAssets.js
  local-cli/link/ios/copyAssets.js
  local-cli/link/ios/unlinkAssets.js
Owners: none

Add locking around CatalystInstance.getJavaScriptContext()
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstance.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstanceImpl.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/JavaScriptContextHolder.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReactContext.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java
Owners: none

Configure JSExector with BundleRegistry instead of JSModulesUnbundle
  React/CxxBridge/RCTCxxBridge.mm
  React/CxxBridge/RCTObjcExecutor.mm
  React/React.xcodeproj/project.pbxproj
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.cpp
  ReactAndroid/src/main/jni/react/jni/ProxyExecutor.cpp
  ReactAndroid/src/main/jni/react/jni/ProxyExecutor.h
  ReactCommon/cxxreact/BUCK
  ReactCommon/cxxreact/Instance.cpp
  ReactCommon/cxxreact/Instance.h
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/cxxreact/JSCExecutor.h
  ReactCommon/cxxreact/JSExecutor.h
  ReactCommon/cxxreact/NativeToJsBridge.cpp
  ReactCommon/cxxreact/NativeToJsBridge.h
  ReactCommon/cxxreact/RAMBundleRegistry.cpp
  ReactCommon/cxxreact/RAMBundleRegistry.h
Owners: @mhorowitz

Added iOS support for loading multiple RAM bundles
  React/CxxBridge/RCTCxxBridge.mm
  React/React.xcodeproj/project.pbxproj
  ReactCommon/cxxreact/Android.mk
  ReactCommon/cxxreact/BUCK
  ReactCommon/cxxreact/JSIndexedRAMBundle.cpp
  ReactCommon/cxxreact/JSIndexedRAMBundle.h
  ReactCommon/cxxreact/JSIndexedRAMBundleRegistry.cpp
  ReactCommon/cxxreact/JSIndexedRAMBundleRegistry.h
Owners: @mhorowitz

Give complex FlatList example more motivation
  Libraries/Lists/FlatList.js
Owners: none

Deprecate older API uses of `prebuilt_cxx_library`
  ReactAndroid/src/main/jni/third-party/glibc/BUCK
Owners: none

Avoid oversending modalDismissed event
  React/Views/RCTModalManager.m
Owners: @shergin

Adding TLSv1 support for custom SSL socket factory
  ReactAndroid/src/main/java/com/facebook/react/modules/network/TLSSocketFactory.java
Owners: none

Create 2017-09-21-react-native-monthly-4.md
  blog/2017-09-21-react-native-monthly-4.md
Owners: @hramos

SafeAreaViewExample inside RNTester
  RNTester/js/RNTesterList.ios.js
  RNTester/js/SafeAreaViewExample.js
Owners: none

Enabled pretier (@format) for all files in ReactNative folder
  Libraries/ReactNative/AppRegistry.js
  Libraries/ReactNative/I18nManager.js
  Libraries/ReactNative/ReactNativeFeatureFlags.js
  Libraries/ReactNative/UIManager.js
  Libraries/ReactNative/UIManagerStatTracker.js
  Libraries/ReactNative/YellowBox.js
  Libraries/ReactNative/queryLayoutByID.js
  Libraries/ReactNative/requireNativeComponent.js
  Libraries/ReactNative/verifyPropTypes.js
Owners: none

Using SafeAreaView in YellowBox
  Libraries/ReactNative/YellowBox.js
Owners: none

Introducing <SafeAreaView>
  Libraries/Components/SafeAreaView/SafeAreaView.android.js
  Libraries/Components/SafeAreaView/SafeAreaView.ios.js
  Libraries/react-native/react-native-implementation.js
  React/Views/SafeAreaView/RCTSafeAreaShadowView.h
  React/Views/SafeAreaView/RCTSafeAreaShadowView.m
  React/Views/SafeAreaView/RCTSafeAreaView.h
  React/Views/SafeAreaView/RCTSafeAreaView.m
  React/Views/SafeAreaView/RCTSafeAreaViewLocalData.h
  React/Views/SafeAreaView/RCTSafeAreaViewLocalData.m
  React/Views/SafeAreaView/RCTSafeAreaViewManager.h
  React/Views/SafeAreaView/RCTSafeAreaViewManager.m
Owners: none

Introducting `-[UIManager.setLocalData:forView:]`, the way to provide environmental data to ShadowView
  React/Modules/RCTUIManager.h
  React/Modules/RCTUIManager.m
  React/Views/RCTShadowView.h
Owners: @shergin

Adding error message including stacktrace
  Libraries/Image/Image.android.js
  Libraries/Image/Image.ios.js
  RNTester/js/ImageExample.js
Owners: @shergin

Fix format warnings for clang 5.0
  Libraries/ART/RCTConvert+ART.m
  Libraries/Text/RCTTextField.m
  Libraries/Text/RCTTextInput.m
  Libraries/Text/RCTTextView.m
  Libraries/WebSocket/RCTWebSocketExecutor.m
  React/Base/RCTConvert.m
  React/Base/RCTKeyCommands.m
  React/Base/RCTModuleMethod.mm
  React/Modules/RCTLayoutAnimation.m
  React/Modules/RCTRedBox.m
  React/Views/RCTView.m
  React/Views/RCTWebViewManager.m
Owners: @shergin

Add a hack to fix the Modal component interacting with LayoutAnimation
  React/Modules/RCTUIManager.m
  React/Views/RCTModalHostView.m
Owners: @shergin

Revert D5894101: [RN] Using SafeAreaView in YellowBox
  Libraries/ReactNative/YellowBox.js
Owners: none

Fix website generation
  website/server/extractDocs.js
Owners: none

Revert D5887667: Adding error message including stacktrace
  Libraries/Image/Image.android.js
  Libraries/Image/Image.ios.js
  RNTester/js/ImageExample.js
Owners: @shergin

Small NaN related optimisation in RCTShadowText
  Libraries/Text/RCTShadowText.m
Owners: @shergin

Using modern API to get available size in RCTShadowText
  Libraries/Text/RCTShadowText.m
Owners: @shergin

Remove older devtools hook
  Libraries/Core/Devtools/setupDevtools.js
Owners: none

Use const reference in RCTNativeModule::invokeInner
  React/CxxModule/RCTNativeModule.h
  React/CxxModule/RCTNativeModule.mm
Owners: none

adding error message including stacktrace and example
  Libraries/Image/Image.android.js
  Libraries/Image/Image.ios.js
  RNTester/js/ImageExample.js
Owners: @shergin

Native Animated - Allow events that are dispatched from any thread
  Libraries/NativeAnimation/RCTNativeAnimatedModule.m
  ReactAndroid/src/main/java/com/facebook/react/animated/NativeAnimatedNodesManager.java
Owners: @janicduplessis
