Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

When subscribing for network connectivity broadcasts, also query the value so we always have the most up-to-date value.
  ReactAndroid/src/main/java/com/facebook/react/modules/netinfo/NetInfoModule.java
Owners: none

RCTAllocatedRootViewTag was moved to RCTUIManagerUtils
  React/Base/RCTRootView.m
  React/Modules/RCTUIManagerUtils.h
  React/Modules/RCTUIManagerUtils.m
Owners: @shergin

Introducing RCTSurface, new experimental thread-safe interop layer
  React/Base/Surface/RCTSurface.h
  React/Base/Surface/RCTSurface.mm
  React/Base/Surface/RCTSurfaceDelegate.h
  React/Base/Surface/RCTSurfaceRootShadowView.h
  React/Base/Surface/RCTSurfaceRootShadowView.m
  React/Base/Surface/RCTSurfaceRootShadowViewDelegate.h
  React/Base/Surface/RCTSurfaceRootView.h
  React/Base/Surface/RCTSurfaceRootView.mm
  React/Base/Surface/RCTSurfaceStage.h
  React/Base/Surface/RCTSurfaceView+Internal.h
  React/Base/Surface/RCTSurfaceView.h
  React/Base/Surface/RCTSurfaceView.mm
  React/Modules/RCTUIManager.h
  React/Modules/RCTUIManager.m
  React/React.xcodeproj/project.pbxproj
Owners: @shergin

fix #10747 (ScrollView rendered incorrectly with RefreshControl)
  React/Views/RCTRefreshControl.m
Owners: @shergin

Share bundled source URL to RN
  React/Base/RCTBridge.h
  React/Base/RCTBridge.m
  React/CxxBridge/RCTCxxBridge.mm
  React/Modules/RCTSourceCode.m
Owners: @shergin, @mhorowitz

Rename bundleUrl to jsbundleURL
  Libraries/Image/AssetSourceResolver.js
  Libraries/Image/resolveAssetSource.js
Owners: @shergin

Remove RAMBundleRegistry subclasses
  React/CxxBridge/RCTCxxBridge.mm
  React/React.xcodeproj/project.pbxproj
  ReactAndroid/src/main/jni/react/jni/Android.mk
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.cpp
  ReactAndroid/src/main/jni/react/jni/JniRAMBundleRegistry.cpp
  ReactAndroid/src/main/jni/react/jni/JniRAMBundleRegistry.h
  ReactCommon/cxxreact/Android.mk
  ReactCommon/cxxreact/BUCK
  ReactCommon/cxxreact/Instance.cpp
  ReactCommon/cxxreact/JSIndexedRAMBundle.cpp
  ReactCommon/cxxreact/JSIndexedRAMBundle.h
  ReactCommon/cxxreact/JSIndexedRAMBundleRegistry.cpp
  ReactCommon/cxxreact/JSIndexedRAMBundleRegistry.h
  ReactCommon/cxxreact/RAMBundleRegistry.cpp
  ReactCommon/cxxreact/RAMBundleRegistry.h
Owners: @mhorowitz

Update Jest to 21.3.0-beta.8
  Libraries/Lists/__tests__/__snapshots__/FlatList-test.js.snap
  Libraries/Lists/__tests__/__snapshots__/SectionList-test.js.snap
  Libraries/Lists/__tests__/__snapshots__/VirtualizedList-test.js.snap
  package.json
Owners: @hramos

Rename BundleFetcher to SegmentFetcher
  Libraries/Core/InitializeCore.js
  Libraries/Utilities/BundleSegments.js
Owners: none

BREAKING: Bump metro-bundler to v0.21.0
  local-cli/bundle/buildBundle.js
  local-cli/server/middleware/getDevToolsMiddleware.js
  local-cli/server/runServer.js
  local-cli/server/util/debugger-ui/index.html
  package.json
Owners: @hramos

Make direction-aware borders work with APIs >= 17
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java
Owners: none

Rename scaledAssetURLScript function to scaledAssetURLNearBundle
  Libraries/Image/AssetSourceResolver.js
Owners: @shergin

Fix missing return in example
  Libraries/Text/Text.js
Owners: @shergin

Remove old bundler code from Server class
  local-cli/server/util/__tests__/getInverseDependencies-test.js
  local-cli/server/util/attachHMRServer.js
  local-cli/server/util/getInverseDependencies.js
Owners: none

Rename bundleSource to embeddedBundle
  React/Base/RCTBridge.h
  React/Base/RCTBridge.m
  React/Base/RCTBridgeDelegate.h
  React/CxxBridge/RCTCxxBridge.mm
  React/Modules/RCTSourceCode.m
Owners: @shergin, @mhorowitz

Remove shared bridge experiment
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManagerBuilder.java
Owners: none

Restore missing ejected banner
  docs/running-on-device.md
  docs/running-on-simulator-ios.md
  docs/signed-apk-android.md
  docs/understanding-cli.md
Owners: @hramos

Refine StyleSheet Flow types
  Libraries/StyleSheet/StyleSheet.js
Owners: none

Register split segment paths with RAMBundleRegistry
  React/CxxBridge/RCTCxxBridge.mm
  React/CxxBridge/RCTObjcExecutor.mm
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.cpp
  ReactAndroid/src/main/jni/react/jni/ProxyExecutor.cpp
  ReactAndroid/src/main/jni/react/jni/ProxyExecutor.h
  ReactCommon/cxxreact/Instance.cpp
  ReactCommon/cxxreact/Instance.h
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/cxxreact/JSCExecutor.h
  ReactCommon/cxxreact/JSExecutor.h
  ReactCommon/cxxreact/JSIndexedRAMBundle.cpp
  ReactCommon/cxxreact/JSIndexedRAMBundle.h
  ReactCommon/cxxreact/NativeToJsBridge.cpp
  ReactCommon/cxxreact/NativeToJsBridge.h
  ReactCommon/cxxreact/RAMBundleRegistry.cpp
  ReactCommon/cxxreact/RAMBundleRegistry.h
Owners: @mhorowitz

Adopt new split segments registration approach on iOS
  React/Base/RCTBridge.h
  React/Base/RCTBridge.m
  React/Base/RCTBridgeDelegate.h
  React/CxxBridge/RCTCxxBridge.mm
Owners: @shergin, @mhorowitz

Adopt split segments registration approach on Android
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstance.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstanceImpl.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/JSBundleLoader.java
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.cpp
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.h
  ReactCommon/cxxreact/Instance.cpp
Owners: none

Backed out changeset eadb184eacdf
  Libraries/Alert/Alert.js
  Libraries/Alert/AlertIOS.js
Owners: none

Fix sections that come from React Fiber
  Libraries/Core/InitializeCore.js
Owners: none

Fix website deploys on master
  website/publish-gh-pages.js
Owners: @hramos

Fix tvOS compile issues; enable TVEventHandler in Modal (fix #15389)
  Libraries/Text/RCTText.xcodeproj/project.pbxproj
  RNTester/RNTester.xcodeproj/project.pbxproj
  RNTester/RNTester/Images.xcassets/AppIcon.appiconset/Contents.json
  RNTester/js/ListExampleShared.js
  RNTester/js/ModalExample.js
  React/Base/RCTRootView.m
  React/Base/RCTTVRemoteHandler.h
  React/Base/RCTTVRemoteHandler.m
  React/React.xcodeproj/project.pbxproj
  React/Views/RCTModalHostView.h
  React/Views/RCTModalHostView.m
  local-cli/templates/HelloWorld/ios/HelloWorld.xcodeproj/project.pbxproj
Owners: @shergin

resolve iOS assets from embedded bundle path for iOS platform
  Libraries/Image/AssetSourceResolver.js
  Libraries/Image/resolveAssetSource.js
Owners: @shergin

Fix typo in Image.android.js & Image.ios.js
  Libraries/Image/Image.android.js
  Libraries/Image/Image.ios.js
Owners: @shergin

Fix Jest mocks for NetInfo module.
  jest/setup.js
Owners: none

Flow 0.59 xplat/js deploy
  .flowconfig
  Libraries/Animated/src/Easing.js
  Libraries/CameraRoll/CameraRoll.js
  Libraries/Experimental/WindowedListView.js
  Libraries/Lists/ListView/__mocks__/ListViewMock.js
  Libraries/Share/Share.js
  Libraries/StyleSheet/StyleSheetValidation.js
  local-cli/templates/HelloWorld/_flowconfig
  package.json
Owners: @hramos

Fix dependencies script when its running with dev=false
  local-cli/dependencies/dependencies.js
Owners: none

Introducing RCTSurfaceBackedComponent
  Libraries/SurfaceBackedComponent/RCTSurfaceBackedComponent.h
  Libraries/SurfaceBackedComponent/RCTSurfaceBackedComponent.mm
  Libraries/SurfaceBackedComponent/RCTSurfaceBackedComponentState.h
  Libraries/SurfaceBackedComponent/RCTSurfaceBackedComponentState.mm
Owners: none

Introducing RCTSurfaceHostingComponent
  Libraries/SurfaceHostingComponent/RCTSurfaceHostingComponent+Internal.h
  Libraries/SurfaceHostingComponent/RCTSurfaceHostingComponent.h
  Libraries/SurfaceHostingComponent/RCTSurfaceHostingComponent.mm
  Libraries/SurfaceHostingComponent/RCTSurfaceHostingComponentController.h
  Libraries/SurfaceHostingComponent/RCTSurfaceHostingComponentController.mm
  Libraries/SurfaceHostingComponent/RCTSurfaceHostingComponentOptions.h
  Libraries/SurfaceHostingComponent/RCTSurfaceHostingComponentState.h
  Libraries/SurfaceHostingComponent/RCTSurfaceHostingComponentState.mm
Owners: none

AMA changes to support disk cache
  Libraries/Experimental/SwipeableRow/SwipeableListViewDataSource.js
Owners: none

Pass scriptURL to RCTTestRunner
  Libraries/RCTTest/RCTTestRunner.h
  Libraries/RCTTest/RCTTestRunner.m
  RNTester/RNTesterIntegrationTests/RCTRootViewIntegrationTests.m
  RNTester/RNTesterIntegrationTests/RNTesterIntegrationTests.m
  RNTester/RNTesterIntegrationTests/RNTesterSnapshotTests.m
Owners: none

Fix asset resolver url handling
  Libraries/Image/AssetSourceResolver.js
  Libraries/Image/resolveAssetSource.js
Owners: @shergin

Remove splitting to BridgeCorePackage and ReactNativePackage.
  ReactAndroid/src/main/java/com/facebook/react/BridgeCorePackage.java
  ReactAndroid/src/main/java/com/facebook/react/CoreModulesPackage.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/ReactNativeCorePackage.java
Owners: none

Cleanup ReactInstanceManager
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
Owners: none

Remove android_react_native_perf.use_separate_ui_bg_thread experiment.
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManagerBuilder.java
  ReactAndroid/src/main/java/com/facebook/react/ReactRootView.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstanceImpl.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReactContext.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/queue/ReactQueueConfiguration.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/queue/ReactQueueConfigurationImpl.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/queue/ReactQueueConfigurationSpec.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/views/modal/ReactModalHostView.java
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.cpp
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.h
  ReactAndroid/src/main/jni/react/jni/ModuleRegistryBuilder.cpp
  ReactAndroid/src/main/jni/react/jni/ModuleRegistryBuilder.h
Owners: none

Remove minNumShakes from ReactInstaneManager
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
Owners: none

Fix typo in SafeArea documentation
  Libraries/Components/SafeAreaView/SafeAreaView.ios.js
Owners: none

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev
