Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

remove unnecessary and error inducing method from Map flow type
  flow/Map.js
Owners: none

Fix $FlowFixMes from TabBarIOS
  Libraries/Components/TabBarIOS/TabBarIOS.ios.js
Owners: none

Fix encoding of various files
  Libraries/Animated/src/__tests__/Animated-test.js
  Libraries/Animated/src/__tests__/bezier-test.js
  Libraries/Image/__tests__/resolveAssetSource-test.js
Owners: none

Match the linkage used for FBJSContextStartGCTimers, configureJSCForIOS
  ReactCommon/jschelpers/JSCWrapper.h
Owners: none

Introduce macro that disables poisoning JSC symbols
  ReactCommon/jschelpers/JavaScriptCore.h
Owners: none

Fix memory leak in RCTSafeAreaView
  React/Views/SafeAreaView/RCTSafeAreaView.m
Owners: none

Remove retain cycle in RCTTextField/RCTTextInput
  Libraries/Text/RCTTextInput.h
Owners: @shergin

react-native: BundleSegments
  Libraries/Utilities/BundleSegments.js
Owners: none

@allow-large-files Flow 0.58 upgrade for xplat/js
  .flowconfig
  Libraries/Components/ScrollView/ScrollView.js
  Libraries/Components/TextInput/TextInput.js
  Libraries/Components/Touchable/TouchableHighlight.js
  Libraries/Components/Touchable/TouchableWithoutFeedback.js
  Libraries/Experimental/SwipeableRow/SwipeableListView.js
  Libraries/Lists/ListView/ListView.js
  Libraries/Lists/MetroListView.js
  Libraries/Lists/VirtualizedList.js
  Libraries/Text/Text.js
  RNTester/js/ScrollViewExample.js
  local-cli/bundle/buildBundle.js
  local-cli/templates/HelloWorld/_flowconfig
  package.json
Owners: @shergin, @hramos

Revert D6210177: react-native: BundleSegments
  Libraries/Utilities/BundleSegments.js
Owners: none

Moving some RAM logic to Instance.
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.cpp
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.h
  ReactCommon/cxxreact/Instance.cpp
  ReactCommon/cxxreact/Instance.h
Owners: none

Add code for generating remote assets
  local-cli/core/Constants.js
Owners: @grabbou, @kureev

bundledSourceURLForBridge always return bundle path
  React/Base/RCTBridgeDelegate.h
  React/Base/RCTBundleURLProvider.h
  React/Base/RCTBundleURLProvider.m
Owners: @shergin

Adds PrivateDatabase podspec
  React.podspec
Owners: none

Return NSString instead of SEL
  RNTester/RNTesterUnitTests/RCTMethodArgumentTests.m
  React/Base/RCTModuleMethod.mm
Owners: @shergin

Fixed "putExtra" typo in HeadlessJSAndroid
  docs/HeadlessJSAndroid.md
Owners: @hramos

fix(docs): fixing wrong module name in the example of "Integration with Existing Apps" page
  docs/IntegrationWithExistingApps.md
Owners: @hramos

Fix launchChrome for chromium on Ubuntu
  local-cli/server/util/launchChrome.js
Owners: none

Define `pod_target_xcconfig` for PrivateDatabase
  React.podspec
Owners: none

- Adding locale prop to DatePickerIOS
  Libraries/Components/DatePicker/DatePickerIOS.ios.js
  React/Base/RCTConvert.h
  React/Base/RCTConvert.m
  React/Views/RCTDatePickerManager.m
Owners: @shergin

Fix a few more Flow warnings
  Libraries/Alert/Alert.js
Owners: none

react-native: BundleSegments
  Libraries/Utilities/BundleSegments.js
Owners: none

packager-worker-for-buck: transformCommand: add test
  local-cli/__mocks__/fs.js
Owners: none

Inverted descent/ascent Android prioritisation to match iOS lineHeight behaviour
  ReactAndroid/src/main/java/com/facebook/react/views/text/CustomLineHeightSpan.java
  ReactAndroid/src/test/java/com/facebook/react/views/text/CustomLineHeightSpanTest.java
Owners: none

Make RN Events registered disregarding ViewManager use pattern.
  Libraries/ReactNative/requireNativeComponent.js
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModuleConstantsHelper.java
Owners: none

Add tintColor to ActionSheetIOS documentation
  Libraries/ActionSheetIOS/ActionSheetIOS.js
Owners: none

Fix a race condition in the animation module
  ReactAndroid/src/main/java/com/facebook/react/animated/InterpolationAnimatedNode.java
Owners: @janicduplessis

Add ?Fbt to flow type for the title & message props
  Libraries/Alert/Alert.js
  Libraries/Alert/AlertIOS.js
Owners: none

Export YellowBox API
  Libraries/react-native/react-native-implementation.js
Owners: none

Rename "js-bundles" to "js-segments"
  React/Base/RCTBridgeDelegate.h
  React/CxxBridge/RCTCxxBridge.mm
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstanceImpl.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/JSBundleLoader.java
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.cpp
  ReactAndroid/src/main/jni/react/jni/CatalystInstanceImpl.h
Owners: @shergin, @mhorowitz

Add prettier config, format script and reformat files
  package.json
Owners: @hramos

Backed out changeset 322626be193e
  Libraries/ReactNative/requireNativeComponent.js
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModuleConstantsHelper.java
Owners: none

metro-bundler: allow different run-before-main-module depending on entry point
  local-cli/bundle/buildBundle.js
  local-cli/server/runServer.js
  local-cli/util/Config.js
Owners: none

Check against integer overflow in RCTNetworking decodeTextData
  Libraries/Network/RCTNetworking.mm
Owners: none

Add notes for React Native monthly #5
  blog/2017-11-06-react-native-monthly-5.md
Owners: @hramos

Fix typo in PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Docs: Improve BackHandler documentation (addEventListener and removeEventListener)
  Libraries/Utilities/BackHandler.android.js
Owners: none

Docs: Add example to CheckBox documentation
  Libraries/Components/CheckBox/CheckBox.android.js
Owners: none

Make RN Events registered disregarding ViewManager use pattern.
  Libraries/ReactNative/requireNativeComponent.js
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModuleConstantsHelper.java
Owners: none

improve docs for KeyboardAvoidingView
  Libraries/Components/Keyboard/KeyboardAvoidingView.js
Owners: none
