Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Added progress updates for all XMLHttpRequest upload types
  ReactAndroid/src/main/java/com/facebook/react/modules/network/NetworkingModule.java
  ReactAndroid/src/test/java/com/facebook/react/modules/network/NetworkingModuleTest.java
Owners: none

Improve types for React Native styles.
  Libraries/Inspector/ElementProperties.js
  Libraries/StyleSheet/StyleSheet.js
  Libraries/StyleSheet/StyleSheetTypes.js
Owners: none

React sync for revisions 589c0a2...2d23a45
  Libraries/Renderer/REVISION
  Libraries/Renderer/ReactNativeFiber-dev.js
  Libraries/Renderer/ReactNativeFiber-prod.js
  Libraries/Renderer/ReactNativeRenderer-dev.js
  Libraries/Renderer/ReactNativeRenderer-prod.js
  Libraries/Renderer/shims/ReactNative.js
  Libraries/Renderer/shims/ReactNativeTypes.js
  Libraries/Renderer/shims/ReactTypes.js
  package.json
Owners: @hramos

Replace printf with YGLog calls
  ReactCommon/yoga/yoga/Yoga.c
Owners: none

Unify Systrace native hook argument passing.
  Libraries/Performance/Systrace.js
Owners: none

Disable git hooks for the upgrade process
  react-native-git-upgrade/cliEntry.js
Owners: none

Migrate to new documentation format
  Libraries/Components/AccessibilityInfo/AccessibilityInfo.android.js
  Libraries/Components/AccessibilityInfo/AccessibilityInfo.ios.js
  Libraries/Components/ActivityIndicator/ActivityIndicator.js
  Libraries/Components/View/View.js
  Libraries/Components/View/ViewPropTypes.js
  docs/accessibilityinfo.md
  docs/activityindicator.md
  docs/checkbox.md
  docs/datepickerios.md
  docs/drawerlayoutandroid.md
  docs/maskedviewios.md
  docs/picker.md
  docs/pickerios.md
  docs/progressbarandroid.md
  docs/progressviewios.md
  docs/refreshcontrol.md
  docs/scrollview.md
  docs/segmentedcontrolios.md
  docs/slider.md
  docs/snapshotviewios.md
  docs/switch.md
  docs/tabbarios.md
  docs/textinput.md
  docs/toolbarandroid.md
  docs/view-props.md
  docs/view.md
  docs/viewpagerandroid.md
  docs/webview.md
Owners: @hramos

Update buck to v2017.11.16.01
  .circleci/config.yml
Owners: none

Fix minimumViewTime in ViewabilityHelper
  Libraries/Lists/ViewabilityHelper.js
Owners: none

Make RCTNativeModule::invokeInner explicitely return folly::none in case of error
  React/Base/RCTAssert.m
  React/CxxModule/RCTNativeModule.mm
Owners: @shergin

Add end to end Delta support to Android devices
  Libraries/Utilities/HMRClient.js
  ReactAndroid/src/main/java/com/facebook/react/devsupport/BundleDownloader.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevInternalSettings.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevServerHelper.java
  ReactAndroid/src/main/res/devsupport/xml/preferences.xml
Owners: none

check if listener is still in the set before calling onHostResume
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReactContext.java
Owners: none

renderApplication() supports async initial render
  Libraries/ReactNative/renderApplication.js
Owners: none

Mention <ImageBackground> when error is thrown
  Libraries/Image/Image.android.js
  Libraries/Image/Image.ios.js
Owners: @shergin

Correcting the redirection link.
  docs/sectionlist.md
Owners: @hramos

Removed Duplicate data.
  docs/sectionlist.md
Owners: @hramos

Minor bug in random generator for `selection` prop
  RNTester/js/TextInputExample.ios.js
Owners: none

Corrected types of page_info return value in documentation.
  Libraries/CameraRoll/CameraRoll.js
Owners: none

Fix crash when destroying catalyst
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/ViewManagerOnDemandReactPackage.java
Owners: none

Enable end to end deltas by default on Android
  ReactAndroid/src/main/res/devsupport/xml/preferences.xml
Owners: none

Migrate additional docs to the new format
  Libraries/ActionSheetIOS/ActionSheetIOS.js
  Libraries/Alert/Alert.js
  Libraries/Alert/AlertIOS.js
  Libraries/Animated/src/AnimatedImplementation.js
  Libraries/Animated/src/nodes/AnimatedValue.js
  Libraries/Animated/src/nodes/AnimatedValueXY.js
  Libraries/AppState/AppState.js
  Libraries/ReactNative/AppRegistry.js
  Libraries/Storage/AsyncStorage.js
  docs/accessibilityinfo.md
  docs/actionsheetios.md
  docs/alert.md
  docs/alertios.md
  docs/animated.md
  docs/animatedvalue.md
  docs/animatedvaluexy.md
  docs/appregistry.md
  docs/appstate.md
  docs/asyncstorage.md
Owners: @hramos

Replace fburl.com link with public fb.me link
  Libraries/ReactNative/renderApplication.js
Owners: none

Make RCTPackagerConnection a singleton
  Libraries/WebSocket/RCTReconnectingWebSocket.h
  Libraries/WebSocket/RCTReconnectingWebSocket.m
  React/Base/RCTBridge+Private.h
  React/Base/RCTBridge.m
  React/Base/RCTBundleURLProvider.h
  React/Base/RCTBundleURLProvider.m
  React/Base/RCTJSEnvironment.h
  React/CxxBridge/RCTCxxBridge.mm
  React/DevSupport/RCTPackagerClient.h
  React/DevSupport/RCTPackagerClient.m
  React/DevSupport/RCTPackagerConnection.h
  React/DevSupport/RCTPackagerConnection.m
  React/DevSupport/RCTPackagerConnection.mm
  React/DevSupport/RCTPackagerConnectionBridgeConfig.h
  React/DevSupport/RCTPackagerConnectionBridgeConfig.m
  React/DevSupport/RCTPackagerConnectionConfig.h
  React/DevSupport/RCTReloadPackagerMethod.h
  React/DevSupport/RCTReloadPackagerMethod.m
  React/DevSupport/RCTSamplingProfilerPackagerMethod.h
  React/DevSupport/RCTSamplingProfilerPackagerMethod.mm
  React/Modules/RCTDevSettings.h
  React/Modules/RCTDevSettings.mm
  React/React.xcodeproj/project.pbxproj
  React/ReactLegacy.xcodeproj/project.pbxproj
Owners: @shergin, @mhorowitz

RCTRedBox should appear beneath the status bar
  React/Modules/RCTRedBox.m
Owners: @shergin

Deleted YGSetMemoryFucs as it is unused
  ReactCommon/yoga/yoga/Yoga.c
  ReactCommon/yoga/yoga/Yoga.h
Owners: none

Fix Shadow Props
  docs/shadow-props.md
Owners: @hramos

Change c files to cpp
  React.podspec
  React/React.xcodeproj/project.pbxproj
  React/ReactLegacy.xcodeproj/project.pbxproj
  ReactCommon/yoga/Android.mk
  ReactCommon/yoga/BUCK
  ReactCommon/yoga/yoga.podspec
  ReactCommon/yoga/yoga/YGEnums.cpp
  ReactCommon/yoga/yoga/YGNodeList.cpp
  ReactCommon/yoga/yoga/Yoga.cpp
  ReactCommon/yoga/yoga/Yoga.h
Owners: none

Prevent a crash when no cursor drawable is set
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputManager.java
Owners: none

Add a sample to clarify animation callback
  docs/animated.md
Owners: @hramos

Fix border-rendering in APIs < 18
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java
Owners: none

react-native-git-upgrade signal termination
  react-native-git-upgrade/cliEntry.js
Owners: none

Fixed fractional border width on iOS
  React/Views/RCTBorderDrawing.m
Owners: @shergin

Fix crash with non-zero blurRadius less than 1
  ReactAndroid/src/main/java/com/facebook/react/views/image/ReactImageView.java
Owners: none

Increase prepare js timeout
  Libraries/WebSocket/RCTWebSocketExecutor.m
Owners: none

Remove empty lines to ensure JavaScript is loaded
  docs/getting-started.md
  docs/integration-with-existing-apps.md
  docs/running-on-device.md
Owners: @hramos

Implement requiresMainQueueSetup in RCTTVNavigationEventEmitter
  React/Modules/RCTTVNavigationEventEmitter.m
Owners: @shergin

Fix markdown in requiresMainQueueSetup warning
  React/Base/RCTModuleData.mm
Owners: @shergin

packager-worker-for-buck: refactor and fix source map output
  local-cli/__mocks__/fs.js
  local-cli/__tests__/fs-mock-test.js
Owners: none

Update jest preprocessors to use the ast from the transformers
  jest/preprocessor.js
Owners: none

packager-worker-for-buck: bundleCommand-test.js: add more consistency
  local-cli/__mocks__/fs.js
  local-cli/__tests__/fs-mock-test.js
Owners: none
