Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Default enableBabelRCLookup (recursive) to false
  local-cli/util/Config.js
Owners: none

Improve RCTCxxBridge invalidation
  React/Base/RCTBatchedBridge.mm
  React/Base/RCTModuleData.mm
  React/CxxBridge/RCTCxxBridge.mm
  React/CxxModule/DispatchMessageQueueThread.h
  ReactCommon/cxxreact/Instance.h
Owners: @shergin, @mhorowitz

Migrate tests away from "jsdom" environment
  Libraries/Animated/src/__tests__/AnimatedNative-test.js
  Libraries/Network/fetch.js
  package.json
Owners: @hramos

Android Oreo (8.0) Support
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DebugOverlayController.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevLoadingViewController.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/WindowOverlayCompat.java
Owners: none

Add all test routes as server snapshot tests
  ReactAndroid/src/androidTest/java/com/facebook/react/testing/ReactAppTestActivity.java
Owners: none

Restructured inheritance around ReactTextViewManager and co.
  ReactAndroid/src/main/java/com/facebook/react/flat/RCTTextInput.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactBaseTextShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextAnchorViewManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextViewManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactVirtualTextShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactVirtualTextViewManager.java
  ReactAndroid/src/test/java/com/facebook/react/uimanager/UIManagerModuleTest.java
  ReactAndroid/src/test/java/com/facebook/react/views/text/ReactTextTest.java
Owners: none

ReactRawTextShadowNode does not inherit ReactTextShadowNode anymore
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactRawTextManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactRawTextShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactVirtualTextViewManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputShadowNode.java
Owners: none

support null titles in AlertIOS
  Libraries/Alert/AlertIOS.js
Owners: none

Fix small typo
  Libraries/Lists/FlatList.js
Owners: none

Add missing delete to requestIdleCallback
  Libraries/Core/Timers/JSTimers.js
Owners: none

Branding: "packager" -> "Metro Bundler"
  local-cli/server/server.js
Owners: none

Fix error in flow types
  Libraries/Share/Share.js
Owners: none

Flow type: saveToCameraRoll returns a string
  Libraries/CameraRoll/CameraRoll.js
Owners: none

Use Node 8 instead of 7 in Travis CI
  .travis.yml
Owners: none

Proper support of the accessibilityLabel for <Text> components on iOS
  Libraries/Text/RCTText.m
  RNTester/js/AccessibilityIOSExample.js
Owners: @shergin

Minor documentation correction for exposing native iOS components
  docs/NativeComponentsIOS.md
Owners: @hramos

Remove 'box-only' as a layoutOnlyProp
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewProps.java
Owners: none

Removing fallback source URL from JS bridge
  React/Base/RCTBatchedBridge.mm
  React/Base/RCTBridgeDelegate.h
  React/CxxBridge/RCTCxxBridge.mm
Owners: @shergin, @mhorowitz

mActivelyScrolling expected to be true so long as events are being fired.
  ReactAndroid/src/main/java/com/facebook/react/views/scroll/ReactHorizontalScrollView.java
Owners: none

Add Example for TouchableOpacity.js
  Libraries/Components/Touchable/TouchableOpacity.js
Owners: none

Add missing Contents.json, delete files that shouldn't be in .xcassets
  local-cli/templates/HelloWorld/ios/HelloWorld/Images.xcassets/Contents.json
Owners: none

Upgrade yargs to 9.0.0
  package.json
Owners: @hramos

Fixed issue with remeasuring ReactTextShadowNode
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextShadowNode.java
Owners: none

Allow data lists to include 0 or '' (falsey items)
  Libraries/Lists/VirtualizedList.js
Owners: none

Access AppState constants on main thread
  React/Modules/RCTAppState.m
Owners: @shergin

Fix build errors exposed by building against clang 5.0
  Libraries/Image/RCTImageCache.m
  React/Base/RCTUtils.m
  React/Views/RCTShadowView.m
Owners: @shergin

Refactor how symlinks are discovered in local-cli, support scoped modules
  local-cli/util/Config.js
  local-cli/util/__mocks__/fs.js
  local-cli/util/__tests__/findSymlinkedModules-test.js
  local-cli/util/findSymlinkedModules.js
Owners: none

Upgrade babel-plugin-react-transform to v3.x
  babel-preset/package.json
Owners: @hramos

Make <TextInput multiline> default blurOnSubmit to false.
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactEditText.java
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputManager.java
Owners: none

Fix crash when trying to load photo library assets with nil image url
  Libraries/CameraRoll/RCTPhotoLibraryImageLoader.m
Owners: none

add some RN Core markers
  ReactAndroid/src/main/java/com/facebook/debug/debugoverlay/model/BUCK
  ReactAndroid/src/main/java/com/facebook/debug/debugoverlay/model/DebugOverlayTag.java
  ReactAndroid/src/main/java/com/facebook/debug/holder/BUCK
  ReactAndroid/src/main/java/com/facebook/debug/holder/NoopPrinter.java
  ReactAndroid/src/main/java/com/facebook/debug/holder/Printer.java
  ReactAndroid/src/main/java/com/facebook/debug/holder/PrinterHolder.java
  ReactAndroid/src/main/java/com/facebook/debug/tags/ReactDebugOverlayTags.java
  ReactAndroid/src/main/java/com/facebook/react/BUCK
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/BUCK
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java
Owners: none

Native view manager event types exposed to JS via view config
  Libraries/ReactNative/requireNativeComponent.js
  Libraries/Renderer/ReactNativeFiber-dev.js
  Libraries/Renderer/ReactNativeFiber-prod.js
  Libraries/Renderer/shims/ReactNativeBridgeEventPlugin.js
  Libraries/Renderer/shims/ReactNativeTypes.js
  React/Modules/RCTUIManager.m
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModuleConstants.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModuleConstantsHelper.java
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactTextInputManager.java
Owners: @shergin

ReactNative sync (c3718c4...abce30f): the one about the Prepack optimizations
  Libraries/ART/ReactNativeART.js
  Libraries/ReactNative/requireNativeComponent.js
  Libraries/Renderer/REVISION
  Libraries/Renderer/ReactNativeFiber-dev.js
  Libraries/Renderer/ReactNativeFiber-prod.js
  Libraries/Renderer/ReactNativeStack-dev.js
  Libraries/Renderer/ReactNativeStack-prod.js
  Libraries/Renderer/shims/ReactNative.js
  Libraries/Renderer/shims/ReactNativeTypes.js
  Libraries/Text/Text.js
Owners: @shergin

Bump metro-bundler dependency to 0.17
  package.json
Owners: @hramos

Use the Config type from Metro
  local-cli/bundle/buildBundle.js
  local-cli/core/index.js
  local-cli/server/runServer.js
  local-cli/server/server.js
  local-cli/util/Config.js
  package.json
Owners: @grabbou, @kureev, @hramos

Move destroy threads in catalystinstance off the UI thread
  ReactAndroid/src/main/java/com/facebook/react/bridge/CatalystInstanceImpl.java
Owners: none

Zero out all fields in YGZeroOutLayoutRecursivly using memset
  ReactCommon/yoga/yoga/Yoga.c
Owners: none

Bump react/jsx-no-undef (undefined require) from warning to error
  .eslintrc
Owners: none

Added Flow types for React Native host components
  Libraries/Components/View/View.js.flow
Owners: none

Re-added global event-type Map to UIManager constants
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModuleConstantsHelper.java
Owners: none
