Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @facebook/react-native, @janicduplessis, @shergin, @javache, @grabbou, @kureev

Add 'contentInsetAdjustmentBehavior' (new in iOS 11) to ScrollView
  Libraries/Components/ScrollView/ScrollView.js
  React/Views/RCTScrollView.m
  React/Views/RCTScrollViewManager.m
Owners: @shergin, @javache

Fix broken Buck installation link
  scripts/validate-android-test-env.sh
Owners: none

RCTImage: Use C atomics instead of OSAtomic
  Libraries/Image/RCTImageLoader.m
  Libraries/Image/RCTImageStoreManager.m
  Libraries/Image/RCTLocalAssetImageLoader.m
Owners: @shergin

Provide default implementation of getConstants
  ReactCommon/cxxreact/CxxModule.h
Owners: none

RCTProfile: Use C atomics instead of OSAtomic
  React/Profiler/RCTProfile.m
Owners: none

Fix navigation menu regression on mobile
  website/src/react-native/css/react-native.css
Owners: none

Fixes unintended side effects caused by #14684
  Libraries/Experimental/SwipeableRow/SwipeableRow.js
Owners: none

Fix a broken link in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Docs: fix typo
  docs/NativeModulesIOS.md
Owners: @facebook/react-native

RCTNavigatorManager - drop unneeded error callback
  Libraries/Components/Navigation/NavigatorIOS.ios.js
  React/Views/RCTNavigatorManager.m
Owners: @shergin, @javache

Remove unused npm packages and move CI dependency to devDependencies
  package.json
Owners: @facebook/react-native

Assure the Inspector socket runs through the lifecycle of ReactNative
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DisabledDevSupportManager.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/interfaces/DevSupportManager.java
Owners: none

add setNativeProps to SectionList
  Libraries/Lists/SectionList.js
Owners: none

Retrieve correct content uri for videos
  ReactAndroid/src/main/java/com/facebook/react/modules/camera/CameraRollManager.java
Owners: none

Separate window dimensions change from orientation
  ReactAndroid/src/main/java/com/facebook/react/ReactRootView.java
Owners: none

@allow-large-files [Flow] Deploy v0.52.0 to xplat
  .flowconfig
  Libraries/Lists/VirtualizedSectionList.js
  package.json
Owners: @facebook/react-native

Remove more unused jest-related devDependencies
  package.json
Owners: @facebook/react-native

Make the CLI recognize CRNA projects
  local-cli/link/link.js
  local-cli/runAndroid/runAndroid.js
  local-cli/runIOS/runIOS.js
  local-cli/util/findReactNativeScripts.js
Owners: @grabbou, @kureev

add way for JS to query process-wide perf stats
  ReactCommon/cxxreact/JSCPerfStats.cpp
Owners: none

document how to export consts from a swift native module
  docs/NativeModulesIOS.md
Owners: @facebook/react-native

Move HelloWorld template to a single index.js entry point
  ContainerShip/scripts/run-ci-e2e-tests.sh
  docs/GettingStarted.md
  docs/IntegrationWithExistingApps.md
  docs/Tutorial.md
  local-cli/generator/copyProjectTemplateAndReplace.js
  local-cli/templates/HelloNavigation/App.js
  local-cli/templates/HelloNavigation/index.android.js
  local-cli/templates/HelloNavigation/index.ios.js
  local-cli/templates/HelloWorld/App.js
  local-cli/templates/HelloWorld/__tests__/App.js
  local-cli/templates/HelloWorld/__tests__/index.ios.js
  local-cli/templates/HelloWorld/android/app/build.gradle
  local-cli/templates/HelloWorld/android/app/src/main/java/com/helloworld/MainApplication.java
  local-cli/templates/HelloWorld/index.ios.js
  local-cli/templates/HelloWorld/index.js
  local-cli/templates/HelloWorld/ios/HelloWorld/AppDelegate.m
  scripts/android-e2e-test.js
  scripts/react-native-xcode.sh
  scripts/run-ci-e2e-tests.js
  scripts/test-manual-e2e.sh
Owners: @facebook/react-native

run onReactContextInitialized() on the UIThread
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
Owners: none

Report native warnings to YellowBox
  Libraries/ReactNative/YellowBox.js
  Libraries/Utilities/RCTLog.js
Owners: none

Add deprecation warning to RCTBatchedBridge
  React/Base/RCTBatchedBridge.mm
Owners: @shergin, @javache

Expose offset parameters for ToastAndroid
  Libraries/Components/ToastAndroid/ToastAndroid.android.js
  RNTester/js/ToastAndroidExample.android.js
  ReactAndroid/src/main/java/com/facebook/react/modules/toast/ToastModule.java
Owners: none

troubleshooting docs (clone #14885)
  docs/RunningOnDevice.md
  website/src/react-native/img/XcodeBuildIP.png
Owners: @facebook/react-native

fix typo
  docs/NativeComponentsAndroid.md
Owners: @facebook/react-native

Allow to fetch files over the network
  ReactAndroid/src/main/java/com/facebook/react/modules/network/RequestBodyUtil.java
Owners: none

Native Animated - Restore default values when removing props on Android
  ReactAndroid/src/main/java/com/facebook/react/animated/NativeAnimatedModule.java
  ReactAndroid/src/main/java/com/facebook/react/animated/NativeAnimatedNodesManager.java
  ReactAndroid/src/main/java/com/facebook/react/animated/PropsAnimatedNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModuleListener.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIViewOperationQueue.java
  ReactAndroid/src/test/java/com/facebook/react/animated/BUCK
  ReactAndroid/src/test/java/com/facebook/react/animated/NativeAnimatedModuleTest.java
  ReactAndroid/src/test/java/com/facebook/react/animated/NativeAnimatedNodeTraversalTest.java
Owners: @janicduplessis

Correctly handle the case where HEADER_SEARCH_PATHS is a single string
  local-cli/link/__fixtures__/project.pbxproj
  local-cli/link/__tests__/ios/mapHeaderSearchPaths.spec.js
  local-cli/link/ios/mapHeaderSearchPaths.js
Owners: none

Adding documentation to useNativeDriver portion of the Animated API
  docs/Animations.md
Owners: @facebook/react-native

Update default .gitignore to work with fastlane setups in sub-folders
  local-cli/templates/HelloWorld/_gitignore
Owners: none

Revert D5556439: [react-native][PR] Native Animated - Restore default values when removing props on Android
  ReactAndroid/src/main/java/com/facebook/react/animated/NativeAnimatedModule.java
  ReactAndroid/src/main/java/com/facebook/react/animated/NativeAnimatedNodesManager.java
  ReactAndroid/src/main/java/com/facebook/react/animated/PropsAnimatedNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModuleListener.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIViewOperationQueue.java
  ReactAndroid/src/test/java/com/facebook/react/animated/BUCK
  ReactAndroid/src/test/java/com/facebook/react/animated/NativeAnimatedModuleTest.java
  ReactAndroid/src/test/java/com/facebook/react/animated/NativeAnimatedNodeTraversalTest.java
Owners: @janicduplessis

Cleanup stray markdown files, update contributing guidelines
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  Libraries/Text/Text.js
  Libraries/Utilities/PixelRatio.js
  docs/Contributing.md
  docs/IntegrationWithExistingApps.md
  docs/IssueGuidelines.md
  docs/Maintainers.md
  docs/PixelRatio.md
  docs/PullRequestGuidelines.md
  docs/Testing.md
  docs/Text.md
  website/core/HeaderLinks.js
  website/src/react-native/support.js
Owners: @shergin, @facebook/react-native

Add proper Stetho debugging setup documentation
  docs/Debugging.md
Owners: @facebook/react-native

always set camera distance on transforms, to default 1280 if 0
  ReactAndroid/src/main/java/com/facebook/react/uimanager/BaseViewManager.java
Owners: none

Set alertTitle in UILocalNotification
  Libraries/PushNotificationIOS/PushNotificationIOS.js
  Libraries/PushNotificationIOS/RCTPushNotificationManager.m
Owners: none

Fixed issue with install third party script in directory with spaces
  React/React.xcodeproj/project.pbxproj
  scripts/ios-install-third-party.sh
Owners: none

add `pinchEnabled` prop to ScrollView
  Libraries/Components/ScrollView/ScrollView.js
  React/Views/RCTScrollView.m
  React/Views/RCTScrollViewManager.m
Owners: @shergin, @javache

Fix indentation
  local-cli/util/Config.js
Owners: none

.github/CODEOWNERS:

docs/* @facebook/react-native
blog/* @facebook/react-native
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin @javache
React/Views/* @shergin @javache
React/Modules/* @shergin @javache
React/CxxBridge/* @javache
React/Executors/* @javache
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
ReactCommon/* @javache
website/* @facebook/react-native
website/showcase.json @facebook/react-native
package.json @facebook/react-native
website/package.json @facebook/react-native
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev
