Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

Fix help link in issue template
  .github/ISSUE_TEMPLATE.md
Owners: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Upgrade Jest to "21.3.0-beta.13"
  package.json
Owners: @hramos

Round size geometry for Button and RichText components.
  ReactCommon/yoga/yoga/Yoga.h
Owners: none

Upgrade to 1.9.1
  Libraries/Animated/src/AnimatedImplementation.js
  Libraries/Animated/src/NativeAnimatedHelper.js
  Libraries/Animated/src/nodes/AnimatedValue.js
  Libraries/Animated/src/nodes/AnimatedValueXY.js
  Libraries/Blob/URL.js
  Libraries/CameraRoll/CameraRoll.js
  Libraries/Lists/ViewabilityHelper.js
  Libraries/ReactNative/AppRegistry.js
  Libraries/ReactNative/YellowBox.js
  RNTester/js/CheckBoxExample.js
  local-cli/server/util/debugger-ui/DeltaPatcher.js
  package.json
Owners: @hramos

react-native: BundleSegments: remove async/await
  Libraries/Utilities/BundleSegments.js
Owners: none

Fix some flow errors that appear
  Libraries/Animated/src/Easing.js
  Libraries/CameraRoll/CameraRoll.js
  Libraries/StyleSheet/StyleSheetValidation.js
Owners: none

Correct logo URL
  IntegrationTests/ImageCachePolicyTest.js
  Libraries/Image/Image.android.js
  Libraries/Image/ImageBackground.js
  RNTester/RNTesterUnitTests/RCTImageLoaderTests.m
  RNTester/js/ImageExample.js
Owners: @shergin

Add callback for Connection/Disconnection to Metro
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevServerHelper.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java
  ReactAndroid/src/main/java/com/facebook/react/packagerconnection/JSPackagerClient.java
  ReactAndroid/src/test/java/com/facebook/react/packagerconnection/JSPackagerClientTest.java
Owners: none

metro: introduce asyncRequire function
  Libraries/Utilities/BundleSegments.js
  Libraries/Utilities/asyncRequire.js
Owners: none

Use clang-5.0 -Oz
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Use currentActivity to display redbox, loading view and dev menu
  ReactAndroid/src/main/java/com/facebook/react/ReactActivityDelegate.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DebugOverlayController.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevLoadingViewController.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerFactory.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManagerImpl.java
  ReactAndroid/src/main/java/com/facebook/react/devsupport/ReactInstanceManagerDevHelper.java
Owners: none

Revert D6155682: Use clang-5.0 -Oz
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Fork Platform with a modified API
  Libraries/Utilities/PlatformOS.android.js
  Libraries/Utilities/PlatformOS.ios.js
Owners: none

Providing an API to load assets from a different directory
  Libraries/Image/RCTImageLoader.h
  Libraries/Image/RCTImageLoader.m
Owners: @shergin

Report all errors from running tests
  Libraries/RCTTest/RCTTestRunner.m
Owners: none

Skalarkify flags macros.
  ReactCommon/cxxreact/BUCK
Owners: none

Add remote API to uninstall the global error handler in RN
  Libraries/BatchedBridge/BatchedBridge.js
  Libraries/BatchedBridge/MessageQueue.js
  Libraries/BatchedBridge/__tests__/MessageQueue-test.js
Owners: none

Fix BadTokenException and IllegalArgmentException thrown when showing or dismissing Modal
  ReactAndroid/src/main/java/com/facebook/react/views/modal/ReactModalHostView.java
Owners: none

Revert D6437807: [react-native][PR] Generalize ActionSheetManager items URL
  Libraries/ActionSheetIOS/RCTActionSheetManager.m
Owners: none

metro-buck: add e2e testing of command
  local-cli/__mocks__/fs.js
  local-cli/__tests__/fs-mock-test.js
Owners: none

-[RCTUIManagerObserver uiManagerDidPerformMounting]
  React/Modules/RCTUIManager.m
  React/Modules/RCTUIManagerObserverCoordinator.h
  React/Modules/RCTUIManagerObserverCoordinator.mm
Owners: @shergin

Renaming uiManagerWillFlushUIBlocks -> uiManagerWillPerformMounting
  Libraries/NativeAnimation/RCTNativeAnimatedModule.m
  React/Modules/RCTUIManager.m
  React/Modules/RCTUIManagerObserverCoordinator.h
  React/Modules/RCTUIManagerObserverCoordinator.mm
Owners: @janicduplessis, @shergin

Backed out changeset 4fe617216293
  ReactAndroid/src/main/java/com/facebook/react/modules/network/NetworkingModule.java
  ReactAndroid/src/test/java/com/facebook/react/modules/network/NetworkingModuleTest.java
Owners: none

ScrollView related files were moved to dedicated folder
  React/React.xcodeproj/project.pbxproj
  React/Views/ScrollView/RCTScrollContentShadowView.h
  React/Views/ScrollView/RCTScrollContentShadowView.m
  React/Views/ScrollView/RCTScrollContentView.h
  React/Views/ScrollView/RCTScrollContentView.m
  React/Views/ScrollView/RCTScrollContentViewManager.h
  React/Views/ScrollView/RCTScrollContentViewManager.m
  React/Views/ScrollView/RCTScrollView.h
  React/Views/ScrollView/RCTScrollView.m
  React/Views/ScrollView/RCTScrollViewManager.h
  React/Views/ScrollView/RCTScrollViewManager.m
  React/Views/ScrollView/RCTScrollableProtocol.h
Owners: none

Removing `reactBridgeDidFinishTransaction` from RCTScrollView
  React/Views/RCTScrollContentView.h
  React/Views/RCTScrollContentView.m
  React/Views/RCTScrollContentViewManager.m
  React/Views/RCTScrollView.h
  React/Views/RCTScrollView.m
Owners: @shergin

Do not overwrite the same text in ReactEditText
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactEditText.java
Owners: none

Update to Flow v0.61.0
  .flowconfig
  local-cli/templates/HelloWorld/_flowconfig
  package.json
Owners: @hramos

remove embeddedBundleURL
  React/Base/RCTBridge.h
  React/Base/RCTBridge.m
  React/Base/RCTBridgeDelegate.h
  React/CxxBridge/RCTCxxBridge.mm
  React/Modules/RCTSourceCode.m
Owners: @shergin, @mhorowitz

Explicitly #define isnan __builtin_isnan for Android clang-5 to mimic gcc's default behavior
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Implement changes needed to HMRClient to handle wrapped modules from metro
  Libraries/Utilities/HMRClient.js
Owners: none

Fix - argument type in RCTEventEmitter
  React/Modules/RCTEventEmitter.h
  React/Modules/RCTEventEmitter.m
Owners: @shergin

add CoreEventTypes with LayoutEvent
  IntegrationTests/LayoutEventsTest.js
  Libraries/Types/CoreEventTypes.js
Owners: none

Meyers singleton jsc error extractor
  ReactCommon/jschelpers/JSCHelpers.cpp
  ReactCommon/jschelpers/JSCHelpers.h
Owners: none

Allow extending props supported by native animations
  Libraries/Animated/src/NativeAnimatedHelper.js
Owners: none

Fixed retain cycle in RCTFBHTTPRequestHandler
  React/Base/RCTURLRequestHandler.h
Owners: @shergin

Flow Type ActionSheetIOS
  Libraries/ActionSheetIOS/ActionSheetIOS.js
Owners: none

Some TouchableHighlight cleanup
  Libraries/Components/Touchable/TouchableHighlight.js
  Libraries/Components/Touchable/__tests__/__snapshots__/TouchableHighlight-test.js.snap
  Libraries/StyleSheet/StyleSheet.js
Owners: none

Fix isNuclideDebuggingAvailable on iOS
  React/Modules/RCTDevSettings.mm
Owners: @shergin

metro-buck: check validity of segments
  Libraries/Utilities/asyncRequire.js
Owners: none

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev
