Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hramos, @janicduplessis, @shergin, @mhorowitz, @grabbou, @kureev

.github/CODEOWNERS:

docs/* @hramos
blog/* @hramos
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
website/* @hramos
website/showcase.json @hramos
package.json @hramos
website/package.json @hramos
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev

Using SafeAreaView in YellowBox (2nd attempt)
  Libraries/ReactNative/YellowBox.js
Owners: none

Allow applicationId to be specified on build
  local-cli/runAndroid/runAndroid.js
Owners: none

Fix slider colors in Android
  ReactAndroid/src/main/java/com/facebook/react/views/slider/ReactSliderManager.java
Owners: none

Move debugger client code to its own folder
  local-cli/server/middleware/getDevToolsMiddleware.js
  local-cli/server/runServer.js
  local-cli/server/util/debugger-ui/debuggerWorker.js
  local-cli/server/util/debugger-ui/index.html
Owners: none

Use BitmapRegionDecoder to efficiently crop images on Android
  ReactAndroid/src/main/java/com/facebook/react/modules/camera/ImageEditingManager.java
Owners: none

Only disallow changes if the value actually changed
  ReactAndroid/src/main/java/com/facebook/react/views/switchview/ReactSwitch.java
Owners: none

explicitly show how to add the optional listener
  Libraries/Animated/src/AnimatedImplementation.js
Owners: none

Fixes removeClipSubviews check for offscreen rendering of ListViews
  React/Views/RCTView.m
Owners: @shergin

Update typings for Promise.all() for D5827319
  flow/Promise.js
Owners: none

Make the runBeforeMainModule config param to RN repo and make it absolute
  local-cli/bundle/buildBundle.js
  local-cli/server/runServer.js
  local-cli/util/Config.js
  rn-cli.config.js
Owners: none

Bunch of utility funcs were moved to RCTUIManagerUtils
  Libraries/NativeAnimation/RCTNativeAnimatedModule.h
  React/Modules/RCTUIManager.h
  React/Modules/RCTUIManager.m
  React/Modules/RCTUIManagerUtils.h
  React/Modules/RCTUIManagerUtils.m
  React/Profiler/RCTProfile.m
  React/React.xcodeproj/project.pbxproj
  React/ReactLegacy.xcodeproj/project.pbxproj
  React/Views/RCTViewManager.m
Owners: @janicduplessis, @shergin

Updated support for WebStorm
  local-cli/server/util/launchEditor.js
Owners: none

Make Module.getName() synchronous
  local-cli/server/util/attachHMRServer.js
Owners: none

Default TextInput autoCapitalize to sentences on Android
  Libraries/Components/TextInput/TextInput.js
Owners: none

Un-inline-ing a method declared as export
  ReactCommon/yoga/yoga/Yoga.c
Owners: none

Upgrade to 1.7.0
  package.json
Owners: @hramos

Codemod to 1.7.0
  Libraries/Lists/ListView/ListView.js
  Libraries/Lists/MetroListView.js
  Libraries/Lists/ViewabilityHelper.js
  Libraries/Lists/VirtualizedList.js
  Libraries/Lists/VirtualizedSectionList.js
  Libraries/Lists/__flowtests__/FlatList-flowtest.js
  Libraries/Lists/__flowtests__/SectionList-flowtest.js
  Libraries/Lists/__tests__/SectionList-test.js
  Libraries/Lists/__tests__/VirtualizedList-test.js
  Libraries/ReactNative/AppContainer.js
  Libraries/ReactNative/YellowBox.js
  RNTester/js/CameraRollExample.js
  RNTester/js/CheckBoxExample.js
  RNTester/js/WebSocketExample.js
Owners: none

Log call stack symbols in case of native module method's failure
  React/CxxModule/RCTNativeModule.mm
Owners: none

Add missing website dep
  package.json
  website/package.json
Owners: @hramos

Bump metro-bundler dependency to 0.19.x
  package.json
Owners: @hramos

add UI Manager operations
  ReactAndroid/src/main/java/com/facebook/debug/holder/NoopPrinter.java
  ReactAndroid/src/main/java/com/facebook/debug/holder/Printer.java
  ReactAndroid/src/main/java/com/facebook/debug/tags/ReactDebugOverlayTags.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/BUCK
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
Owners: none

Enabling `flashScrollIndicators` example for all platforms
  RNTester/js/ScrollViewExample.js
Owners: none

Backed out changeset 7c338fe3b747
  ReactAndroid/src/main/java/com/facebook/react/flat/FlatReactModalShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/flat/FlatShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/flat/MoveProxy.java
  ReactAndroid/src/main/java/com/facebook/react/flat/NativeViewWrapper.java
  ReactAndroid/src/main/java/com/facebook/react/flat/RCTVirtualText.java
  ReactAndroid/src/main/java/com/facebook/react/processing/ReactPropertyProcessor.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/LayoutShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNodeImpl.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewManagersPropertyCache.java
  ReactAndroid/src/main/java/com/facebook/react/views/art/ARTVirtualNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/modal/ModalHostShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactRawTextShadowNode.java
  ReactAndroid/src/test/java/com/facebook/react/uimanager/ReactPropForShadowNodeSetterTest.java
  ReactAndroid/src/test/java/com/facebook/react/uimanager/ReactPropForShadowNodeSpecTest.java
Owners: none

Validate that JS and Native code versions match for RN releases
  Libraries/Core/InitializeCore.js
  Libraries/Core/ReactNativeVersion.js
  React/Base/RCTPlatform.m
  React/Base/RCTVersion.h
  React/React.xcodeproj/project.pbxproj
  ReactAndroid/src/main/java/com/facebook/react/modules/systeminfo/AndroidInfoModule.java
  ReactAndroid/src/main/java/com/facebook/react/modules/systeminfo/BUCK
  ReactAndroid/src/main/java/com/facebook/react/modules/systeminfo/ReactNativeVersion.java
  jest/setup.js
  scripts/bump-oss-version.js
  scripts/versiontemplates/RCTVersion.h.template
  scripts/versiontemplates/ReactNativeVersion.java.template
  scripts/versiontemplates/ReactNativeVersion.js.template
Owners: @shergin

Add onScrollToIndexFailed support
  Libraries/Lists/VirtualizedList.js
Owners: none

Removed unused imports from RCTUIManager
  React/Modules/RCTUIManager.m
Owners: @shergin

Add missing node-notifier npm dependency
  package.json
Owners: @hramos

missing parentheses in example code
  docs/Animations.md
Owners: @hramos

add Relay as a category
  ReactAndroid/src/main/java/com/facebook/debug/tags/ReactDebugOverlayTags.java
Owners: none

always pass key parameter to RCTReadFile
  React/Modules/RCTAsyncLocalStorage.m
Owners: @shergin

Implement lazy discovery for ViewManagers.
  Libraries/ReactNative/UIManager.js
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/CatalystNativeJSToJavaParametersTestCase.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/CatalystNativeJavaToJSArgumentsTestCase.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/CatalystNativeJavaToJSReturnValuesTestCase.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/CatalystUIManagerTestCase.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/JSLocaleTest.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/ProgressBarTestCase.java
  ReactAndroid/src/androidTest/java/com/facebook/react/tests/ViewRenderingTestCase.java
  ReactAndroid/src/main/java/com/facebook/react/CompositeReactPackage.java
  ReactAndroid/src/main/java/com/facebook/react/CoreModulesPackage.java
  ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManager.java
  ReactAndroid/src/main/java/com/facebook/react/ReactNativeCorePackage.java
  ReactAndroid/src/main/java/com/facebook/react/ViewManagerOnDemandReactPackage.java
  ReactAndroid/src/main/java/com/facebook/react/flat/FlatUIImplementationProvider.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementationProvider.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModuleConstantsHelper.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewManagerRegistry.java
  ReactAndroid/src/test/java/com/facebook/react/uimanager/ReactPropConstantsTest.java
  ReactAndroid/src/test/java/com/facebook/react/uimanager/UIManagerModuleConstantsTest.java
  ReactAndroid/src/test/java/com/facebook/react/uimanager/UIManagerModuleTest.java
  ReactAndroid/src/test/java/com/facebook/react/views/text/ReactTextTest.java
  ReactAndroid/src/test/java/com/facebook/react/views/textinput/TextInputTest.java
Owners: none

Make ios-install-third-party.sh more robust
  scripts/ios-install-third-party.sh
Owners: none

Add @format to MessageQueue
  Libraries/BatchedBridge/MessageQueue.js
Owners: none

fix arc drawing when sweep >= 360
  ReactAndroid/src/main/java/com/facebook/react/views/art/ARTShapeShadowNode.java
Owners: none

Add SwipeableFlatList
  Libraries/Experimental/SwipeableRow/SwipeableFlatList.js
  Libraries/Lists/FlatList.js
  Libraries/Lists/VirtualizedList.js
  Libraries/react-native/react-native-implementation.js
  RNTester/js/RNTesterList.android.js
  RNTester/js/RNTesterList.ios.js
  RNTester/js/SwipeableFlatListExample.js
Owners: none

fix params order in comments clamp.js
  Libraries/Utilities/clamp.js
Owners: none

Add Delta Bundler client to JS remote debugger
  local-cli/server/util/debugger-ui/DeltaPatcher.js
  local-cli/server/util/debugger-ui/deltaUrlToBlobUrl.js
  local-cli/server/util/debugger-ui/index.html
Owners: none

Add Source Map support to e2e deltas in chrome debugger
  local-cli/server/util/debugger-ui/deltaUrlToBlobUrl.js
Owners: none

Add GlobalImageLoadListener
  ReactAndroid/src/main/java/com/facebook/react/flat/DrawImageWithDrawee.java
  ReactAndroid/src/main/java/com/facebook/react/flat/RCTImageViewManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/image/GlobalImageLoadListener.java
  ReactAndroid/src/main/java/com/facebook/react/views/image/ReactImageManager.java
  ReactAndroid/src/main/java/com/facebook/react/views/image/ReactImageView.java
Owners: none

metro-bundler: add fs#writeFileSync to the mock
  local-cli/util/__mocks__/fs.js
  local-cli/util/__tests__/fs-mock-test.js
Owners: none
