Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janicduplessis, @shergin, @mhorowitz, @hramos, @cpojer

.github/CODEOWNERS:

Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
**/*.md @hramos @cpojer
package.json @hramos @cpojer

Fix implicit conversion warning in RCTInspector.mm (#23577)
  React/Inspector/RCTInspector.mm
Owners: none

Don't reconnect inspector if connection refused (#22625)
  React/Inspector/RCTInspectorPackagerConnection.m
Owners: none

Enable js e2e tests (#23571)
  .circleci/config.yml
  scripts/run-ci-e2e-tests.js
Owners: none

Update ws dependency (#23520)
  IntegrationTests/websocket_integration_test_server.js
  RNTester/js/websocket_test_server.js
  package.json
  yarn.lock
Owners: @hramos, @cpojer

Remove unused import, followup to D14114388
  ReactAndroid/src/main/java/com/facebook/react/fabric/FabricUIManager.java
Owners: none

Fix issue with composing text not being cleared on some Android devices (#18859)
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactEditText.java
Owners: none

Split React.podspec into separate podspecs for each Xcode project (#23559)
  Libraries/ART/React-ART.podspec
  Libraries/ActionSheetIOS/React-RCTActionSheet.podspec
  Libraries/Blob/React-RCTBlob.podspec
  Libraries/CameraRoll/React-RCTCameraRoll.podspec
  Libraries/Geolocation/React-RCTGeolocation.podspec
  Libraries/Image/React-RCTImage.podspec
  Libraries/LinkingIOS/React-RCTLinking.podspec
  Libraries/NativeAnimation/React-RCTAnimation.podspec
  Libraries/Network/React-RCTNetwork.podspec
  Libraries/PushNotificationIOS/React-RCTPushNotification.podspec
  Libraries/RCTTest/React-RCTTest.podspec
  Libraries/Settings/React-RCTSettings.podspec
  Libraries/Text/React-RCTText.podspec
  Libraries/Vibration/React-RCTVibration.podspec
  Libraries/WebSocket/React-RCTWebSocket.podspec
  Libraries/fishhook/React-fishhook.podspec
  RNTester/Podfile
  RNTester/Podfile.lock
  React.podspec
  React/React-Core.podspec
  React/React-DevSupport.podspec
  ReactCommon/cxxreact/React-cxxreact.podspec
  ReactCommon/jsi/React-jsi.podspec
  ReactCommon/jsiexecutor/React-jsiexecutor.podspec
  ReactCommon/jsinspector/React-jsinspector.podspec
  ReactCommon/yoga/yoga.podspec
  third-party-podspecs/DoubleConversion.podspec
  third-party-podspecs/Folly.podspec
  third-party-podspecs/glog.podspec
Owners: @shergin, @janicduplessis

Upgrade Metro to 0.52.0
  package.json
  yarn.lock
Owners: @hramos, @cpojer

enable symbolicate for sectioned sourcemaps (#23572)
  packages/react-native-symbolicate/__tests__/__fixtures__/testfile.sectioned.js.map
  packages/react-native-symbolicate/__tests__/symbolicate-test.js
  packages/react-native-symbolicate/symbolicate.js
Owners: none

Refactor the way UIManagerModule uses measure specs
  ReactAndroid/src/main/java/com/facebook/react/ReactRootView.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/UIManager.java
  ReactAndroid/src/main/java/com/facebook/react/fabric/FabricUIManager.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNode.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactShadowNodeImpl.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/common/MeasureSpecProvider.java
Owners: none

Created spec for SegmentFetcher native module
  Libraries/Core/SegmentFetcher/NativeSegmentFetcher.js
  Libraries/Core/setUpSegmentFetcher.js
Owners: none

NativeModules iOS: downgrade duplicated module message to warning instead of error
  React/CxxBridge/RCTCxxBridge.mm
Owners: @mhorowitz

support checkbox tinting (#18300)
  Libraries/Components/CheckBox/AndroidCheckBoxNativeComponent.js
  Libraries/Components/CheckBox/CheckBox.android.js
  RNTester/js/CheckBoxExample.js
  ReactAndroid/src/main/java/com/facebook/react/views/checkbox/ReactCheckBoxManager.java
Owners: none

Refactor CameraRollView to not rely on ListView (#23517)
  RNTester/js/CameraRollExample.js
  RNTester/js/CameraRollView.js
Owners: none

Add deprecated-react-native-listview
  package.json
  yarn.lock
Owners: @hramos, @cpojer

Prevent okhttp from adding ;charset=utf8 to ContentType Header (#23580)
  ReactAndroid/src/main/java/com/facebook/react/modules/network/NetworkingModule.java
  ReactAndroid/src/test/java/com/facebook/react/modules/network/NetworkingModuleTest.java
Owners: none

Fix build error warning of Text module (#23586)
  Libraries/Text/TextInput/RCTBaseTextInputView.m
Owners: none

Fix RNTester warnings (#23584)
  Libraries/LinkingIOS/RCTLinkingManager.m
  RNTester/RNTester/AppDelegate.m
  RNTester/RNTester/Images.xcassets/AppIcon.appiconset/Contents.json
  RNTester/RNTester/Images.xcassets/AppIcon.appiconset/Icon-40@2x.png
  RNTester/RNTester/Images.xcassets/AppIcon.appiconset/Icon-40@3x.png
  RNTester/RNTester/Images.xcassets/AppIcon.appiconset/Icon-60@3x.png
  RNTester/RNTester/Images.xcassets/AppIcon.appiconset/Icon-76@2x.png
  RNTester/RNTester/Images.xcassets/AppIcon.appiconset/Icon-83.5@2x.png
  RNTester/RNTester/Images.xcassets/AppIcon.appiconset/Icon-Small-40@2x.png
  RNTester/RNTester/Images.xcassets/AppIcon.appiconset/Icon-Small-40@3x.png
  RNTester/RNTester/Images.xcassets/AppIcon.appiconset/Icon-Small@2x.png
  RNTester/RNTester/Images.xcassets/AppIcon.appiconset/Icon-Small@3x.png
  RNTester/RNTester/Images.xcassets/AppIcon.appiconset/iTunesArtwork@1x.png
Owners: none

Toggle secureTextEntry cursor spacing (#23524)
  Libraries/Text/TextInput/RCTBaseTextInputView.h
  Libraries/Text/TextInput/RCTBaseTextInputView.m
  Libraries/Text/TextInput/RCTBaseTextInputViewManager.m
  RNTester/js/TextInputExample.ios.js
Owners: none

Remove compiler warning (#23588)
  React/Base/RCTBridge+Private.h
  React/React.xcodeproj/project.pbxproj
  ReactCommon/cxxreact/JSBigString.h
  ReactCommon/cxxreact/JSExecutor.h
  ReactCommon/cxxreact/MethodCall.cpp
  ReactCommon/cxxreact/NativeToJsBridge.cpp
  ReactCommon/cxxreact/SampleCxxModule.cpp
  ReactCommon/cxxreact/SystraceSection.h
  ReactCommon/jsiexecutor/jsireact/JSIExecutor.cpp
Owners: @shergin

Don't call `jni_YGNodeFree` as fast native method
  ReactAndroid/src/main/jni/first-party/yogajni/jni/YGJNI.cpp
Owners: none

bump android gradle plugin to 3.3.1 (#23598)
  build.gradle
  template/android/build.gradle
Owners: none

Revert of [D13948951]Apply the fix for CJK languages on single-line test fields.
  Libraries/Text/TextInput/Singleline/RCTUITextField.m
Owners: none

Fix IllegalArgumentException when creating CookieManager
  ReactAndroid/src/main/java/com/facebook/react/modules/network/ForwardingCookieHandler.java
Owners: none

fix rotation transforms
  ReactCommon/fabric/components/view/conversions.h
Owners: none

Add logging for BatchMountItem
  ReactAndroid/src/main/java/com/facebook/react/fabric/mounting/mountitems/BatchMountItem.java
Owners: none

optimize updateRootLayoutSpecs to not call setContraints if they did not change
  ReactAndroid/src/main/java/com/facebook/react/fabric/FabricUIManager.java
Owners: none

Force updateRootLayoutSpecs to run synchronously
  ReactAndroid/src/main/java/com/facebook/react/fabric/FabricUIManager.java
Owners: none

Rename makeCriticalNativeMethod to discourage over-use
  ReactAndroid/src/main/jni/first-party/fb/include/fb/fbjni/CoreClasses.h
  ReactAndroid/src/main/jni/first-party/fb/include/fb/fbjni/Registration.h
  ReactAndroid/src/main/jni/first-party/yogajni/jni/YGJNI.cpp
Owners: none

Use existing character set in POST body when possible (#23603)
  ReactAndroid/src/main/java/com/facebook/react/modules/network/NetworkingModule.java
  ReactAndroid/src/test/java/com/facebook/react/modules/network/NetworkingModuleTest.java
Owners: none

add nullable annotations to some ViewManager methods (#23610)
  ReactAndroid/src/main/java/com/facebook/react/uimanager/BaseViewManager.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewManager.java
Owners: none

Annotate our CircleCI config (#23606)
  .circleci/config.yml
Owners: none

optimize calls to updateRootLayoutSpecs
  ReactAndroid/src/main/java/com/facebook/react/ReactRootView.java
Owners: none

Add new performance metric in Fabric
  ReactAndroid/src/main/java/com/facebook/react/fabric/FabricUIManager.java
  ReactAndroid/src/main/java/com/facebook/react/fabric/jsi/jni/Binding.cpp
Owners: none

Temporarily remove optimization of updateRootLayoutSpecs
  ReactAndroid/src/main/java/com/facebook/react/fabric/FabricUIManager.java
Owners: none

add talkback navigation support for links and header (#22447)
  RNTester/js/AccessibilityAndroidExample.android.js
  ReactAndroid/src/main/java/com/facebook/react/uimanager/AccessibilityDelegateUtil.java
  ReactAndroid/src/main/res/views/uimanager/values/strings.xml
Owners: none

Fixed deprecated declarations warning (#23625)
  React/Modules/RCTStatusBarManager.m
Owners: @shergin

Add Image query cache result type (#23608)
  Libraries/Image/Image.ios.js
  Libraries/Image/RCTImageLoader.m
Owners: @shergin

macOS : request interactive input when killing the packager (#19663)
  scripts/launchPackager.command
Owners: none

Fix textAttributes not applied when typing text (#23585)
  Libraries/Text/RCTTextAttributes.m
  Libraries/Text/TextInput/Multiline/RCTUITextView.m
  Libraries/Text/TextInput/RCTBackedTextInputViewProtocol.h
  Libraries/Text/TextInput/RCTBaseTextInputView.m
  Libraries/Text/TextInput/Singleline/RCTUITextField.m
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1-iOS12@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSliderExample_1-iOS12@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSwitchExample_1-iOS12@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testTextExample_1-iOS12@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testViewExample_1-iOS12@2x.png
Owners: @shergin
