Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @facebook/react-native, @janicduplessis, @shergin, @javache, @grabbou, @kureev

Specialize JSCValueEncoder for id instead of NSArray
  React/CxxBridge/RCTCxxBridge.mm
  React/CxxModule/RCTCxxUtils.h
  ReactCommon/cxxreact/JSCExecutor.h
Owners: @javache

Allow native modules to customize the main-thread init behaviour
  React/Base/RCTBridgeModule.h
  React/Base/RCTModuleData.mm
  React/CxxModule/RCTCxxModule.mm
Owners: @shergin, @javache

Expose didCloseWithCode in RCTReconnectingWebSocket
  Libraries/WebSocket/RCTReconnectingWebSocket.h
  Libraries/WebSocket/RCTReconnectingWebSocket.m
  Libraries/WebSocket/RCTWebSocketObserver.m
  React/DevSupport/RCTPackagerConnection.m
Owners: none

Configure requiresMainQueueSetup for core modules
  Libraries/Blob/RCTBlobManager.m
  Libraries/Settings/RCTSettingsManager.m
  RNTester/RNTesterUnitTests/RCTModuleInitNotificationRaceTests.m
  React/Base/RCTPlatform.m
  React/DevSupport/RCTDevLoadingView.m
  React/DevSupport/RCTDevMenu.m
  React/Modules/RCTAccessibilityManager.m
  React/Modules/RCTAppState.m
  React/Modules/RCTDevSettings.mm
  React/Modules/RCTDeviceInfo.m
  React/Modules/RCTI18nManager.m
  React/Modules/RCTSourceCode.m
  React/Modules/RCTUIManager.m
  React/Profiler/RCTPerfMonitor.m
Owners: @shergin, @javache

Remove unused RCTWebSocketObserverProtocol
  Libraries/WebSocket/RCTWebSocketObserverProtocol.h
  React/DevSupport/RCTPackagerConnection.m
  React/ReactLegacy.xcodeproj/project.pbxproj
Owners: none

Limit calls to SoLoader
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReactBridge.java
Owners: none

Add pertinent info for fresh flatlisters
  Libraries/Lists/FlatList.js
  docs/Performance.md
Owners: @facebook/react-native

Fixed ART Surface initialization: do not cancel updates to the surfce, make them pen…
  ReactAndroid/src/main/java/com/facebook/react/views/art/ARTSurfaceViewShadowNode.java
Owners: none

Export `Animated.Node` for ease of type checking
  Libraries/Animated/src/AnimatedImplementation.js
Owners: none

Add locking around calls from JSCExecuter
  ReactCommon/cxxreact/JSCExecutor.cpp
  ReactCommon/jschelpers/JSCHelpers.cpp
  ReactCommon/jschelpers/JSCHelpers.h
Owners: none

add --port options to run-android, defaults to 8081
  local-cli/runAndroid/runAndroid.js
Owners: none

fishhook nwlog_legacy_v to avoid log spam on websocket reconnect
  Libraries/WebSocket/RCTReconnectingWebSocket.m
  Libraries/WebSocket/RCTWebSocket.xcodeproj/project.pbxproj
  Libraries/fishhook/LICENSE
  Libraries/fishhook/README.md
  Libraries/fishhook/fishhook.c
  Libraries/fishhook/fishhook.h
  Libraries/fishhook/fishhook.xcodeproj/project.pbxproj
  RNTester/RNTester.xcodeproj/project.pbxproj
  RNTester/RNTesterLegacy.xcodeproj/project.pbxproj
  React.podspec
Owners: none

Add Performance in Marketplace blog post
  blog/2017-08-07-react-native-performance-in-marketplace.md
  blog/img/RNPerformanceStartup.png
Owners: @facebook/react-native

Reject local-cli promises with Error objects
  local-cli/dependencies/dependencies.js
  local-cli/library/library.js
Owners: none

add perf marker that fires first time content is added to root view
  ReactAndroid/src/main/java/com/facebook/react/ReactRootView.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/ReactMarkerConstants.java
Owners: none

Fix format specifier used in RCTCxxMethod
  React/CxxModule/RCTCxxMethod.mm
Owners: none

Fishhook needs to support Apple TV
  Libraries/WebSocket/RCTWebSocket.xcodeproj/project.pbxproj
  Libraries/fishhook/fishhook.xcodeproj/project.pbxproj
Owners: none

Fix stale separator props and expose CellRenderer refs
  Libraries/Lists/SectionList.js
  Libraries/Lists/VirtualizedList.js
  Libraries/Lists/VirtualizedSectionList.js
Owners: none

Add travis bot for react-native
  .travis.yml
Owners: none

Remove typed option loading
  local-cli/util/Config.js
Owners: none

Improve definition of RCTNilIfNull
  React/Base/RCTUtils.h
Owners: @shergin, @javache

Fix crash when converting NSNull values
  React/Base/RCTConvert.m
Owners: @shergin, @javache

Fix format specifier used in RCTUIManager
  React/Modules/RCTUIManager.m
Owners: @shergin, @javache

Fix syntax error
  React/Views/RCTTabBar.m
Owners: @shergin, @javache

Fix podspec test
  React/Base/RCTTVRemoteHandler.m
Owners: @shergin, @javache

Merge fishhook.xcodeproj in RCTWebSocket
  Libraries/WebSocket/RCTWebSocket.xcodeproj/project.pbxproj
  Libraries/fishhook/fishhook.xcodeproj/project.pbxproj
  RNTester/RNTester.xcodeproj/project.pbxproj
  RNTester/RNTesterLegacy.xcodeproj/project.pbxproj
Owners: none

Upgrade fbjs-scripts
  package.json
Owners: @facebook/react-native

Fix infinite recursion in RCTSettingsManager init
  Libraries/Settings/RCTSettingsManager.h
  Libraries/Settings/RCTSettingsManager.m
Owners: none

Wait for bridge to disappear when running tests
  Libraries/RCTTest/RCTTestRunner.m
  RNTester/RNTesterIntegrationTests/RNTesterIntegrationTests.m
Owners: none

React 16 beta 5 sync (5495e49...c3718c4)
  Libraries/Animated/src/AnimatedImplementation.js
  Libraries/Renderer/REVISION
  Libraries/Renderer/ReactNativeFiber-dev.js
  Libraries/Renderer/ReactNativeFiber-prod.js
  Libraries/Renderer/ReactNativeStack-dev.js
  Libraries/Renderer/ReactNativeStack-prod.js
  jest/setup.js
  package.json
Owners: @facebook/react-native

Make console work with JS engines which use print
  Libraries/polyfills/console.js
Owners: none

unbreak touching in prod mode
  Libraries/Renderer/ReactNativeFiber-prod.js
Owners: none

Fix updating a view z-index on Android
  ReactAndroid/src/main/java/com/facebook/react/uimanager/BaseViewManager.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ReactZIndexedViewGroup.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/ViewGroupDrawingOrderHelper.java
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java
Owners: none

Fixes bad link in docs
  docs/IntegrationWithExistingApps.md
Owners: @facebook/react-native

Fix destructuring-style PropTypes references
  Libraries/Components/Navigation/NavigatorIOS.ios.js
Owners: none

Fix typo
  docs/LinkingLibraries.md
Owners: @facebook/react-native

LocalString doesn't have a check for nullptr
  ReactAndroid/src/main/jni/first-party/fb/jni/LocalString.cpp
Owners: none

Fix TextInput numeric keyboard submit
  Libraries/Text/RCTTextInput.m
Owners: @shergin

Improve spacing in polyfill error messages
  Libraries/polyfills/Object.es6.js
Owners: none

Bring back React Stack support
  Libraries/Core/InitializeCore.js
  Libraries/Performance/Systrace.js
  Libraries/Renderer/shims/ReactNativeFeatureFlags.js
Owners: none

.github/CODEOWNERS:

docs/* @facebook/react-native
blog/* @facebook/react-native
Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin @javache
React/Views/* @shergin @javache
React/Modules/* @shergin @javache
React/CxxBridge/* @javache
React/Executors/* @javache
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
ReactCommon/* @javache
website/* @facebook/react-native
website/showcase.json @facebook/react-native
package.json @facebook/react-native
website/package.json @facebook/react-native
local-cli/core/* @grabbou @kureev
local-cli/link/* @grabbou @kureev
local-cli/unlink/* @grabbou @kureev
