Repository onestar0319/react-native, changes with the owners that .github/CODEOWNERS names for each.
All owners: @janicduplessis, @shergin, @mhorowitz, @hramos, @cpojer

Fixed RNTester tvOS build error on Xcode10 (#23543)
  RNTester/RNTester.xcodeproj/project.pbxproj
Owners: none

fix the TextInput can't control input length when value's length > maxLength (#23545)
  Libraries/Text/TextInput/RCTBaseTextInputView.m
Owners: none

Fabric: Fix dangling brace (#23540)
  ReactCommon/fabric/sample/SampleComponentDescriptorFactor.cpp
Owners: none

Fixed textInput appearance not update when text attributes changed (#23533)
  Libraries/Text/TextInput/RCTBaseTextInputView.m
Owners: none

Update iOS Snapshots (#23538)
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testARTExample_1-iOS12@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testLayoutExample_1-iOS12@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSliderExample_1-iOS12@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSwitchExample_1-iOS12@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testTextExample_1-iOS12@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testViewExample_1-iOS12@2x.png
Owners: none

helpful error on canOpenURL for missing scheme (#23535)
  Libraries/LinkingIOS/RCTLinkingManager.m
Owners: none

Map TextInput textContentType strings to Objective-C constants (#22611)
  Libraries/Text/TextInput/RCTBaseTextInputView.m
  RNTester/js/TextInputExample.ios.js
Owners: none

Enable NativeAnimationDriver in Fabric
  ReactAndroid/src/main/java/com/facebook/react/animated/NativeAnimatedNodesManager.java
  ReactAndroid/src/main/java/com/facebook/react/animated/PropsAnimatedNode.java
  ReactAndroid/src/main/java/com/facebook/react/bridge/UIManager.java
  ReactAndroid/src/main/java/com/facebook/react/fabric/FabricUIManager.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/BUCK
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java
  ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java
  ReactAndroid/src/test/java/com/facebook/react/animated/NativeAnimatedNodeTraversalTest.java
Owners: @janicduplessis

JavaScript tests for symbolication
  packages/react-native-symbolicate/BUCK
  packages/react-native-symbolicate/__tests__/__fixtures__/testfile.attribution.input
  packages/react-native-symbolicate/__tests__/__fixtures__/testfile.cpuprofile
  packages/react-native-symbolicate/__tests__/__fixtures__/testfile.cpuprofile.map
  packages/react-native-symbolicate/__tests__/__fixtures__/testfile.js.map
  packages/react-native-symbolicate/__tests__/__fixtures__/testfile.profmap
  packages/react-native-symbolicate/__tests__/__fixtures__/testfile.stack
  packages/react-native-symbolicate/__tests__/__snapshots__/symbolicate-test.js.snap
  packages/react-native-symbolicate/__tests__/symbolicate-test.js
  packages/react-native-symbolicate/symbolicate.js
  packages/react-native-symbolicate/tests/symbolicate_test.sh
  packages/react-native-symbolicate/tests/testfile.attribution.output
  packages/react-native-symbolicate/tests/testfile.symbolicated.cpuprofile
  packages/react-native-symbolicate/tests/testfile.symbolicated.profmap
  packages/react-native-symbolicate/tests/testfile.symbolicated.stack
Owners: none

fix getPhotos params on RNTester XHR example. (#23548)
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testScrollViewExample_1-iOS12@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSliderExample_1-iOS12@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testSwitchExample_1-iOS12@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testTextExample_1-iOS12@2x.png
  RNTester/RNTesterIntegrationTests/ReferenceImages/RNTester-js-RNTesterApp.ios/testViewExample_1-iOS12@2x.png
  RNTester/js/XHRExampleFormData.js
Owners: none

JSI: Minor tweaks for building on MSVC (#23492)
  ReactCommon/jsi/jsi.h
Owners: none

Fix 50 xcode warnings (#23553)
  React/Base/Surface/RCTSurface.h
  React/Base/Surface/RCTSurface.mm
  React/Base/Surface/SurfaceHostingView/RCTSurfaceHostingView.mm
  React/CxxBridge/JSCExecutorFactory.mm
  React/CxxBridge/RCTCxxBridge.mm
  React/CxxBridge/RCTObjcExecutor.mm
  React/DevSupport/RCTPackagerConnection.mm
  React/Modules/RCTRedBox.m
  React/Modules/RCTUIManager.m
  React/Profiler/RCTProfile.h
  React/Views/RCTFont.mm
  React/Views/RCTPicker.m
  React/Views/RCTWKWebView.m
  React/Views/RCTWKWebViewManager.m
  React/Views/SafeAreaView/RCTSafeAreaShadowView.m
  React/Views/ScrollView/RCTScrollView.m
Owners: @mhorowitz, @shergin

bump gradle to 5.0, android gradle plugin to 3.3.1 (#23324)
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  template/android/build.gradle
  template/android/gradle/wrapper/gradle-wrapper.jar
  template/android/gradle/wrapper/gradle-wrapper.properties
Owners: none

Clone children only during layout, allow mixing shared + owned children
  ReactCommon/yoga/yoga/YGNode.cpp
  ReactCommon/yoga/yoga/YGNode.h
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Move node cloning to `YGConfig`
  ReactCommon/fabric/components/view/yoga/YogaLayoutableShadowNode.cpp
  ReactCommon/yoga/yoga/YGConfig.cpp
  ReactCommon/yoga/yoga/YGConfig.h
  ReactCommon/yoga/yoga/YGNode.cpp
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Add config for avoiding JNI refs
  ReactAndroid/src/main/java/com/facebook/yoga/YogaConfig.java
Owners: none

Add support for context-aware cloning functions
  ReactCommon/yoga/yoga/YGConfig.cpp
  ReactCommon/yoga/yoga/YGConfig.h
  ReactCommon/yoga/yoga/YGNode.cpp
  ReactCommon/yoga/yoga/YGNode.h
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

TM iOS C++: don't throw if a method is not found
  ReactCommon/turbomodule/core/TurboModule.cpp
Owners: none

Allow compiler optimization (#23536)
  React/CxxBridge/RCTCxxBridge.mm
Owners: @mhorowitz

Add HMRLoadingView module for web target (#23389)
  .flowconfig
  .flowconfig.android
  Libraries/Utilities/HMRLoadingView.js
Owners: none

Remove __fbRequireBatchedBridge call when not get batchedBridge (#23547)
  ReactCommon/jsiexecutor/jsireact/JSIExecutor.cpp
Owners: none

No longer run disabled tests on Héctor's PRs (#23562)
  .circleci/config.yml
  scripts/circleci/exec_author_check.sh
Owners: none

Fix xcode warnings (#23565)
  React/Base/RCTBundleURLProvider.m
  React/DevSupport/RCTDevMenu.m
  React/DevSupport/RCTInspectorDevServerHelper.mm
  React/Inspector/RCTInspectorPackagerConnection.m
  React/Modules/RCTRedBoxExtraDataViewController.m
  React/React.xcodeproj/project.pbxproj
  React/Views/RCTMaskedView.m
  React/Views/SafeAreaView/RCTSafeAreaView.m
  React/Views/ScrollView/RCTScrollView.m
Owners: @shergin

iOS downgrade invalid bridge warning (#23557)
  React/CxxModule/RCTNativeModule.mm
Owners: none

Fixed ScrollView adjust inset behavior (#23555)
  React/Views/ScrollView/RCTScrollView.m
Owners: none

Fix scrollview over bounds of content size (#23427)
  React/Views/ScrollView/RCTScrollView.m
Owners: none

- Fixed line not breaking when multiline set to true and keyboard type set to numeric (or other numeric type) (#21884)
  ReactAndroid/src/main/java/com/facebook/react/views/textinput/ReactEditText.java
Owners: none

Update network inspector to have smarter scroll stickiness (#21952)
  Libraries/Inspector/NetworkOverlay.js
Owners: none

Fix iOS e2e test (#23566)
  .circleci/config.yml
  scripts/run-ci-e2e-tests.js
Owners: none

Feature: dev menu option to change packager location during runtime (#21970)
  React/Base/RCTBundleURLProvider.m
  React/DevSupport/RCTDevMenu.m
Owners: @shergin

Make JS loading progress use tabular numbers
  React/DevSupport/RCTDevLoadingView.m
Owners: none

fix: prevent exception when imageName is null (#20120)
  React/Base/RCTUtils.m
Owners: @shergin

ReactTextView extends AppCompatTextView (#23321)
  ReactAndroid/src/main/java/com/facebook/react/views/text/BUCK
  ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextView.java
Owners: none

Do not bring app out of immersive mode when a modal is presented (#21078)
  ReactAndroid/src/main/java/com/facebook/react/views/modal/ReactModalHostView.java
Owners: none

Add setNextFocus support (#22082)
  Libraries/Components/Button.js
  Libraries/Components/Touchable/TouchableHighlight.js
  Libraries/Components/Touchable/TouchableNativeFeedback.android.js
  Libraries/Components/Touchable/TouchableOpacity.js
  Libraries/Components/View/ViewPropTypes.js
  ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewManager.java
Owners: none

Fix two bugs with Location when not using ACCESS_FINE_LOCATION (#10291)
  ReactAndroid/src/main/java/com/facebook/react/modules/location/BUCK
  ReactAndroid/src/main/java/com/facebook/react/modules/location/LocationModule.java
Owners: none

Allow to use JNI without global refs
  ReactAndroid/src/main/java/com/facebook/yoga/YogaNodeJNI.java
  ReactAndroid/src/main/jni/first-party/yogajni/jni/YGJNI.cpp
  ReactCommon/yoga/yoga/YGConfig.h
Owners: none

`setBaseLine` -> `setBaseline`
  ReactAndroid/src/main/jni/first-party/yogajni/jni/YGJNI.cpp
  ReactCommon/yoga/yoga/YGNode.h
  ReactCommon/yoga/yoga/Yoga.cpp
Owners: none

Fabric: Removed unnecessary const_cast leftovers
  ReactCommon/fabric/uimanager/UIManager.cpp
Owners: none

Enable profile builds by adding ObjC annotations
  Libraries/WebSocket/RCTSRWebSocket.m
  ReactCommon/fabric/graphics/platform/ios/Color.cpp
Owners: none

.github/CODEOWNERS:

Libraries/Animated/* @janicduplessis
Libraries/NativeAnimation/* @janicduplessis
Libraries/Image/* @shergin
Libraries/Text/* @shergin
React/Base/* @shergin
React/Views/* @shergin
React/Modules/* @shergin
React/CxxBridge/* @mhorowitz
ReactAndroid/src/main/java/com/facebook/react/animated/* @janicduplessis
**/*.md @hramos @cpojer
package.json @hramos @cpojer
